body{
	margin:0 auto;
	width:960px;
	font-family: Tahoma, Verdana, Simsun, "Microsoft YaHei", "Arial Unicode MS", Mingliu, Arial, Helvetica;
}
#mainbox{margin:0 auto;width:960px;clear:both;margin-top:10px;}
#header{height:112px;margin-top:20px;}
#nav_wrap{text-align:left;}
#logo{float:left;}
#nav_wrap .shop_special{float:right;padding:8px 0px 5px;width:430px;}
#nav_wrap .shop_special ul li a span{background:url(../images/nav_header.png) no-repeat;display: inline-block;padding-left:20px;margin-left:8px;float:left;cursor:pointer}
#nav_wrap .shop_special .zheng{background-position:left -42px; background-repeat:no-repeat;}
#nav_wrap .shop_special .guang{background-position:left -59px; background-repeat:no-repeat;}
#nav_wrap .shop_special .pei{background-position:left -76px; background-repeat:no-repeat;}
#nav_wrap .shop_special .phone{background-position:left -93px; background-repeat:no-repeat;}
#nav_wrap .shop_special ul li a span strong{font-weight:normal;}
.strong{color:#C60B17;}
#nav_menu{background:url(../images/nav_header.png) no-repeat;clear:both; background-position:left top;height:35px;padding-left:120px;padding-top:7px;}
#nav_search .search_input{border:1px solid #efefef; background-color:#fff;height:23px;float:left;margin-top:1px;width:217px;}
#nav_search .search_button{margin-left:5px;float:left;}
#nav_list{background:url(../images/nav_header.png) no-repeat; background-position:left -133px;float:left;width:123px;height:22px;padding:5px 0px 3px 5px;}
#nav_menu_text{float:left;margin-left:15px;width:320px;margin-top:4px;}
#nav_menu_text ul li{float:left;width:80px;font-size:14px;}
#nav_menu_text ul li a{color:#fff;}

.hot_search{clear:both;line-height:24px;padding:3px 0px 3px 8px;}
#index_top{clear:both;}
#index_top .index_pro_menu{background-image:url(../images/index_bg.png);background-position:left top;width:180px;height:344px; background-repeat:no-repeat;float:left;}
#index_top .index_banner{background-image:url(../images/index_bg.png);background-position:-180px top;width:516px;height:326px; background-repeat:no-repeat;float:left;padding:18px 0px 0px 11px;}
#index_top .index_top_cx{float:left;width:240px;height:344px;margin-left:13px;}
#index_top .index_pro_menu ul{margin:60px 0px 0px 30px;}
#index_top .index_pro_menu ul li{height:40px;font-size:14px;}
#index_top .index_pro_menu ul li a{color:#fff;}


#index_newpro{clear:both;margin-top:15px;}
.index_left{float:left;width:180px;}
.index_right{float:left;margin-left:10px;width:770px;}
#newpro .newpro_left{background-image:url(../images/index_bg.png); background-position:left -345px;width:517px;height:185px;background-repeat:no-repeat;float:left;margin-left:px;}
#newpro .newpro_right{background-image:url(../images/index_bg.png); background-position:left -531px;width:236px;height:185px;background-repeat:no-repeat;float:left;margin-left:12px;padding:0px 0px 0px 5px;}
.goleft{float:left;padding:55px 5px 0px 5px;}
.goright{float:left;padding:55px 5px 0px 5px;}
.newpro{float:left;padding:45px 5px 0px 5px;}
.newpro ul li{float:left;width:157px;text-align:center;}
.index-a{background-image:url(../images/index-a.jpg);width:768px;height:90px;clear:both;margin-top:15px;}
.inner {POSITION: relative; BORDER-LEFT: #dddddd 1px solid; ZOOM: 1; OVERFLOW: hidden; BORDER-RIGHT: #dddddd 1px solid;z-index:100;clear:both;}
.hd{clear:both;border-bottom:1px solid #ddd;line-height:21px;height:21px;}
.hd li{float:left;line-height:22px;text-align:center;}
.on{float:left; background-image:url(../images/index_bg.png); background-position:left -743px;height:22px;width:85px; background-repeat:no-repeat;}
.off{float:left; background-image:url(../images/index_bg.png); background-position:left -718px;height:21px;width:90px; background-repeat:no-repeat;}

.bd{clear:both;}
.rank{float:left; background-image:url(../images/index_bg.png); background-position:left -776px;height:9px;width:11px;FONT-SIZE: 10px; FONT-WEIGHT: bold; background-repeat:no-repeat;padding:0px 0px 4px 2px;line-height:12px;margin-top:5px;}
.inner dt{clear:both;height:24px; border-bottom:1px solid #dddddd;padding-left:5px;line-height:24px;}
.inner dt .name{margin-left:20px;}

.sp_title{background-image:url(../images/index_bg.png);background-position:left -800px; width:770px;height:29px; background-repeat:no-repeat;}
.sp_title2{background-image:url(../images/index_bg.png);background-position:left -830px; width:770px;height:29px; background-repeat:no-repeat;}
.sp_box ul{overflow:hidden;margin-top:15px;}
.sp_box li{margin:5px 0 5px 10px;width:140px;float:left; display:inline;line-height:24px;text-align:center;}
.sp_box li span{clear:both; cursor:pointer; display:block;}
.name{color:#333;}
.price{color:#999;}
.price strong{color:#dd0000;font-weight:bold;}
.selected{border-left:1px solid #FFBA29;border-right:1px solid #FFBA29;border-top:1px solid #FFBA29;margin:0 1px;border-bottom:none !important;}
.selected .rank{ background-image:url(../images/index_bg.png); background-position:left -883px;width:20px;height:23px;font-size:12px;color:#fff;line-height:24px;text-align:center;}
.goods{text-align:center; line-height:24px;clear:both;}
dd{border-left:1px solid #FFBA29;margin:0 1px; z-index:0;border-right:1px solid #FFBA29;border-bottom:1px solid #FFBA29}
.hot{font-weight:bold;color:#dd0000;}
.sh{border:1px solid #ddd;height:100px;padding:10px 15px 5px 15px;}
.sh p{margin-top:10px;line-height:24px;}
.help{float:left; background-image:url(../images/nav_header.png); background-position:left -165px ; background-repeat:no-repeat;width:170px;height:95px;padding:5px 0px 0px 57px;}
.gwbz{float:left; background-image:url(../images/nav_header.png); background-position:-227px -165px ; background-repeat:no-repeat;width:160px;height:95px;padding:5px 0px 0px 67px;}
.shfw{float:left; background-image:url(../images/nav_header.png); background-position:-454px -165px ; background-repeat:no-repeat;width:150px;height:95px;padding:5px 0px 0px 77px;}
.joinus{float:left; background-image:url(../images/nav_header.png); background-position:-681px -165px ; background-repeat:no-repeat;width:150px;height:95px;padding:5px 0px 0px 77px;}
.foot{text-align:center;line-height:24px;}

.zt_box{border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.zt_box li{width:180px!important;}
.zt_title{background-image:url(../images/zt_title.jpg);width:938px;height:30px;font-size:14px;font-weight:bold;padding:15px 0px 0px 20px;}

.list_menu{background-image:url(../images/list_menu_bg.png);width:182px;height:344px;}
.sorttitle{margin-top:8px;}
.list_menu ul{padding:60px 0px 0px 30px;}
.list_menu ul li{height:40px;font-size:14px;}
.list_menu ul li a{color:#fff;}
.list_menu2{margin-left:5px;}
.list_menu2_top{background-image:url(../images/list_menu_bg2.png);width:764px;height:17px;}
.list_menu2_foot{background-image:url(../images/list_menu_bg2.png);width:764px;height:17px; background-position:left -27px;}
.list_menu2_mid{background-image:url(../images/list_menu_mid.png);width:764px; background-repeat:repeat-y;line-height:24px;}
.list_menu2_class{padding:0px 15px 0px 15px;}
.list_menu2_classname{float:left;width:140px;}
.list_menu2_class ul{float:left;width:580px;}
.list_menu2_class ul li{float:left; padding:0px 10px 0px 10px;width:60px;}
.list_menu3{width:764px;clear:both;margin-top:15px;height:33px;margin-left:5px;}
.list_menu3_left{float:left;background-image:url(../images/list_menu_bg3.png); background-position:left top;width:6px;height:33px;}
.list_menu3_right{float:left;background-image:url(../images/list_menu_bg3.png); background-position:-6px top;width:6px;height:33px;}
.list_menu3_mid{float:left; background-image:url(../images/list_menu_bg3.png); background-position:left -33px; background-repeat:repeat-x;height:33px;width:752px;}
.list_box li{width:220px!important;padding:0px 10px 0px 10px;}
.list_box li img{border:1px solid #eee;padding:10px;}


.list_main_top{background-image:url(../images/list_main_title.png);width:744px;height:27px; background-repeat:no-repeat;font-size:16px;font-weight:bold;color:#F30;padding:5px 0px 0px 20px;}
.list_main_mid{float:left;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;width:742px;padding:10px;}
.list_main_foot{background-image:url(../images/list_main_foot.png);width:764px;height:16px; background-repeat:no-repeat;clear:both;}
.list_main_box{margin-left:5px;}
.list_main_cp{float:left;}
.list_main_buy{float:left;margin-left:15px;}
.list_main_buy table{width:367px;border:1px solid #eee; background-color:#EFEFEF;}
.list_main_buy td{height:30px;line-height:30px;padding-left:15px;}
.list_main_buy span{color:#F00;font-size:14px;font-weight:bold;padding:0px 5px 0px 5px;}
.list_main_bigimg{border:1px solid #eee;padding:5px;}
.list_main_cp ul {margin-top:10px;}
.list_main_cp ul li{float:left;border:2px solid #eee;margin-right:10px;}
.onimg{border:2px solid #FC3!important;}
.pay{margin-top:10px; background-image:url(../images/payway.jpg);width:367px;height:46px;}
.buy{margin-top:10px; border:1px solid #eee; width:345px;padding:10px;}
.buy .sl{width:70px;}
.buy_botton{margin-top:10px;}

.list_main_ms{margin-top:10px;margin-left:5px;width:764px;}
.list_main_ms p{padding:15px;}
.ms_title{background-image:url(../images/list_main_title.jpg);width:740px;height:24px;font-size:14px;font-weight:bold;padding:4px 0px 0px 24px;}

.user_reg_top{height:5px; background-color:#ce1400;}
.user_reg_box{border:1px solid #ffecdf;padding:40px 0px 20px 100px;}
.user_reg_box li{height:45px;clear:both;}
.idname{width:150px;font-size:14px;line-height:30px;float:left;}
.text_box{float:left;}
.in{background-image:url(../images/in_bg.jpg); background-position:bottom right;width:197px;height:22px;border:0px;padding:0px; background-repeat:no-repeat; padding:3px;}
.button_bg{background-image:url(../images/reg_bot.jpg);width:145px;height:28px;border:0px;text-align:center;font-size:14px;color:#5d5d5d;}
.reg_bot{margin-left:150px;}
.xy{margin-top:10px;line-height:24px;font-weight:bold;}
.reg_foot{border-bottom:1px solid #ffecdf;clear:both;}

.login_bg{background-image:url(../images/user_login_bg.jpg);width:341px;height:250px;margin:20px auto 0 auto;padding:65px 0px 0px 480px;}
.login_bg li{clear:both;height:40px;}
.login_bg .idname{width:70px;float:left;}
.login_bg .text_box{float:left;width:150px;}
.login_bot{margin-left:70px;}
.login_bot span{padding:0px 10px 0px 15px;}
.login_botton{background-image:url(../images/login_botton.jpg);width:80px;height:28px;border:0px;text-align:center;font-size:14px;color:#5d5d5d;}
.contact{border:1px solid #ddd;}
.contact p{padding:15px;line-height:30px;color:#325e7f;}
.contact_title{background-image:url(../images/home_title.jpg);height:30px;padding:5px 0px 0px 15px;font-size:14px;font-weight:bold;color:#325e7f;}
.home_menu{ background-color:#484977;height:30px;line-height:30px;}
.home_menu li{float:left;width:70px;text-align:center;}
.home_menu li a{color:#fff;}

.brand_box{border:1px solid #ddd; background-image:url(../images/brand_title_bg.jpg);width:918px; background-repeat:no-repeat;padding:0 20px;}
.brand_title{ border-bottom:1px solid #ddd;height:30px;line-height:30px;font-size:14px;font-weight:bold;margin-top:20px;clear:both;}
.brand_box ul{margin-top:15px;}
.brand_box li{float:left;padding-right:25px;text-align:center;line-height:30px;}
.reg_ok{border:1px solid #ffecdf;text-align:center;margin-top:200px;}
.reg_ok span{padding:30px;line-height:24px; font:700 24px/2.4em 'Microsoft YaHei','Î¢ÈíÑÅºÚ',SimSun,'ËÎÌå',sans-serif;color:#ce1400;float:left;}
.reg_ok ul{padding-top:45px;}
.reg_ok li{background-image:url(../images/login_botton.jpg);width:80px;height:28px;border:0px;text-align:center;font-size:14px;color:#5d5d5d;float:left;line-height:25px;padding-right:15px; background-repeat:no-repeat;}