<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>5e71638f-9469-492a-b915-042f4fcddf80</Id>
	<Parent>6c70da07-694b-4d2c-9163-07874787617d</Parent>
	<ResourceTemplate>260f513f-827f-4343-9298-5c81794ae015</ResourceTemplate>
	<ResourceListTemplate>9f66afd3-385b-46cc-aba6-2d57e12520e5</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-8-9 13:41:57</dUpdateDate>
	<dUpdateDate>2010-8-9 13:41:57</dUpdateDate>
	<vcClassName>ASP教程</vcClassName>
	<vcName>ASP教程</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/web2/asp/aspjc</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>sanyungui-chianz-ex</SkinId>
</Categorie>
<Categorie>
	<Id>6c70da07-694b-4d2c-9163-07874787617d</Id>
	<Parent>0</Parent>
	<ResourceTemplate>2bf1ff8a-2b3f-4f5a-a9b6-b87233e6ff4d</ResourceTemplate>
	<ResourceListTemplate>5b73ad7d-9178-4ce0-9b2a-27da1073de56</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-8-9 11:25:22</dUpdateDate>
	<dUpdateDate>2010-8-9 11:25:22</dUpdateDate>
	<vcClassName>asp</vcClassName>
	<vcName>asp</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/web2/asp</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>sanyungui-chianz-ex</SkinId>
</Categorie>
</Categories>