<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>1d8af051-33b3-4448-a87a-8c03de7ffbae</Id>
	<Parent>0</Parent>
	<ResourceTemplate>260f513f-827f-4343-9298-5c81794ae015</ResourceTemplate>
	<ResourceListTemplate>9f66afd3-385b-46cc-aba6-2d57e12520e5</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-11-29 19:10:13</dUpdateDate>
	<dUpdateDate>2010-11-29 19:10:13</dUpdateDate>
	<vcClassName>测试</vcClassName>
	<vcName>测试</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/list1</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>sanyungui-chianz-ex</SkinId>
</Categorie>
<Categorie>
	<Id>b7ef7efe-f1ed-45fa-9997-e6da7245e7f6</Id>
	<Parent>0</Parent>
	<ResourceTemplate>260f513f-827f-4343-9298-5c81794ae015</ResourceTemplate>
	<ResourceListTemplate>9f66afd3-385b-46cc-aba6-2d57e12520e5</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-11-29 21:13:29</dUpdateDate>
	<dUpdateDate>2010-11-29 21:13:29</dUpdateDate>
	<vcClassName>测试</vcClassName>
	<vcName>测试</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/list1</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>sanyungui-chianz-ex</SkinId>
</Categorie>
<Categorie>
	<Id>b9efc85f-d2ec-4328-be5d-697f273a9107</Id>
	<Parent>0</Parent>
	<ResourceTemplate>260f513f-827f-4343-9298-5c81794ae015</ResourceTemplate>
	<ResourceListTemplate>9f66afd3-385b-46cc-aba6-2d57e12520e5</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-11-29 21:13:29</dUpdateDate>
	<dUpdateDate>2010-11-29 21:13:29</dUpdateDate>
	<vcClassName>测试</vcClassName>
	<vcName>测试</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/list1</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>sanyungui-chianz-ex</SkinId>
</Categorie>
<Categorie>
	<Id>c769f4f2-56e0-481d-b5e0-aae23ecfc16e</Id>
	<Parent>0</Parent>
	<ResourceTemplate>260f513f-827f-4343-9298-5c81794ae015</ResourceTemplate>
	<ResourceListTemplate>9f66afd3-385b-46cc-aba6-2d57e12520e5</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-11-29 21:13:29</dUpdateDate>
	<dUpdateDate>2010-11-29 21:13:29</dUpdateDate>
	<vcClassName>测试</vcClassName>
	<vcName>测试</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/list1</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>sanyungui-chianz-ex</SkinId>
</Categorie>
<Categorie>
	<Id>df61204a-85fe-4308-903e-5746bc1e9c3f</Id>
	<Parent>0</Parent>
	<ResourceTemplate>260f513f-827f-4343-9298-5c81794ae015</ResourceTemplate>
	<ResourceListTemplate>9f66afd3-385b-46cc-aba6-2d57e12520e5</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-11-29 21:13:29</dUpdateDate>
	<dUpdateDate>2010-11-29 21:13:29</dUpdateDate>
	<vcClassName>测试</vcClassName>
	<vcName>测试</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/list1</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>sanyungui-chianz-ex</SkinId>
</Categorie>
</Categories>