<?xml version="1.0"?>
<Templates>
<Template>
	<Id>0b3c75a8-bbe1-4eb3-ad53-47f362d96a48</Id>
	<Content><![CDATA[<TcgPager>
	<div class="pages"> 共$pagecount$页/$topiccount$条  
	<Pev>
		<a href='{0}'>上一页</a>
	</Pev>
	<First>
		<a href='{0}'>首页</a>
	</First>
	<Pages>
		<Cur><strong>{1}</strong></Cur>
		<Page><a href='{0}'>{1}</a></Page>
		<ShowCount>7</ShowCount>
	</Pages>
	<Next>
	<a href='{0}'>下一页</a>
	</Next>
	<Last>
		<a href='{0}'>末页</a>
	</Last>
	<select name='sldd' style='width:38px' onchange='location.href=this.options[this.selectedIndex].value;'>
	<option value='{0}' {2}>{1}</option>
	</select>
</div>
</TcgPager>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/1 22:40:00</dUpdateDate>
	<dAddDate>2010/9/1 13:10:00</dAddDate>
	<vcTempName>pager</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>34761601-a692-4196-88d5-9e93b4bd37df</Id>
	<Content><![CDATA[ <div class="right_box right_bot">
            <div class="right_title">推荐文章</div>
            <ul>
<script type="text/javascript" src="/html/js/puttopics.js"></script>
            </ul>
        </div>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/1 22:44:00</dUpdateDate>
	<dAddDate>2010/9/1 16:32:00</dAddDate>
	<vcTempName>puttopics</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>df5acebc-be70-498b-a092-8a61a918bc49</Id>
	<Content><![CDATA[--]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>5</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/1 22:40:00</dUpdateDate>
	<dAddDate>2010/9/1 22:30:00</dAddDate>
	<vcTempName>js</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>7573345c-0c62-495b-be2f-09d6844a6d8d</Id>
	<Content><![CDATA[<tcg:item2 type="Resourcelist" categories="0" num="30" check="Y" del="N" create="Y" orders="NewId()">
document.write("<li><a href=\"$item2_vcFilePath$\" target=\"_blank\">$item2_vcTitle$</a></li>");</tcg:item2>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>df5acebc-be70-498b-a092-8a61a918bc49</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/1 22:46:00</dUpdateDate>
	<dAddDate>2010/9/1 22:32:00</dAddDate>
	<vcTempName>puttopics.js</vcTempName>
	<vcUrl>/html/js/puttopics.js</vcUrl>
</Template>
<Template>
	<Id>59762dad-72da-42b6-a9eb-9cbec6cab5e4</Id>
	<Content><![CDATA[<form name="formsearch" action="/s.aspx" method="get"><span><b>搜索:</b>
				<input type="hidden" name="kwtype" value="0" /> <input class="searchtxt" id="p" name="p" /> <select id="searchtype" name="select">
				<option value="titlekeyword">智能搜索</option>
				<option value="title" selected="selected">搜索标题</option>
				</select> <input type="image" src="/skin/chinazex/images/topsearch_submit.gif" /></span></form>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/1 23:26:00</dUpdateDate>
	<dAddDate>2010/9/1 23:16:00</dAddDate>
	<vcTempName>search</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>26b21646-5576-4c88-9184-ac9e5d264db6</Id>
	<Content><![CDATA[<tcg:Header type="Template" id="80e1d83d-d048-4783-94e6-19aa4d8a5513"></tcg:Header>
<tcg:leftemnu type="Template" id="9bb62cb2-3480-4916-8616-f18c9392a822"></tcg:leftemnu>
  <div class="main">
    <div class="index-pic"></div>
    <div class="content">
      <div class="index-left">
        <h1>关于我们 About Us</h1><img src="images/CHINAz_logo.gif" /><br />
        <div class="box1">
			<tcg:item2 type="Resource" id="130942">$item2_vcShortContent$</tcg:item2>
		</div>
      </div>
      <div class="index-right">
        <h1>工作室动态</h1>
        <ul class="news-list">
		<tcg:item3  type="Resourcelist" categories="af6e9805-42f8-45ef-be44-af9df8deaad5" num="12" check="Y" del="N" create="Y" orders="dAddDate DESC" >
		<li><span>$item3_dAddDate$</span><a href="$item3_vcFilePath$" target="_blank" title="$item3_vcTitle$">$item3_vcTitle$,39</a></li></tcg:item3>
        </ul>
      </div>
	  <div class="clear"></div>
    </div>
	
<tcg:Footer type="Template" id="d3172c41-ac42-4e4a-a030-813fea3e752d"></tcg:Footer>
]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/14 16:07:51</dUpdateDate>
	<dAddDate>2010/9/3 10:36:00</dAddDate>
	<vcTempName>about_index.html</vcTempName>
	<vcUrl>/about_index.html</vcUrl>
</Template>
<Template>
	<Id>80e1d83d-d048-4783-94e6-19aa4d8a5513</Id>
	<Content><![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们 - TCG CMS 开源CMS (C#) TCGCMS.com</title>
<link href="/skin/chinazex/css/about.css" rel="stylesheet" type="text/css" />
</head>
<body id="about">
<div class="top">
  <div class="top-logo">
    <div class="top-nav"><a href="http://www.tcgcms.cn">TCGCMS.com</a> | <a href="http://yxss.taobao.com">言蹊时尚</a> </div>
  </div>
</div>
<div class="wrap">]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/3 11:54:00</dUpdateDate>
	<dAddDate>2010/9/3 11:12:00</dAddDate>
	<vcTempName>about_head</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>cdf2181c-7002-489b-8e72-b346c2d8d8ca</Id>
	<Content><![CDATA[<tcg:Header type="Template" id="928f39aa-c5b7-42fc-ad6f-e2301acb9d99"></tcg:Header>
<div class="ad_navtext">
<div class="ad_index_banner">
<script type="text/javascript"> /*960*60，创建于2010-9-2*/ var cpro_id = 'u180281';</script>
<script type="text/javascript" src="http://cpro.baidu.com/cpro/ui/c.js"></script>
</div>
</div>
<div class="clearfix wrap layout-col2ultra">
<div class="col1">

	<DIV class="box">
	<DIV class="ad-loop">
	<script type="text/javascript">
	<!--
		
		var focus_width=278
		var focus_height=175
		var text_height=24
		var swf_height = focus_height+text_height
	function clearText (str) {
		return str.substr(0, str.length - 1);
	}
		
		var pics=clearText('http://www.chinaz.com/upimg/100901/_114F24I.jpg|http://www.chinaz.com/upimg/100830/_09323W29.jpg|http://www.chinaz.com/upimg/100826/_115625C1.jpg|http://www.chinaz.com/upimg/100825/_1P20I64.jpg|http://www.chinaz.com/upimg/100823/_12330V20.jpg|')
										 var links=clearText('http://www.chinaz.com/Webmaster/report/0Z11302J2010.html|http://www.chinaz.com/Webbiz/BizPlan/0S012a222010.html|http://www.chinaz.com/Webmaster/Club/0R612XK2010.html|http://www.chinaz.com/Webmaster/Club/0R512V302010.html|http://www.chinaz.com/Webmaster/report/0R212P532010.html|')
										 var texts=clearText("淘宝直通车今日封杀QQ号码推广 腾讯尚未回应|做好病毒广告 诀窍在于获得少数活跃者的青睐|盛大频繁收购文学网站 网络文学十年寿终正寝|开源史上最成功的8个开源产品 几乎无处不在|<font color='#FF0000'>腾讯已收购康盛创想 Discuz域名信息发生变更</font>|")
										 document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cabjavascript:void(0)version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'" align="left"  hspace="0">');
		document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="/skin/chinazex/images/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#F0F0F0">');
		document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
		document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'">');
		document.write('<embed src="/skin/chinazex/images/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#F0F0F0" quality="high" width="'+ focus_width +'" height="'+ swf_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
		document.write('</object>');
		
	//-->
	   </script>
	</DIV></DIV>

  	<div class="box">
        <div class="box_title"><h3><a href="/html/about/index.html" target=_blank>TCG CMS 相关</a></h3></div>
        <div class="box_1">
        <ul class="left_box">
        <tcg:item3  type="Resourcelist" categories="4a4fd67e-6bac-42ce-8c3b-22ebbf5b4292" num="12" check="Y" del="N" create="Y" orders="dAddDate DESC" ><li>· <a href="$item3_vcFilePath$" target="_blank" title="$item3_vcTitle$">$TCG.CutStrLeft($item3_vcTitle$,39)</a></li></tcg:item3>
        </ul>
        </div>
    </div>
  	
  </div>

  
  
  <div class="col2">
    <div class="col1">
        <div class="box">
          <div class="box_title"><span><a href="/html/wlbc/j2ee/list.html" target="_blank">j2ee/j2me</a></span><span><a href="/html/wlbc/php/index.html" target="_blank">php</a></span><span><a href="/html/wlbc/asp/index.html" target="_blank">asp</a></span><h3><a href="/html/wlbc/index.html">网络编程</a></h3></div>
          <tcg:item13 type="Resourcelist" categories="d0b90af4-0491-4e7c-9a45-ff5eee8c78ea" num="1" check="Y" del="N" create="Y" orders="dAddDate DESC" >
            <div class="box_bt"><a href="$item13_vcFilePath$" target="_blank" title="$item13_vcTitle$">$TCG.CutStrLeft($item13_vcTitle$,18)</a></div>
            <div class="box_text">$TCG.CutStrLeft(<TCG>$TCG.GetTextWithoutHtml($item13_vcShortContent$)</TCG>,100)</div>
          </tcg:item13>
          <div class="box_1">
              <ul class="center_box">
                  <tcg:item14 type="Resourcelist" categories="d0b90af4-0491-4e7c-9a45-ff5eee8c78ea" num="15" check="Y" del="N" create="Y" orders="dAddDate DESC" >
                    <li>· <a href="$item14_vcFilePath$" target="_blank" title="$item14_vcTitle$">$TCG.CutStrLeft($item14_vcTitle$,38)</a></li>
                  </tcg:item14>
              </ul>
          </div>	
      </div>
    </div>
    <div class="col2">
    <div class="box">
          <div class="box_title"><span><a href="/html/mstx/index.html" target="_blank">更多</a></span><h3><a href="/html/mstx/index.html">天下美食</a></h3></div>
          <tcg:item23 type="Resourcelist" categories="d87836e3-8cd0-4edb-b317-941c034f5f41" num="1" check="Y" del="N" create="Y" orders="dAddDate DESC" ><div class="box_bt"><a href="$item23_vcFilePath$" target="_blank" title="$item23_vcTitle$">$TCG.CutStrLeft($item23_vcTitle$,18)</a></div>
          <div class="box_text">$TCG.CutStrLeft(<TCG>$TCG.GetTextWithoutHtml($item23_vcShortContent$)</TCG>,100)</div>
          </tcg:item23>
          <div class="box_1">
              <ul class="center_box">
                  <tcg:item24 type="Resourcelist" categories="d87836e3-8cd0-4edb-b317-941c034f5f41" num="15" check="Y" del="N" create="Y" orders="dAddDate DESC" ><li>· <a href="$item24_vcFilePath$" target="_blank">$TCG.CutStrLeft($item24_vcTitle$,38)</a></li></tcg:item24> 
              </ul>
          </div>
      </div>
     </div> 

    
<div style="height:0;clear:both;overflow:hidden;"> </div>
  </div>
</div>  

<tcg:Footer type="Template" id="cecc4e4a-37c5-48c3-a07b-d7288e8b4c5b"></tcg:Footer>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/14 22:57:31</dUpdateDate>
	<dAddDate>2010/8/9 16:09:00</dAddDate>
	<vcTempName>index.html</vcTempName>
	<vcUrl>/index.html</vcUrl>
</Template>
<Template>
	<Id>d3172c41-ac42-4e4a-a030-813fea3e752d</Id>
	<Content><![CDATA[<div class="foot">CopyRight ? 2009 - 2010 TCG Content Management System . All Rights Reserved. 联系QQ：644139466 <br/> Designed by Tcg Cms 鄂ICP备09016016号 </div>
<div style="display:none">
<script type="text/javascript"> 
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff8e3acf12a196f47c88c367a92569328' type='text/javascript'%3E%3C/script%3E"));
</script> 
</div></div>
  <div class="clear"></div>
</div>
</body>
</html>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/3 11:26:00</dUpdateDate>
	<dAddDate>2010/9/3 11:26:00</dAddDate>
	<vcTempName>about_foot</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>928f39aa-c5b7-42fc-ad6f-e2301acb9d99</Id>
	<Content><![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TCG CMS 开源CMS (C#)</title>
 <meta name="keywords" content="资讯管理,企业建站,新闻系统,ASP.NET开源新闻系统"/>
 <meta name="description" content="专注于中小企业,商家网络信息化建设"/>
<link rel="shortcut icon" href="favicon.ico" >
<link rel="icon" href="favicon.gif" type="image/gif" >
<link href="/skin/chinazex/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/interface/aspx/categories.aspx?w=getallcategories"></script>
<script type="text/javascript" src="/interface/js/jquery.1.3.2.js"></script>
<script type="text/javascript" src="/interface/js/jquery.form.js"></script>
<script type="text/javascript" src="/interface/js/categories.js"></script>
<script type="text/javascript" src="/skin/chinazex/js/common.js"></script>
</head>
<body>
<div class="cztopbg">
<div class="container">
<div class="clearfix header">
  <div class="topnav">
	<!--#include file="/include/toplinks.shtml"-->
  </div>
  <div class="brand">
  <h1 class="site-name">tcgcms.cn - TCG CMS 开源CMS (C#)</h1>
  <a class="site-logo" href="/" title="TCG CMS 开源CMS (C#)" rel="home"><img src="/skin/chinazex/images/logo.gif" alt="电脑知识-新洲都市网 _$itSite$_" width="165" height="60" /></a>
  </div>
  <div class="ad-banner"><script type="text/javascript"> /*468*60，创建于2010-9-1*/ var cpro_id = 'u180159';</script>
<script type="text/javascript" src="http://cpro.baidu.com/cpro/ui/c.js"></script>
</div>
  <div class="ad-text">

  </div>

</div>

<div class="nav">
<div class="navinner">
  <ul class="navlist">
  <li><a href="/index.html">首页</a></li>
  <tcg:itemClassTitle type="CategoriesList" skin="sanyungui-chianz-ex"  parent="0"  orders="iOrder">	
  <li><a href="$itemClassTitle_vcUrl$" onmouseover="showMenu(this,$itemClassTitle_Index$)">$itemClassTitle_vcClassName$</a>
    <div class="subnav" onmousemove="$(this).show()">
      <p class="pointer">.</p>
      <p><span>
      <tcg:itemClassTitle$itemClassTitle_Id$ type="CategoriesList" skin="sanyungui-chianz-ex"  parent="$itemClassTitle_Id$"  orders="iOrder">
	  <a href="$itemClassTitle$itemClassTitle_Id$_vcUrl$">$itemClassTitle$itemClassTitle_Id$_vcClassName$</a> </tcg:itemClassTitle$itemClassTitle_Id$>
      </span></p>
    </div>  
  </li>
  </tcg:itemClassTitle>
  </ul>
</div>  
</div>
<div class="note"><span><a href="#"><img src="/skin/chinazex/images/td_icon.gif" align="absbottom" /> 匿名投稿</a>  
  <a href="#"><img src="/skin/chinazex/images/tg_icon.gif" align="absbottom"/> 投稿指南</a>
  <a href="#"><img src="/skin/chinazex/images/rss.gif" align="absbottom" /> RSS订阅</a></span>
  <b>本站通告:</b>
</div>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/3 7:15:00</dUpdateDate>
	<dAddDate>2010/8/9 9:11:00</dAddDate>
	<vcTempName>head</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>0e83f685-d520-43d3-b3e4-70c08369b5af</Id>
	<Content><![CDATA[<tcg:item2 type="Resource" id="_$Id$_" intitle="true">
<tcg:Header type="Template" id="80e1d83d-d048-4783-94e6-19aa4d8a5513"></tcg:Header>

<tcg:leftemnu type="Template" id="9bb62cb2-3480-4916-8616-f18c9392a822"></tcg:leftemnu>

  <div class="main">
    <div class="announce-pic"></div>
    <div class="content">
      <div class="box">
        <h1>>$item2_vcTitle$</h1>
        <div class="box1">
		$item2_vcContent$
        </div>
        <div class="gotop"><a href="#top"><img src="images/gotop.gif" alt="top" border="0" /></a></div>
      </div>
    </div>

	
<tcg:Footer type="Template" id="d3172c41-ac42-4e4a-a030-813fea3e752d"></tcg:Footer>
</tcg:item2>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>1</TemplateType>
	<iParentId>574c1fc2-df18-4821-87af-0073b6f00cc8</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/15 4:47:00</dUpdateDate>
	<dAddDate>2010/9/3 11:42:00</dAddDate>
	<vcTempName>about_detail</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>5b73ad7d-9178-4ce0-9b2a-27da1073de56</Id>
	<Content><![CDATA[<tcg:item3 type="Categories" id="_$ClassId$_" intitle="true">
<tcg:Header type="Template" id="928f39aa-c5b7-42fc-ad6f-e2301acb9d99"></tcg:Header>

<div class="weizhi"><tcg:Search type="Template" id="59762dad-72da-42b6-a9eb-9cbec6cab5e4"></tcg:Search><b>您的位置</b>：<a href="/">主页</a>> $item3_ClassTitleList$</div>

<div class="clearfix wrap layout-cols2">
	<div class="col1">
	<tcg:itemClassTitle type="CategoriesList" skin="sanyungui-chianz-ex"  parent="_$ClassId$_"  orders="iOrder">
	<div id="news_sort">
            <div class="news_title"><span><a href="$itemClassTitle_vcUrl$">更多</a>>></span>$itemClassTitle_vcClassName$</div>
			<ul>
			<tcg:item$itemClassTitle_Id$ type="Resourcelist" categories="$itemClassTitle_Id$" num="10" check="Y" del="N" create="Y" orders="iId DESC">
			<li><span>$item$itemClassTitle_Id$_dUpDateDate$</span>· <a href="$item$itemClassTitle_Id$_vcFilePath$" target="_blank">$item$itemClassTitle_Id$_vcTitle$</a></li></tcg:item$itemClassTitle_Id$>
            </ul>
        </div>
	</tcg:itemClassTitle>
  </div>
<!--列表左边:结束-->

<!--列表右边:开始--> 
  <div class="col2">
	<div class="right_bot" style="margin-left:10px">
<script type="text/javascript"> /*250*250，创建于2010-9-1*/ var cpro_id = 'u178502';</script>
<script type="text/javascript" src="http://cpro.baidu.com/cpro/ui/c.js"></script>

	</div>
<tcg:PutTopic type="Template" id="34761601-a692-4196-88d5-9e93b4bd37df"></tcg:PutTopic>
  </div>
</div>

<tcg:Footer type="Template" id="cecc4e4a-37c5-48c3-a07b-d7288e8b4c5b"></tcg:Footer>
</tcg:item3>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>1</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/15 4:47:00</dUpdateDate>
	<dAddDate>2010/8/9 8:47:00</dAddDate>
	<vcTempName>二级列表</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>cecc4e4a-37c5-48c3-a07b-d7288e8b4c5b</Id>
	<Content><![CDATA[<div class="sitemap">
  <tcg:Help type="Resourcelist" categories="6c0c96c3-198f-41c8-ba12-fd4eb7fd18d7" num="10" check="Y" del="N" create="Y" orders="iId DESC">
				  <a title="$Help_vcTitle$" href="$Help_vcUrl$" target="_blank">$Help_vcTitle$</a> - 
			</tcg:Help>
  <a href="/html/faq/index.html">帮助</a>
</div>
 
<div class="footer">
 <div class="copyright">
 	<p>CopyRight &copy; 2009 - 2010 TCG Content Management System . All Rights Reserved. 联系QQ：644139466</p>
    <p><a target="_blank" href="http://www.miibeian.gov.cn/">Designed by Tcg Cms 鄂ICP备09016016号</a>    
	<script type="text/javascript"> 
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff8e3acf12a196f47c88c367a92569328' type='text/javascript'%3E%3C/script%3E"));
</script> 
</p>
  </div>
</div>

</div>
</div>
</body>
</html>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/1 22:40:00</dUpdateDate>
	<dAddDate>2010/8/9 10:16:00</dAddDate>
	<vcTempName>foot</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>260f513f-827f-4343-9298-5c81794ae015</Id>
	<Content><![CDATA[<tcg:item3 type="Categories" id="_$ClassId$_" intitle="true">
<tcg:Header type="Template" id="213e4061-6e87-4534-8268-b26f972f60c3"></tcg:Header>
<!--banner start-->	
<div class="BannerArea"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/banner_about.jpg" alt="" /></div>

<!--banner stop-->
<!--Middlebox start-->	
<div class="MiddleBox">
  <!--<div class="Imgtop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_top.jpg" alt="" align="absbottom" /></div>-->
  <div class="ImgMiddle">
    <div class="LeftBox">
	 <tcg:item4 type="Categories" id="$item3_iParent$">
	  <div class="Title"><span class="style14">$item4_vcClassName$</span><span class="style10">$item4_vcName$</span></div>
	  <div class="MenuBox">
	    <div class="MenubgTop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_top.jpg" alt="" align="bottom" /></div>
		<div class="MenubgCenter">
		  <div id="List">
	    <ul>
		<tcg:itemClassTitle type="CategoriesList" skin="TCG-ZhongShengpharmacyCN"  parent="$item3_iParent$"  orders="iOrder">	
	      <li><a href="$itemClassTitle_vcUrl$" id="OtherMenu"><span>$itemClassTitle_vcClassName$</span></a></li>
		</tcg:itemclasstitle>
	    </ul>
		<div style="clear:both"></div>
      </div>
		</div>
		<div class="MenubgBottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_bottom.jpg" alt="" align="top" /></div>
	  </div>
	  </tcg:item4>
	  <div class="LinkButton">
	    <a href="Service Center.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_service.jpg" alt="客户服务" /></a><br />
		<a href="Contact.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_contact.jpg" alt="联系我们" /></a><br />
		<a href="Map.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_jiaotong.jpg" alt="交通指南" /></a><br />
	  </div>
	  
	</div>
	
	<div class="RightBox">
	  <div class="LoctionBox">
	    <div class="Left"><span class="style12b">$item3_vcClassName$</span></div>
		<div class="Right">当前位置：首页 > $item3_ClassTitleList$</div>
		<div style="clear:both"></div>
	  </div>
	  <div class="ContentBox">
	    
	    <img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/pic_jigou.jpg" alt="" />
	   
	  
	  </div>
	  <div style="clear:both"></div>
	</div>
    <div style="clear:both"></div>
  </div>
  <div class="Imgbottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_bottom.jpg" alt="" align="top" /></div>
  <div style="clear:both"></div>
</div>
<!--Middlebox stop-->
<tcg:Footer type="Template" id="f40c3391-5450-4d30-a521-4d1e0041d1bc"></tcg:Footer>
</tcg:item3>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>2</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/15 4:48:00</dUpdateDate>
	<dAddDate>2010/8/9 10:26:00</dAddDate>
	<vcTempName>详细页一</vcTempName>
	<vcUrl>/详细页一</vcUrl>
</Template>
<Template>
	<Id>9bb62cb2-3480-4916-8616-f18c9392a822</Id>
	<Content><![CDATA[<div class="side">
    <div class="left-menu">
      <ul>
	  	<li id="0"><a href="/html/about/index.html">工作室首页</a></li>
	  	<tcg:item2 type="Resourcelist" categories="6c0c96c3-198f-41c8-ba12-fd4eb7fd18d7" num="12" check="Y" del="N" create="Y" orders="iId DESC">
		<li id="item2_iId"><a href="$item2_vcFilePath$">$item2_vcTitle$</a></li></tcg:item2>
      </ul>
    </div>
    
  </div>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/3 11:48:00</dUpdateDate>
	<dAddDate>2010/9/3 11:33:00</dAddDate>
	<vcTempName>about_leftemnu</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>9f66afd3-385b-46cc-aba6-2d57e12520e5</Id>
	<Content><![CDATA[<tcg:item3 type="Categories" id="_$ClassId$_" intitle="true">
<tcg:Header type="Template" id="928f39aa-c5b7-42fc-ad6f-e2301acb9d99"></tcg:Header>
<div class="weizhi"><tcg:Search type="Template" id="59762dad-72da-42b6-a9eb-9cbec6cab5e4"></tcg:Search><b>您的位置</b>：<a href="_$itSite$_">主页</a>> $item3_ClassTitleList$</div>
<div class="clearfix wrap layout-cols2">
	<div class="col1">
	<div id="news">
        <div class="news_list">
		<tcg:item2 type="Resourcelist" categories="_$ClassId$_" num="12" check="Y" del="N" create="Y" orders="iId DESC" pager="true">
		<ul>
		<li class="list_title"><span>$item2_dAddDate$</span><a href="$item2_vcFilePath$" target="_blank">$item2_vcTitle$</a></li>
		<li class="text">$item2_vcShortContent$<a href="$item2_vcFilePath$" target="_blank">[阅读全文]</a></li>
		</ul>
		</tcg:item2>
	</div>
         <tcg:pager type="Template" id="0b3c75a8-bbe1-4eb3-ad53-47f362d96a48"></tcg:pager>
    </div>
  </div>
<!--列表左边:结束-->
<!--列表右边:开始--> 
  <div class="col2">
	<div class="right_bot" style="margin-left:10px">
<script type="text/javascript"> /*250*250，创建于2010-9-1*/ var cpro_id = 'u178502';</script>
<script type="text/javascript" src="http://cpro.baidu.com/cpro/ui/c.js"></script>
	</div>
        <tcg:PutTopic type="Template" id="34761601-a692-4196-88d5-9e93b4bd37df"></tcg:PutTopic>
    </div>
</div>
<tcg:Footer type="Template" id="cecc4e4a-37c5-48c3-a07b-d7288e8b4c5b"></tcg:Footer>
</tcg:item3>
]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>1</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/15 4:47:00</dUpdateDate>
	<dAddDate>2010/8/9 13:44:00</dAddDate>
	<vcTempName>三级列表</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>1f7fed03-d659-4df8-a6ac-173dac8e026b</Id>
	<Content><![CDATA[<tcg:item3 type="Categories" id="_$ClassId$_">
<tcg:Header type="Template" id="80e1d83d-d048-4783-94e6-19aa4d8a5513"></tcg:Header>

<tcg:leftemnu type="Template" id="9bb62cb2-3480-4916-8616-f18c9392a822"></tcg:leftemnu>

  <div class="main">
    <div class="news-pic"></div>
    <div class="content">
      <div class="box">
        <h1>$item3_vcClassName$</h1>
  
        <ul class="news-list">
		
		<tcg:item2 type="Resourcelist" categories="_$ClassId$_" num="200" check="Y" del="N" create="Y" orders="iId DESC" pager="true">
		<li><span>$item2_dAddDate$</span><a href="$item2_vcFilePath$" target="_blank">$item2_vcTitle$</a></li></tcg:item2>

        </ul>

		<div class="gotop"><a href="#top"><img src="images/gotop.gif" alt="top" border="0" /></a></div>
      </div>
    </div>

<tcg:Footer type="Template" id="d3172c41-ac42-4e4a-a030-813fea3e752d"></tcg:Footer>
</tcg:item3>]]></Content>
	<SkinId>sanyungui-chianz-ex</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>1</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010/9/3 11:54:00</dUpdateDate>
	<dAddDate>2010/9/3 11:53:00</dAddDate>
	<vcTempName>about_list</vcTempName>
	<vcUrl></vcUrl>
</Template>
</Templates>