<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>eccb7bc2-783b-4556-b694-2bcfabbbc31a</Id>
	<Parent>ce700449-1296-48aa-a9e1-3231f43b3d1b</Parent>
	<ResourceTemplate>71b81590-eb9d-4468-9edb-93b5b9bba7d7</ResourceTemplate>
	<ResourceListTemplate>0c47720d-b024-448d-ab31-d68bbf4494ac</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2012-2-29 16:43:40</dUpdateDate>
	<dUpdateDate>2012-2-29 16:43:40</dUpdateDate>
	<vcClassName>配送方式</vcClassName>
	<vcName>配送方式</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/help/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
<Categorie>
	<Id>201dd162-1fc4-4eb7-99cc-1188e7522bcf</Id>
	<Parent>0</Parent>
	<ResourceTemplate>61cd5d57-3a8f-4e97-819a-57693902b6c4</ResourceTemplate>
	<ResourceListTemplate>0c47720d-b024-448d-ab31-d68bbf4494ac</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2012-2-1 15:17:15</dUpdateDate>
	<dUpdateDate>2012-2-1 15:17:15</dUpdateDate>
	<vcClassName>公司</vcClassName>
	<vcName>公司</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
<Categorie>
	<Id>8364eeee-a122-4bb9-853a-0ecddff9c883</Id>
	<Parent>cbe2260d-3b0c-4600-928c-b3f468eab4a0</Parent>
	<ResourceTemplate>6996613e-2813-4e25-882c-9c5ad3ca7933</ResourceTemplate>
	<ResourceListTemplate>d69a976f-b5b5-4dea-b49e-608c0ca12b0d</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2012-1-31 16:08:16</dUpdateDate>
	<dUpdateDate>2012-1-31 16:08:16</dUpdateDate>
	<vcClassName>内裤</vcClassName>
	<vcName>内裤</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/news/nk</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
<Categorie>
	<Id>7785c882-f469-495a-b469-8ff7aef77d98</Id>
	<Parent>cbe2260d-3b0c-4600-928c-b3f468eab4a0</Parent>
	<ResourceTemplate>6996613e-2813-4e25-882c-9c5ad3ca7933</ResourceTemplate>
	<ResourceListTemplate>d69a976f-b5b5-4dea-b49e-608c0ca12b0d</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2012-1-17 16:43:59</dUpdateDate>
	<dUpdateDate>2012-1-17 16:43:59</dUpdateDate>
	<vcClassName>袜子</vcClassName>
	<vcName>袜子</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/news/wz</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
<Categorie>
	<Id>cbe2260d-3b0c-4600-928c-b3f468eab4a0</Id>
	<Parent>0</Parent>
	<ResourceTemplate>6996613e-2813-4e25-882c-9c5ad3ca7933</ResourceTemplate>
	<ResourceListTemplate>d69a976f-b5b5-4dea-b49e-608c0ca12b0d</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2012-1-17 14:35:42</dUpdateDate>
	<dUpdateDate>2012-1-17 14:35:42</dUpdateDate>
	<vcClassName>资讯中心</vcClassName>
	<vcName>资讯中心</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
<Categorie>
	<Id>ce700449-1296-48aa-a9e1-3231f43b3d1b</Id>
	<Parent>0</Parent>
	<ResourceTemplate>71b81590-eb9d-4468-9edb-93b5b9bba7d7</ResourceTemplate>
	<ResourceListTemplate>0c47720d-b024-448d-ab31-d68bbf4494ac</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2012-1-17 14:35:03</dUpdateDate>
	<dUpdateDate>2012-1-17 14:35:03</dUpdateDate>
	<vcClassName>帮助中心</vcClassName>
	<vcName>帮助中心</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
<Categorie>
	<Id>b11b1a18-828e-4419-a13b-533c6dbea6a3</Id>
	<Parent>ce700449-1296-48aa-a9e1-3231f43b3d1b</Parent>
	<ResourceTemplate>71b81590-eb9d-4468-9edb-93b5b9bba7d7</ResourceTemplate>
	<ResourceListTemplate>0c47720d-b024-448d-ab31-d68bbf4494ac</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2012-1-17 15:30:19</dUpdateDate>
	<dUpdateDate>2012-1-17 15:30:19</dUpdateDate>
	<vcClassName>新手指南</vcClassName>
	<vcName>新手指南</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/help/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
<Categorie>
	<Id>50fd3c5a-dcb2-466b-a820-d6ef0eeef852</Id>
	<Parent>ce700449-1296-48aa-a9e1-3231f43b3d1b</Parent>
	<ResourceTemplate>71b81590-eb9d-4468-9edb-93b5b9bba7d7</ResourceTemplate>
	<ResourceListTemplate>0c47720d-b024-448d-ab31-d68bbf4494ac</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2012-2-20 14:56:45</dUpdateDate>
	<dUpdateDate>2012-2-20 14:56:45</dUpdateDate>
	<vcClassName>信息管理</vcClassName>
	<vcName>个人信息管理</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/help/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
<Categorie>
	<Id>4b1d7f09-747a-4266-bbe9-05cdbf7a7f78</Id>
	<Parent>ce700449-1296-48aa-a9e1-3231f43b3d1b</Parent>
	<ResourceTemplate>71b81590-eb9d-4468-9edb-93b5b9bba7d7</ResourceTemplate>
	<ResourceListTemplate>0c47720d-b024-448d-ab31-d68bbf4494ac</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2012-2-20 15:18:23</dUpdateDate>
	<dUpdateDate>2012-2-20 15:18:23</dUpdateDate>
	<vcClassName>支付方式</vcClassName>
	<vcName>支付方式</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/help/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
<Categorie>
	<Id>e305fb12-9ef2-482a-9cbf-b168485d9de6</Id>
	<Parent>ce700449-1296-48aa-a9e1-3231f43b3d1b</Parent>
	<ResourceTemplate>71b81590-eb9d-4468-9edb-93b5b9bba7d7</ResourceTemplate>
	<ResourceListTemplate>0c47720d-b024-448d-ab31-d68bbf4494ac</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2012-2-20 15:23:52</dUpdateDate>
	<dUpdateDate>2012-2-20 15:23:52</dUpdateDate>
	<vcClassName>售后服务</vcClassName>
	<vcName>售后服务</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-yihaomian</SkinId>
</Categorie>
</Categories>