<?xml version="1.0"?>
<Templates>
<Template>
	<Id>915aa1aa-2927-4a97-a0a4-4b67cdcb20ac</Id>
	<Content><![CDATA[<tcg:item2 type="Resourcelist" categories="4b1d7f09-747a-4266-bbe9-05cdbf7a7f78" num="5" check="Y" del="N" create="Y" orders="dAddDate DESC,Id DESC">
<dd><a href="http://help.yihaomian.com$item2_vcFilePath$"  target="_blank">$item2_vcTitle$</a></dd></tcg:item2>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>221b5a34-019e-42ae-ab81-8bc944b174e5</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-29 17:10:12</dUpdateDate>
	<dAddDate>2012-2-29 17:08:12</dAddDate>
	<vcTempName>help_zf.html</vcTempName>
	<vcUrl>/html/news/js/help_zf.html</vcUrl>
</Template>
<Template>
	<Id>7313febc-1ed0-472a-ab78-af17713ca611</Id>
	<Content><![CDATA[<tcg:item2 type="Resourcelist" categories="e305fb12-9ef2-482a-9cbf-b168485d9de6" num="5" check="Y" del="N" create="Y" orders="dAddDate DESC,Id DESC">
<dd><a href="http://help.yihaomian.com$item2_vcFilePath$"  target="_blank">$item2_vcTitle$</a></dd></tcg:item2>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>221b5a34-019e-42ae-ab81-8bc944b174e5</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-29 17:11:54</dUpdateDate>
	<dAddDate>2012-2-29 17:08:29</dAddDate>
	<vcTempName>help_sh.html</vcTempName>
	<vcUrl>/html/news/js/help_sh.html</vcUrl>
</Template>
<Template>
	<Id>5b0bc180-41c4-43ce-8776-e908d85447aa</Id>
	<Content><![CDATA[<tcg:item2 type="Resourcelist" categories="eccb7bc2-783b-4556-b694-2bcfabbbc31a" num="5" check="Y" del="N" create="Y" orders="dAddDate DESC,Id DESC">
<dd><a href="http://help.yihaomian.com$item2_vcFilePath$"  target="_blank">$item2_vcTitle$</a></dd></tcg:item2>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>221b5a34-019e-42ae-ab81-8bc944b174e5</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-29 17:12:00</dUpdateDate>
	<dAddDate>2012-2-29 17:08:49</dAddDate>
	<vcTempName>help_ps.html</vcTempName>
	<vcUrl>/html/news/js/help_ps.html</vcUrl>
</Template>
<Template>
	<Id>0c47720d-b024-448d-ab31-d68bbf4494ac</Id>
	<Content><![CDATA[-]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>2</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-1-17 14:33:06</dUpdateDate>
	<dAddDate>2012-1-17 14:33:06</dAddDate>
	<vcTempName>帮助中心-list</vcTempName>
	<vcUrl>/帮助中心-list</vcUrl>
</Template>
<Template>
	<Id>d69a976f-b5b5-4dea-b49e-608c0ca12b0d</Id>
	<Content><![CDATA[<tcg:item3 type="Categories" id="_$ClassId$_" intitle="true">
<tcg:Header type="Template" id="92cd3715-3085-4126-8282-b00c6bfda530"></tcg:Header>
<div class="doc" style="height:2px;"></div>
<div class="doc">
	<div class="news-main clearfix">
    <div class="col-main">
    	<div class="main-list">
			<ul class="list">
			<tcg:item2 type="Resourcelist" categories="_$ClassId$_" num="18" check="Y" del="N" create="Y" orders="dAddDate DESC,Id DESC" pager="true">
        	<li><span class="date">$item2_dAddDate$</span><a href="$item2_vcFilePath$" target="_blank">$item2_vcTitle$</a></li>
        	</tcg:item2>
        </ul>
        <div class="mt20 clearfix">
          <div class="news-page clearfix">
		  	<tcg:pager type="Template" id="0d8b0508-0566-4e92-bf30-e5e4153e7650"></tcg:pager>
          </div>
        </div><!-- end page -->
      </div>
    </div>
    <div class="col-sub">
      <div class="sub-panel">
        <div class="title clearfix"><h3>人气排行榜</h3><span class="txt">TOP10</span></div>
        <ul class="taxis-list">
         <script type="text/javascript" src="http://news.yihaomian.com/html/news/js/toplist.js"></script>
        </ul>
      </div>
	  
	  <br/>
	  <div class="right">
        <div class="top-frame">
            <div id="top-tabs" >
                <ul class="top-tabs-bar clearfix">
                    <li class="li1 current"><a href="#tabs-1">新品排行</a></li>
                    <li class="li2"><a href="#tabs-2">袜子</a></li>
                    <li class="li3"><a href="#tabs-3">内裤</a></li>
                </ul>
                <div id="tabs-1" style="display:block;" class="clearfix">
                    <ul>
                        <script type="text/javascript" src="http://jsapi.yihaomian.com/ranking.js?c=0"></script>
				<script type="text/javascript">
					if(RankingGoods!=null){
						for(var i=0;i<RankingGoods.length;i ++){
							
							 var text = "<li><span class=\"price\">\u00A5"+ RankingGoods[i].mSellPrice+ "</span>";
							 	text +="<em>"+ RankingGoods[i].Index+"</em>";
								text +="<img src=\""+ RankingGoods[i].vcImage +"\" alt=\"\" />";
								text +="<a href=\""+ RankingGoods[i].vcUrl+ "\">"+ RankingGoods[i].ncTitle +"</a>";
								text +="</li>";
							document.write(text);
						}
					}
				</script>
                    </ul>
                </div>
                <div id="tabs-2" style="display:none;" class="clearfix">
                    <ul>
                        <script type="text/javascript" src="http://jsapi.yihaomian.com/ranking.js?c=1"></script>
				<script type="text/javascript">
					if(RankingGoods!=null){
						for(var i=0;i<RankingGoods.length;i ++){
							 var text = "<li><span class=\"price\">\u00A5"+ RankingGoods[i].mSellPrice+ "</span>";
							 	text +="<em>"+ RankingGoods[i].Index+"</em>";
								text +="<img src=\""+ RankingGoods[i].vcImage +"\" alt=\"\" />";
								text +="<a href=\""+ RankingGoods[i].vcUrl+ "\">"+ RankingGoods[i].ncTitle +"</a>";
								text +="</li>";
							document.write(text);
						}
					}
				</script>
                    </ul>
                </div>
                <div id="tabs-3" style="display:none;" class="clearfix">
                    <ul>
                        <script type="text/javascript" src="http://jsapi.yihaomian.com/ranking.js?c=2"></script>
				<script type="text/javascript">
					if(RankingGoods!=null){
						for(var i=0;i<RankingGoods.length;i ++){
							 var text = "<li><span class=\"price\">\u00A5"+ RankingGoods[i].mSellPrice+ "</span>";
							 	text +="<em>"+ RankingGoods[i].Index+"</em>";
								text +="<img src=\""+ RankingGoods[i].vcImage +"\" alt=\"\" />";
								text +="<a href=\""+ RankingGoods[i].vcUrl+ "\">"+ RankingGoods[i].ncTitle +"</a>";
								text +="</li>";
							document.write(text);
						}
					}
				</script>
                    </ul>
                </div>
            </div>
        </div><!-- top-frame end -->

        <div class="guess-you-like">
            <h2></h2>
            <ul>
				<script type="text/javascript" src="http://jsapi.yihaomian.com/beinterest.js"></script>
				<script type="text/javascript">
					if(BeInterest !=null){
						for(var i=0;i<BeInterest .length;i ++){
							 var title = BeInterest[i].ncTitle.length>6?BeInterest[i].ncTitle.substring(0,6)+ "..." :BeInterest[i].ncTitle;
							 var text ="<li><a href=\""+ BeInterest[i].vcUrl+ "\"><img src=\""+ BeInterest[i].vcImage +"\" alt=\"\" />"+ title  +"</a><span class=\"price\">\u00A5"+ BeInterest[i].mSellPrice+ "</span></li>"
							document.write(text);
							if(i==3)break;
						}
					}
				</script>
            </ul>
        </div><!-- Guess you like end -->
    </div>
	  
    </div>
  </div>

</div>

<tcg:Footer type="Template" id="6803eb7f-7b36-4de4-852b-bcd676698107"></tcg:Footer>
</tcg:item3>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>2</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-1 14:50:54</dUpdateDate>
	<dAddDate>2012-1-17 14:33:22</dAddDate>
	<vcTempName>资讯中心-list</vcTempName>
	<vcUrl>/资讯中心-list</vcUrl>
</Template>
<Template>
	<Id>71b81590-eb9d-4468-9edb-93b5b9bba7d7</Id>
	<Content><![CDATA[<tcg:item2 type="Resource" id="_$Id$_" intitle="true">
<tcg:Header type="Template" id="92cd3715-3085-4126-8282-b00c6bfda530"></tcg:Header>
<div class="doc">
    <div class="sales_frame mt10"><img src="http://pd.5173.com/tools/960x60/999/fff" alt="" /></div>
    <div class="help-frame clearfix">
        <h2></h2>
        <div class="left">
            <dl>
                <tcg:Left type="Template" id="5c53d374-f939-40fe-beee-f654ff1334ac"></tcg:Left>
            </dl>
        </div>
        <div class="right">

            <div class="help-memo clearfix">
                <h2>$item2_vcTitle$</h2>
                <div class="help-memo-c">

                   $item2_vcContent$

                </div>
            </div>
        </div>
    </div>
</div><!-- .doc end -->
<script type="text/javascript">
    //标记左边导航
    makeHelpNav(0,0);
</script>
<tcg:Footer type="Template" id="6803eb7f-7b36-4de4-852b-bcd676698107"></tcg:Footer>
</tcg:item2>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>1</TemplateType>
	<iParentId>1</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-1-17 16:03:09</dUpdateDate>
	<dAddDate>2012-1-17 14:33:54</dAddDate>
	<vcTempName>帮助中心-detail</vcTempName>
	<vcUrl>/帮助中心-detail</vcUrl>
</Template>
<Template>
	<Id>6996613e-2813-4e25-882c-9c5ad3ca7933</Id>
	<Content><![CDATA[<tcg:item2 type="Resource" id="_$Id$_" intitle="true">
<tcg:Header type="Template" id="92cd3715-3085-4126-8282-b00c6bfda530"></tcg:Header>
<div class="doc" style="height:2px;"></div>
<div class="doc">
	<div class="news-main clearfix">
    <div class="col-main">
    	<div class="main-cont">
      	<h1>$item2_vcTitle$</h1>
        <div class="date">最后更新 $item2_dUpdateDate$ 浏览 $item2_iCount$</div>
        <div class="content">
        	$item2_vcContent$
        </div>
        
        <div class="share-div clearfix">分享到：</div>
      </div>
    </div>
    <div class="col-sub">
      <div class="sub-panel">
        <div class="title clearfix"><h3>人气排行榜</h3><span class="txt">TOP10</span></div>
        <ul class="taxis-list">
         <script type="text/javascript" src="http://news.yihaomian.com/html/news/js/toplist.js"></script>
        </ul>
      </div>
	  
	  <br/>
	  <div class="right">
        <div class="top-frame">
            <div id="top-tabs" >
                <ul class="top-tabs-bar clearfix">
                    <li class="li1 current"><a href="#tabs-1">新品排行</a></li>
                    <li class="li2"><a href="#tabs-2">袜子</a></li>
                    <li class="li3"><a href="#tabs-3">内裤</a></li>
                </ul>
                <div id="tabs-1" style="display:block;" class="clearfix">
                    <ul>
                        <script type="text/javascript" src="http://jsapi.yihaomian.com/ranking.js?c=0"></script>
				<script type="text/javascript">
					if(RankingGoods!=null){
						for(var i=0;i<RankingGoods.length;i ++){
							
							 var text = "<li><span class=\"price\">\u00A5"+ RankingGoods[i].mSellPrice+ "</span>";
							 	text +="<em>"+ RankingGoods[i].Index+"</em>";
								text +="<img src=\""+ RankingGoods[i].vcImage +"\" alt=\"\" />";
								text +="<a href=\""+ RankingGoods[i].vcUrl+ "\">"+ RankingGoods[i].ncTitle +"</a>";
								text +="</li>";
							document.write(text);
						}
					}
				</script>
                    </ul>
                </div>
                <div id="tabs-2" style="display:none;" class="clearfix">
                    <ul>
                        <script type="text/javascript" src="http://jsapi.yihaomian.com/ranking.js?c=1"></script>
				<script type="text/javascript">
					if(RankingGoods!=null){
						for(var i=0;i<RankingGoods.length;i ++){
							 var text = "<li><span class=\"price\">\u00A5"+ RankingGoods[i].mSellPrice+ "</span>";
							 	text +="<em>"+ RankingGoods[i].Index+"</em>";
								text +="<img src=\""+ RankingGoods[i].vcImage +"\" alt=\"\" />";
								text +="<a href=\""+ RankingGoods[i].vcUrl+ "\">"+ RankingGoods[i].ncTitle +"</a>";
								text +="</li>";
							document.write(text);
						}
					}
				</script>
                    </ul>
                </div>
                <div id="tabs-3" style="display:none;" class="clearfix">
                    <ul>
                        <script type="text/javascript" src="http://jsapi.yihaomian.com/ranking.js?c=2"></script>
				<script type="text/javascript">
					if(RankingGoods!=null){
						for(var i=0;i<RankingGoods.length;i ++){
							 var text = "<li><span class=\"price\">\u00A5"+ RankingGoods[i].mSellPrice+ "</span>";
							 	text +="<em>"+ RankingGoods[i].Index+"</em>";
								text +="<img src=\""+ RankingGoods[i].vcImage +"\" alt=\"\" />";
								text +="<a href=\""+ RankingGoods[i].vcUrl+ "\">"+ RankingGoods[i].ncTitle +"</a>";
								text +="</li>";
							document.write(text);
						}
					}
				</script>
                    </ul>
                </div>
            </div>
        </div><!-- top-frame end -->

        <div class="guess-you-like">
            <h2></h2>
            <ul>
				<script type="text/javascript" src="http://jsapi.yihaomian.com/beinterest.js"></script>
				<script type="text/javascript">
					if(BeInterest !=null){
						for(var i=0;i<BeInterest .length;i ++){
							 var title = BeInterest[i].ncTitle.length>6?BeInterest[i].ncTitle.substring(0,6)+ "..." :BeInterest[i].ncTitle;
							 var text ="<li><a href=\""+ BeInterest[i].vcUrl+ "\"><img src=\""+ BeInterest[i].vcImage +"\" alt=\"\" />"+ title  +"</a><span class=\"price\">\u00A5"+ BeInterest[i].mSellPrice+ "</span></li>"
							document.write(text);
							if(i==3)break;
						}
					}
				</script>
            </ul>
        </div><!-- Guess you like end -->
    </div>
	  
      
      
    </div>
  </div>
  
</div>

<tcg:Footer type="Template" id="6803eb7f-7b36-4de4-852b-bcd676698107"></tcg:Footer>
</tcg:item2>
]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>1</TemplateType>
	<iParentId>1</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-1 14:46:13</dUpdateDate>
	<dAddDate>2012-1-17 14:34:15</dAddDate>
	<vcTempName>资讯中心-detail</vcTempName>
	<vcUrl>/资讯中心-detail</vcUrl>
</Template>
<Template>
	<Id>58af3313-6de6-4a09-b5bc-7399db03acc9</Id>
	<Content><![CDATA[<tcg:Header type="Template" id="92cd3715-3085-4126-8282-b00c6bfda530"></tcg:Header>

<div class="doc">
    <div class="sales_frame mt10"><img src="http://pd.5173.com/tools/960x60/999/fff" alt="" /></div>
    <div class="help-frame clearfix">
        <h2></h2>
        <div class="left">
            <dl>
			<tcg:Left type="Template" id="5c53d374-f939-40fe-beee-f654ff1334ac"></tcg:Left>
            </dl>
        </div>
        <div class="right">
            <img src="http://images.91mian.com/st/i/help-bann.png" alt="" />
            <h3>常见问题</h3>
            <div class="help-c clearfix">
                <!-- 两个ul 不同的风格 -->
                <ul class="ull">
                    <li><a href="#">运费如何计算？</a></li>
                    <li><a href="#">支持货到付款吗？</a></li>
                    <li><a href="#">缺货的商品到货能通知我吗？</a></li>
                    <li><a href="#">退货的贷款如何退回？</a></li>
                    <li><a href="#">什么样的情况可以退换货</a></li>
                    <li><a href="#">积分有什么用，怎样获得积分</a></li>
                    <li><a href="#">红包如何使用</a></li>
                    <li><a href="#">运费如何计算？</a></li>
                    <li><a href="#">支持货到付款吗？</a></li>
                    <li><a href="#">运费如何计算？</a></li>
                </ul>
                <!-- 两个ul 不同的风格 -->
                <ul class="ulr">
                    <li><a href="#">一号棉使用何种物流服务？</a></li>
                    <li><a href="#">为什么付了款的商品还会缺货？</a></li>
                    <li><a href="#">不注册可以购买商品吗？</a></li>
                    <li><a href="#">怎么样办理退换货？</a></li>
                    <li><a href="#">什么是会员等级</a></li>
                    <li><a href="#">注册输入验证码后提示“验证码不正确”，怎样解决？</a></li>
                    <li><a href="#">红包如何使用</a></li>
                    <li><a href="#">不注册可以购买商品吗？</a></li>
                    <li><a href="#">怎么样办理退换货？</a></li>
                    <li><a href="#">订单确认以后多长时间发货</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--#include virtual="_footer.shtml" -->
</div><!-- .doc end -->
<script type="text/javascript">
    //标记左边导航
    //makeHelpNav(1,1);  //参数为 dd索引 , li索引
</script>
<tcg:Footer type="Template" id="6803eb7f-7b36-4de4-852b-bcd676698107"></tcg:Footer>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-1-17 15:50:40</dUpdateDate>
	<dAddDate>2012-1-17 14:40:55</dAddDate>
	<vcTempName>html/help/index</vcTempName>
	<vcUrl>/html/help/index</vcUrl>
</Template>
<Template>
	<Id>92cd3715-3085-4126-8282-b00c6bfda530</Id>
	<Content><![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>首页 - 一号棉</title>
<meta name="keywords" content=""></meta>
<meta name="content" content=""></meta>
<link rel="stylesheet" type="text/css" href="http://images.yihaomian.com/st/c/reset.css?v=20120106"></link>
<link rel="stylesheet" type="text/css" href="http://images.yihaomian.com/st/c/common.css?v=20120106"></link>
<link rel="stylesheet" type="text/css" href="http://images.yihaomian.com/st/c/usercenter.css?v=20120106"></link>
<link rel="stylesheet" type="text/css" href="http://images.yihaomian.com/st/c/index.css?v=20120106"></link>
<link rel="stylesheet" type="text/css" href="http://images.yihaomian.com/st/c/help.css?v=20120106"></link>
<link rel="stylesheet" type="text/css" href="http://images.yihaomian.com/st/c/news.css?v=20120106"></link>
<script language="javascript" type="text/javascript" src="http://images.yihaomian.com/st/j/jquery.min.js?v=20120106"></script>
<script language="javascript" type="text/javascript" src="http://images.yihaomian.com/js/common/common.js?v=20120106"></script>
<script language="javascript" type="text/javascript" src="http://images.yihaomian.com/st/j/help.js?v=20120106"></script>
<script language="javascript" type="text/javascript" src="http://cbjs.baidu.com/js/m.js?v=20120106"></script>
<div class="doc">
	<div class="topheader"><ul class="clearfix">
<li class="tel">400-600-6868</li>
<li class="help"><a href="http://help.yihaomian.com">帮助中心</a></li>
<li class="fav"><a href="http://member.yihaomian.com/collect.aspx">我的收藏夹</a></li>
<li class="uc"><a href="http://member.yihaomian.com/">我的一号棉<span></span></a><div id="myuc" class="hover"><dl><dd><a href="http://trade.yihaomian.com/member/order.aspx">我的订单</a></dd><dd><a href="http://member.yihaomian.com/collect.aspx">我的收藏</a></dd></dl></div></li>
<li class="login"><a href="http://passport.yihaomian.com/logout.aspx">退出</a></li>
<li class="welcome">您好，13818909906</li>
</ul>
</div>
		<div class="header">
<div class="searchf">
<form id="headserach" action="http://search.yihaomian.com/list.shtml?key=" method="get">
<input type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入您想要找的商品名称或关键字" autocomplete="off" tabindex="1" class="ui-input" value="" name="headserache_keywords" id="headserache_keywords"><input type="submit" value="搜索" class="search-button"/>
</form>
</div>
<div class="logo"><h1><a href="http://www.yihaomian.com/" title="一号棉"><span class="hide">一号棉首页</span></a></h1></div>			<div class="slogo"><h2></h2></div>
	</div>
</div>
<div class="nav">
<div class="doc">
<div class="shopcar" id="div_head_cartbox">
<a href="http://trade.yihaomian.com/carts.aspx" class="a-shop-car">我的购物车(0)</a>
</div>
<ul class="main-nav clearfix">
<li><a href="http://www.yihaomian.com/">首页</a></li>
<li class="f12">
<a href="http://search.yihaomian.com/list.shtml?cid=1" class="a-sub">男士内裤<span>&nbsp;</span></a>
<div class="sub">
	<dl>
		<dd><a href="http://search.yihaomian.com/list.shtml?cid=2">平角裤</a></dd>
		<dd><a href="http://search.yihaomian.com/list.shtml?cid=3">四角裤</a></dd>
		<dd><a href="http://search.yihaomian.com/list.shtml?cid=4">三角裤</a></dd>
	</dl>
</div>
</li>
<li class="f12">
<a href="http://search.yihaomian.com/list.shtml?cid=7" class="a-sub">男袜<span>&nbsp;</span></a>
<div class="sub">
	<dl>
		<dd><a href="http://search.yihaomian.com/list.shtml?cid=18">商务袜</a></dd>
		<dd><a href="http://search.yihaomian.com/list.shtml?cid=19">船袜</a></dd>
		<dd><a href="http://search.yihaomian.com/list.shtml?cid=20">休闲袜</a></dd>
	</dl>
</div>
</li>
<li class="f12">
<a href="http://search.yihaomian.com/list.shtml?cid=22" class="a-sub">超值礼包<span>&nbsp;</span></a>
</li>
</ul>
</div>
</div>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-24 17:24:51</dUpdateDate>
	<dAddDate>2012-1-17 14:58:37</dAddDate>
	<vcTempName>header</vcTempName>
	<vcUrl>/header</vcUrl>
</Template>
<Template>
	<Id>6803eb7f-7b36-4de4-852b-bcd676698107</Id>
	<Content><![CDATA[<div class="doc">
<div class="footer">
<ul class="clearfix">
<li><a href="#">关于我们</a></li>
<li><a href="#">合作伙伴</a></li>
<li><a href="#">合作联系</a></li>
<li><a href="#">隐私保护</a></li>
<li><a href="#">投诉建议</a></li>
<li><a href="#">免责声明</a></li>
<li class="noline"><a href="#">诚聘英才</a></li>
</ul>
<p>Copyright &copy;2010 - 2011  91mian.com All Rights Resered.</p>
</div>
</div>
<script language="javascript" type="text/javascript" src="http://images.91mian.com/st/j/dd_belatedpng.js?v=20120106"></script>
<script language="javascript" type="text/javascript" src="http://images.91mian.com/st/j/lb.js?v=20120106"></script>
<script language="javascript" type="text/javascript" src="http://images.91mian.com/st/j/index.js?v=20120106"></script>
</body>
</html>
]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-1-17 14:59:06</dUpdateDate>
	<dAddDate>2012-1-17 14:59:06</dAddDate>
	<vcTempName>footer</vcTempName>
	<vcUrl>/footer</vcUrl>
</Template>
<Template>
	<Id>5c53d374-f939-40fe-beee-f654ff1334ac</Id>
	<Content><![CDATA[<tcg:itemClassTitle type="CategoriesList" skin="_$SkinId$_" parent="ce700449-1296-48aa-a9e1-3231f43b3d1b" orders="iOrder">
				<dt>$itemClassTitle_vcClassName$</span></dt>
				 <dd>
				 	<ul>
						<tcg:item13 type="Resourcelist" categories="$itemClassTitle_Id$" num="100" check="Y" del="N" create="Y" orders="dAddDate DESC"><li><a href="$item13_vcFilePath$">$item13_vcTitle$</a></li></tcg:item13>
					</ul>
				 </dd>
			</tcg:itemclasstitle>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-1-17 15:55:19</dUpdateDate>
	<dAddDate>2012-1-17 15:49:49</dAddDate>
	<vcTempName>help-lef</vcTempName>
	<vcUrl>/help-lef</vcUrl>
</Template>
<Template>
	<Id>0d8b0508-0566-4e92-bf30-e5e4153e7650</Id>
	<Content><![CDATA[<TcgPager>
<div class="page">
              <ul>
			  	<Pev>
                <li class="up_off"><a href="{0}">上一页</a></li>
				</Pev>
				<Pages>
					<Cur><li class="nb_on"><a href="javascript:void(0);">{1}</a></li></Cur>
					<Page><li class="nb"><a href="{0}">{1}</a></li></Page>
					<ShowCount>7</ShowCount>
				</Pages>
				<Next>
                <li class="down"><a href="{0}">下一页</a></li>
                </Next>
              </ul>
            </div>
</TcgPager>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-28 17:37:07</dUpdateDate>
	<dAddDate>2012-1-17 16:44:53</dAddDate>
	<vcTempName>news-pager</vcTempName>
	<vcUrl>/news-pager</vcUrl>
</Template>
<Template>
	<Id>221b5a34-019e-42ae-ab81-8bc944b174e5</Id>
	<Content><![CDATA[-]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>5</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-1-31 16:13:19</dUpdateDate>
	<dAddDate>2012-1-31 16:11:42</dAddDate>
	<vcTempName>html/news/js</vcTempName>
	<vcUrl>/html/news/js</vcUrl>
</Template>
<Template>
	<Id>945c29b8-465a-4b94-91bc-1401ed959e77</Id>
	<Content><![CDATA[<tcg:item2 type="Resourcelist" categories="8364eeee-a122-4bb9-853a-0ecddff9c883" num="5" check="Y" del="N" create="Y" orders="dAddDate DESC,Id DESC">
<li><a href="http://news.yihaomian.com$item2_vcFilePath$"  target="_blank">$TCG.CutStrLeft($item2_vcTitle$,13)</a></li></tcg:item2>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>221b5a34-019e-42ae-ab81-8bc944b174e5</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-3-1 14:44:20</dUpdateDate>
	<dAddDate>2012-1-31 16:13:53</dAddDate>
	<vcTempName>nklist.html</vcTempName>
	<vcUrl>/html/news/js/nklist.html</vcUrl>
</Template>
<Template>
	<Id>18aff2a8-d678-4b9a-8f70-74f114e92598</Id>
	<Content><![CDATA[<tcg:item2 type="Resourcelist" categories="7785c882-f469-495a-b469-8ff7aef77d98" num="5" check="Y" del="N" create="Y" orders="dAddDate DESC,Id DESC">
<li><a href="http://news.yihaomian.com$item2_vcFilePath$"  target="_blank">$TCG.CutStrLeft($item2_vcTitle$,13)</a></li></tcg:item2>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>221b5a34-019e-42ae-ab81-8bc944b174e5</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-29 16:59:50</dUpdateDate>
	<dAddDate>2012-1-31 16:25:43</dAddDate>
	<vcTempName>wzlist.html</vcTempName>
	<vcUrl>/html/news/js/wzlist.html</vcUrl>
</Template>
<Template>
	<Id>5d8643bb-a6e3-40eb-a8ed-93f5351483f2</Id>
	<Content><![CDATA[<tcg:item2 type="Resourcelist" categories="cbe2260d-3b0c-4600-928c-b3f468eab4a0" num="5" check="Y" del="N" create="Y" havechilecategorie="Y" orders="iCount DESC,Id DESC">
document.write("<li><em>$item2_Index$</em><a href=\"http://news.yihaomian.com$item2_vcFilePath$\" target=\"_blank\">$TCG.CutStrLeft($item2_vcTitle$,13)</a></li>");</tcg:item2>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>221b5a34-019e-42ae-ab81-8bc944b174e5</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-13 13:31:13</dUpdateDate>
	<dAddDate>2012-1-31 16:43:29</dAddDate>
	<vcTempName>toplist.js</vcTempName>
	<vcUrl>/html/news/js/toplist.js</vcUrl>
</Template>
<Template>
	<Id>61cd5d57-3a8f-4e97-819a-57693902b6c4</Id>
	<Content><![CDATA[<tcg:item2 type="Resource" id="_$Id$_" intitle="true">
<tcg:Header type="Template" id="92cd3715-3085-4126-8282-b00c6bfda530"></tcg:Header>

<script language="javascript" type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<div class="doc">
    <div class="sales_frame mt10"><script type="text/javascript">BAIDU_CLB_fillSlot("296735");</script></div>
    <div class="help-frame clearfix">

       <div class="left">
            <dl>
				<tcg:item3 type="Resourcelist" categories="201dd162-1fc4-4eb7-99cc-1188e7522bcf" num="100" check="Y" del="N" create="Y" orders="Id DESC">
                <dt class="about" style=" font-weight:bold"><a href="$item3_vcFilePath$">$item3_vcTitle$</a></dt></tcg:item3>
            </dl>
        </div>
        <div class="right">

            <div class="help-memo clearfix">
                <h2>$item2_vcTitle$</h2>
                <div class="help-memo-c">

                    $item2_vcContent$

                </div>
            </div>
        </div>
    </div>
</div>

<tcg:Footer type="Template" id="6803eb7f-7b36-4de4-852b-bcd676698107"></tcg:Footer>
</tcg:item2>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>1</TemplateType>
	<iParentId>1</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-1 17:16:34</dUpdateDate>
	<dAddDate>2012-2-1 15:16:41</dAddDate>
	<vcTempName>company-detail</vcTempName>
	<vcUrl>/company-detail</vcUrl>
</Template>
<Template>
	<Id>b1f1cde7-6189-4073-b673-fd0941a4fef4</Id>
	<Content><![CDATA[<tcg:item2 type="Resourcelist" categories="b11b1a18-828e-4419-a13b-533c6dbea6a3" num="5" check="Y" del="N" create="Y" orders="dAddDate DESC,Id DESC">
<dd><a href="http://help.yihaomian.com$item2_vcFilePath$"  target="_blank">$item2_vcTitle$</a></dd></tcg:item2>]]></Content>
	<SkinId>sanyungui-yihaomian</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>221b5a34-019e-42ae-ab81-8bc944b174e5</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2012-2-29 17:04:28</dUpdateDate>
	<dAddDate>2012-2-29 16:59:24</dAddDate>
	<vcTempName>help_xs.html</vcTempName>
	<vcUrl>/html/news/js/help_xs.html</vcUrl>
</Template>
</Templates>