<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>4bdced83-40d3-4e52-a1e8-8e27367c5fa5</Id>
	<Parent>0</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-10 0:25:36</dUpdateDate>
	<dUpdateDate>2010-4-10 0:25:36</dUpdateDate>
	<vcClassName>日志</vcClassName>
	<vcName>日志</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
</Categories>