<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>0f958275-36d7-47b7-a35a-598c5754718e</Id>
	<Parent>62efc0e8-8556-482b-8d8a-1a7390c55dfe</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-12 9:30:41</dUpdateDate>
	<dUpdateDate>2010-4-12 9:30:41</dUpdateDate>
	<vcClassName>小分类三</vcClassName>
	<vcName>小分类三</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/categoie/c3</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
<Categorie>
	<Id>17dfafc6-bd13-4c05-8a75-0875ab2dec6a</Id>
	<Parent>62efc0e8-8556-482b-8d8a-1a7390c55dfe</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-12 9:30:52</dUpdateDate>
	<dUpdateDate>2010-4-12 9:30:52</dUpdateDate>
	<vcClassName>小分类四</vcClassName>
	<vcName>小分类四</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/categoie/c4</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
<Categorie>
	<Id>1b33ed40-f971-4aeb-8b30-e359b6e186a7</Id>
	<Parent>4bdced83-40d3-4e52-a1e8-8e27367c5fa5</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-12 9:26:08</dUpdateDate>
	<dUpdateDate>2010-4-12 9:26:08</dUpdateDate>
	<vcClassName>分类二</vcClassName>
	<vcName>分类二</vcName>
	<vcDirectory>/html</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
<Categorie>
	<Id>4bdced83-40d3-4e52-a1e8-8e27367c5fa5</Id>
	<Parent>0</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-10 0:25:36</dUpdateDate>
	<dUpdateDate>2010-4-10 0:25:36</dUpdateDate>
	<vcClassName>日志</vcClassName>
	<vcName>日志</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
<Categorie>
	<Id>5365168f-c136-4bc8-9e85-fc6a1207a323</Id>
	<Parent>1b33ed40-f971-4aeb-8b30-e359b6e186a7</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-12 9:30:09</dUpdateDate>
	<dUpdateDate>2010-4-12 9:30:09</dUpdateDate>
	<vcClassName>小分类二</vcClassName>
	<vcName>小分类二</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/categoie/c2</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
<Categorie>
	<Id>62efc0e8-8556-482b-8d8a-1a7390c55dfe</Id>
	<Parent>4bdced83-40d3-4e52-a1e8-8e27367c5fa5</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-12 9:26:55</dUpdateDate>
	<dUpdateDate>2010-4-12 9:26:55</dUpdateDate>
	<vcClassName>分类一</vcClassName>
	<vcName>分类一</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
<Categorie>
	<Id>6323b6f3-a093-4e6e-ac3f-44c169dc398e</Id>
	<Parent>1b33ed40-f971-4aeb-8b30-e359b6e186a7</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-12 9:29:45</dUpdateDate>
	<dUpdateDate>2010-4-12 9:29:45</dUpdateDate>
	<vcClassName>小分类一</vcClassName>
	<vcName>小分类一</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/categoie/c1</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
<Categorie>
	<Id>7c941b26-711c-4a92-86bf-56a77265e214</Id>
	<Parent>d34abbf9-26d2-45fc-aebe-09751461b300</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-12 9:12:35</dUpdateDate>
	<dUpdateDate>2010-4-12 9:12:35</dUpdateDate>
	<vcClassName>图片链接</vcClassName>
	<vcName>图片链接</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
<Categorie>
	<Id>d34abbf9-26d2-45fc-aebe-09751461b300</Id>
	<Parent>0</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-12 9:12:04</dUpdateDate>
	<dUpdateDate>2010-4-12 9:12:04</dUpdateDate>
	<vcClassName>友情链接</vcClassName>
	<vcName>友情链接</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
<Categorie>
	<Id>e7ac4287-f10d-4a8f-9477-92f79ba98fbb</Id>
	<Parent>d34abbf9-26d2-45fc-aebe-09751461b300</Parent>
	<ResourceTemplate>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</ResourceTemplate>
	<ResourceListTemplate>4a589c40-7767-4bd1-8c86-f8ec56716fd4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2010-4-12 9:12:57</dUpdateDate>
	<dUpdateDate>2010-4-12 9:12:57</dUpdateDate>
	<vcClassName>文字链接</vcClassName>
	<vcName>文字链接</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService>resourceDataBase</DataBaseService>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
</Categorie>
</Categories>