<?xml version="1.0"?>
<Templates>
<Template>
	<Id>76495b71-1655-4c28-a772-8a4ae2d1ac24</Id>
	<Content><![CDATA[-2333-]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:21:00</dUpdateDate>
	<dAddDate>2010-4-9 23:15:00</dAddDate>
	<vcTempName>js</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>c75ff964-7980-4263-a657-05e858560dc7</Id>
	<Content><![CDATA[--]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:21:00</dUpdateDate>
	<dAddDate>2010-4-10 0:24:00</dAddDate>
	<vcTempName>列表模板</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>3d36f8b0-413c-46a9-a624-b9351deee411</Id>
	<Content><![CDATA[--]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:21:00</dUpdateDate>
	<dAddDate>2010-4-10 0:24:00</dAddDate>
	<vcTempName>详细页模板</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>4a589c40-7767-4bd1-8c86-f8ec56716fd4</Id>
	<Content><![CDATA[<tcg:NewsClass type="Categories" id="_$ClassId$_">
<tcg:Header type="Template" id="cda91e79-8417-4ea4-aa50-4cbdd0d70467"></tcg:Header>
 <!-- start content -->
<div id="content">
	<tcg:list type="Resourcelist" categories="_$ClassId$_" num="8" check="Y" del="N" create="Y" orders="iId DESC">
	<div class="post">
		<h1 class="title">$list_vcTitle$</h1>
		<p class="meta">
			<small>Posted by Clinton Begin on Feb 25, 2010</small>
		</p>
		<div class="entry">
			$list_vcShortContent$
			<p class="more"><a href="$list_vcUrl$" title="$list_vcTitle$" target="_blank" >$list_vcTitle$</a></p> 
		</div>
	</div>	
	</tcg:list>	
</div>
<!-- end content -->
<!-- start sidebar -->
<div id="sidebar"> 
	<tcg:blogright type="Template" id="fe1bd10d-97c9-4b72-b808-224cc12098bf"></tcg:blogright>
</div>
<tcg:Footer type="Template" id="b281fe79-b03d-44b8-88a9-33ad12046705"></tcg:Footer>
</tcg:newsclass>]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>c75ff964-7980-4263-a657-05e858560dc7</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 16:00:00</dUpdateDate>
	<dAddDate>2010-4-10 0:25:00</dAddDate>
	<vcTempName>列表一</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>b00ae5d6-ee9e-490c-a388-692ae0f1f1e5</Id>
	<Content><![CDATA[<tcg:NewsTopic type="Resource" id="_$Id$_">
<tcg:Header type="Template" id="cda91e79-8417-4ea4-aa50-4cbdd0d70467"></tcg:Header>
 <!-- start content -->
<div id="content">
	<div class="post">
		<h1 class="title">$NewsTopic_vcTitle$</h1>
		<p class="meta">
			<small>作者：$NewsTopic_vcAuthor$ 发布时间：$NewsTopic_dAddDate$</small>
		</p>
		<div class="entry">
			$NewsTopic_vcContent$
		</div>
	</div>	
</div>
<!-- end content -->
<!-- start sidebar -->
<div id="sidebar"> 
	<tcg:blogright type="Template" id="fe1bd10d-97c9-4b72-b808-224cc12098bf"></tcg:blogright>
</div>
<tcg:Footer type="Template" id="b281fe79-b03d-44b8-88a9-33ad12046705"></tcg:Footer>
</tcg:NewsTopic>
]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>1</TemplateType>
	<iParentId>3d36f8b0-413c-46a9-a624-b9351deee411</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 16:01:00</dUpdateDate>
	<dAddDate>2010-4-10 0:25:00</dAddDate>
	<vcTempName>详细一</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>a0eb76e0-8851-4f15-bdfa-0d51067c7e02</Id>
	<Content><![CDATA[--]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:32:00</dUpdateDate>
	<dAddDate>2010-4-11 15:32:00</dAddDate>
	<vcTempName>ctrl</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>a99c1efb-d1b7-4631-aac4-e3cc48cda8ce</Id>
	<Content><![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
 <title>TCG CMS 开源CMS (C#)</title>
 <meta name="keywords" content="资讯管理,企业建站,新闻系统,ASP.NET开源新闻系统"/>
 <meta name="description" content="专注于中小企业,商家网络信息化建设"/>
 <link href="/skin/ibatis/css/default.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!-- start header -->
<div id="feeds">
 <b>&nbsp;|&nbsp;</b>
</div>
<hr/>
<div id="logo">
 	<img alt="ibatis" src="/skin/ibatis/images/tcgcms.gif"/> 
	<div class="tcg_ad">

<script type='text/javascript'> 
cpro_client='taocheng2010_cpr';
cpro_at='text_image'; 
cpro_161=4; 
cpro_flush=4; 
cpro_w=468; 
cpro_h=60; 
cpro_template='text_default_468_60'; 
cpro_cbd='#999999'; 
cpro_cbg='#FFFFFF'; 
cpro_ctitle='#000000'; 
cpro_cdesc='#444444'; 
cpro_curl='#008000'; 
cpro_cflush='#e10900'; 
cpro_uap=1;
cpro_cad=1;
cpro_channel=1;
</script>
<script language='JavaScript' type='text/javascript' src='http://cpro.baidu.com/cpro/ui/cp.js'></script>
	</div>
</div>

<hr/>
<!-- end header -->
<!-- start menu -->
<div id="menu">
 <ul>
 <li><a href="/index.html">首页</a></li>
 <li><a href="/html/2010/0401/0000000037.html">模板</a></li>
 <li><a href="/">采集</a></li>
 <li><a href="/">服务</a></li>
 <li><a href="/html/ibatis/blog/index.html">博客</a></li>
 <li><a href="/bbs/">社区</a></li>
 </ul>
</div>
<!-- end menu -->
<div id="page">]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>a0eb76e0-8851-4f15-bdfa-0d51067c7e02</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:35:00</dUpdateDate>
	<dAddDate>2010-4-11 15:35:00</dAddDate>
	<vcTempName>header</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>226ada43-7148-416b-98fe-bb10059859a2</Id>
	<Content><![CDATA[<!-- end sidebar --> 
<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<div id="footer">
 <p id="legal">&copy;2009 - 2010 TCG Content Management System . All Rights Reserved.
 <br/>Designed by <a href="http://www.tcgcms.cn/">Tcg Cms</a> 鄂ICP备09016016号 
 <br/>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff8e3acf12a196f47c88c367a92569328' type='text/javascript'%3E%3C/script%3E"));
</script>
</p>
</div>
</body>
</html>

]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>a0eb76e0-8851-4f15-bdfa-0d51067c7e02</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:36:00</dUpdateDate>
	<dAddDate>2010-4-11 15:36:00</dAddDate>
	<vcTempName>footer</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>64577783-9d75-4d5e-a9ad-99433b137ed1</Id>
	<Content><![CDATA[<li><h2>友情链接</h2> 
	<ul>
		<li><b>文字连接</a></li> 
		<tcg:list type="Resourcelist" categories="88a22937-7a69-466d-8944-7eae856c691c" num="15" check="Y" del="N" create="Y" orders="iId DESC">
			<li><a title="$list_vcTitle$" href="$list_vcUrl$" target="_blank">$list_vcTitle$</a></li>
		</tcg:list>
		<li><b>图片链接</b></li> 
		<tcg:list1 type="Resourcelist" categories="12f500e3-0f23-429b-b377-a1fecb686519" num="15" check="Y" del="N" create="Y" orders="iId DESC">
			<li><a title="WHO USED TCG CMS?" href="http://www.tcgcms.cn/bbs/showforum-2.shtml" target="_blank">谁用了TCG CMS？</a></li>
		</tcg:list1>
	</ul>
</li>]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>a0eb76e0-8851-4f15-bdfa-0d51067c7e02</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:40:00</dUpdateDate>
	<dAddDate>2010-4-11 15:40:00</dAddDate>
	<vcTempName>link</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>1661fe69-fce5-4f8e-8d9a-8e70f269a799</Id>
	<Content><![CDATA[--]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:29:00</dUpdateDate>
	<dAddDate>2010-4-11 15:29:00</dAddDate>
	<vcTempName>css</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>9ea7b488-3855-4639-8c49-f56bdfbc06f6</Id>
	<Content><![CDATA[/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #000000 url(../images/img01.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #C0C0C0;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

h1, h2, h3 {
	text-transform: lowercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #E6E6E6;
}

h1 {
	letter-spacing: -1px;
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
}

p, ul, ol {
	margin-bottom: 1.6em;
	line-height: 180%;
}

p {
}

blockquote {
	font-style: italic;
}

ul {
}

ol {
}

a {
	color: #FA9C39;
}

a:hover {
	text-decoration: none;
}

small {
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: left;
	margin: 0 0 0 15px;
}

/* Header */

#feeds {
	width: 980px;
	height: 28px;
	margin: 0 auto;
	padding-top: 12px;
	text-align: right;
}

#feeds b {
	display: none;
}

#feeds a {
	padding: 0 21px;
	background: url(../images/img06.gif) no-repeat left center;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

#feeds a:hover {
	text-decoration: underline;
}

#logo {
	width: 980px;
	height: 90px;
	margin: 0 auto;
	padding: 30px 0 0 0;
	position:relative;
}

#logo h1, #logo p {
	margin: 0;
	float: left;
	color: #FFFFFF;
}

#logo h1 {
	padding-left: 40px;
	font-size: 4em;
}

#logo p {
	padding: 3px 0 0 5px;
	font-size: 1.4em;
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 980px;
	height: 60px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 43px;
	padding: 17px 30px 0 30px;
	background: url(../images/img04.gif) no-repeat;
	/*text-transform: lowercase;*/
	text-decoration: none;
	font-size: 1.8em;
	color: #5B6371;
}

#menu a:hover {
	color: #000000;
}

#menu .active a {
	background-color: #738197;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 20px 0;
}

/* Content */

#content {
	float: left;
	width: 660px;
	padding-top: 8px;
}

.post {
	text-align: justify;
}

.post .title {
	margin: 0;
	border-bottom: 1px solid #1A1A1A;
}

.post .meta {
	margin: 0;
	padding-left: 6px;
	background: url(../images/img05.gif) no-repeat left center;
	color: #808080;
}

.post .meta a {
	color: #808080;
}

.post .entry {
	padding: 20px;
}

.post .more {
	text-align: right;
}

.post .more a {
	padding-left: 15px;
	background: url(../images/img06.gif) no-repeat left center;
	text-decoration: none;
	font-weight: bold;
}

.post .more a:hover {
	text-decoration: underline;
}

.vline {
	border-bottom: 1px solid #1A1A1A;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 20px;
	background: #1A1A1A;
	border: 5px solid #050505;
}

#sidebar li ul {
	padding: 20px;
}

#sidebar li li {
	margin: 0;
	background: none;
	border: none;
}

#sidebar li li a {
	padding-left: 15px;
	background: url(../images/img08.gif) no-repeat left center;
	text-decoration: none;
}

#sidebar li li a:hover {
	text-decoration: underline;
}

#sidebar h2 {
	height: 40px;
	margin: 0;
	padding: 10px 0 0 10px;
	background: #BAD08B url(../images/img07.gif) repeat-x;
	letter-spacing: -1px;
	font-size: 1.8em;
	color: #000000;
}

/* Search */

#search form {
	padding: 20px;
}

/* Footer */

#footer {
	clear: both;
	height: 100px;
	padding: 20px;
	background: #1A1A1A;
	border-top: 10px solid #050505;
}

#footer p {
	margin: 0;
	text-align: center;
	color: #444444;
}

#footer a {
	color: #444444;
}
.tcg_ad
{
	position:absolute;
	top:35px;
	left:510px;
}
]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>1661fe69-fce5-4f8e-8d9a-8e70f269a799</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:31:00</dUpdateDate>
	<dAddDate>2010-4-11 15:31:00</dAddDate>
	<vcTempName>default.css</vcTempName>
	<vcUrl>/skin/blog/css/default.css</vcUrl>
</Template>
<Template>
	<Id>e07afc33-1264-47b5-907c-a8765e96655a</Id>
	<Content><![CDATA[<ul> 
	<li><h2>日志分类</h2> 
		<ul>
			<tcg:Big type="CategoriesList" skin="d4204ed8-a0ff-49e3-ad84-f7756d6791bc"  parent="9cd60396-f08a-43fb-85f8-3f18d09631cd"  orders="iOrder">
				<li><b>$Big_vcClassName$</b></li>
				<tcg:Big1 type="CategoriesList" skin="d4204ed8-a0ff-49e3-ad84-f7756d6791bc"  parent="$Big_Id$"  orders="iOrder">
				<li><a title="$Big1_vcName$" href="$Big1_vcUrl$">$Big1_vcClassName$</a></li>
				</tcg:big1>
			</tcg:big>
		</ul>
	</li>
	<li><h2>最新更新</h2> 
		<ul>
			<tcg:list type="Resourcelist" categories="9cd60396-f08a-43fb-85f8-3f18d09631cd" num="15" check="Y" del="N" create="Y" orders="iId DESC">
				<li><a title="$list_vcTitle$" href="$list_vcUrl$" target="_blank">$list_vcTitle$</a></li>
			</tcg:list>
		</ul>
		
	</li>
	<tcg:Link type="Template" id="a59ef055-4cf5-48b7-989a-f84ce9d8c289"></tcg:Link>
</ul>
]]></Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>a0eb76e0-8851-4f15-bdfa-0d51067c7e02</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2010-4-11 15:38:00</dUpdateDate>
	<dAddDate>2010-4-11 15:38:00</dAddDate>
	<vcTempName>rihgt</vcTempName>
	<vcUrl></vcUrl>
</Template>
</Templates>