<?xml version="1.0"?>
<Template>
	<ID>76495b71-1655-4c28-a772-8a4ae2d1ac24<ID>
	<Content>--<Content>
	<SkinId>18209852-2964-4d48-b34e-85cdfd86dac6<SkinId>
	<TemplateType>3<TemplateType>
	<iParentId>0<iParentId>
	<iSystemType>0<iSystemType>
	<dUpdateDate>0001-1-1 0:00:00<dUpdateDate>
	<dAddDate>0001-1-1 0:00:00<dAddDate>
	<vcTempName>js<vcTempName>
	<vcUrl><vcUrl>
</Template>
