<?xml version="1.0" encoding="utf-8" ?>
<!--
使用说明
	IndexName:
		当前项唯一索引名,若有同名的索引,请加上目录名加_
			1.根目录/a.aspx					IndexName A
			2.根目录/Temp/a.aspx			IndexName Temp_A
			3.根目录/Temp/Temp/a.aspx		IndexName Temp_Temp_A
	IsOpen:
		是否暂时关闭当前项地址重写功能
		关闭后,将使用NoRewriteUrl项重组路径
	FindUrl:
		当前项使用地址重写功能后在HttpModule项目中查找的Url路径
	ToUrl:
		当前项使用地址重写功能后在HttpModule项目中跳转的Url路径
	RewriteUrl:
		当前项使用地址重写功能后组合成新的Url路径必须的方式
		{0} 当前组合路径的前导目录,若与当前页在同一目录,则为空
		{1} {2} .....  其他各种参数
	NoRewriteUrl:
		当前项不使用地址重写功能后组合成新的Url路径必须的方式
		{0} 当前组合路径的前导目录,若与当前页在同一目录,则为空
		{1} {2} .....  其他各种参数
//-->
<RoleItems>
    <RoleItem>
      <IndexName>Common_AllNewsClass</IndexName>
      <IsOpen>true</IsOpen>
      <FindUrl>(.*)\/Common/AllNewsClass\.js</FindUrl>
      <ToUrl>$1/Common/AllNewsClass.aspx</ToUrl>
      <RewriteUrl>{0}/Common/AllNewsClass.js</RewriteUrl>
      <NoRewriteUrl>{0}/Common/AllNewsClass.aspx</NoRewriteUrl>
    </RoleItem>
    <RoleItem>
      <IndexName>Common_attch</IndexName>
      <IsOpen>true</IsOpen>
      <FindUrl>(.*)\/attach-(.*)\.shtml</FindUrl>
      <ToUrl>$1/attach.aspx?attach=$2</ToUrl>
      <RewriteUrl>{0}/attach-{1}.shtml</RewriteUrl>
      <NoRewriteUrl>{0}/attach.aspx?attach={1}</NoRewriteUrl>
    </RoleItem>
	<RoleItem>
		<IndexName>Common_fileview</IndexName>
		<IsOpen>true</IsOpen>
		<FindUrl>(.*)\/fileview-(.*)\.shtml</FindUrl>
		<ToUrl>$1/fileview.aspx?fileId=$2</ToUrl>
		<RewriteUrl>{0}/fileview-{1}.shtml</RewriteUrl>
		<NoRewriteUrl>{0}/fileview.aspx?fileId={1}</NoRewriteUrl>
	</RoleItem>
</RoleItems>