<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>40eb02f8-f73b-49c4-a1fe-f4dd6e286ff6</Id>
	<Parent>0</Parent>
	<ResourceTemplate>0e83f685-d520-43d3-b3e4-70c08369b5af</ResourceTemplate>
	<ResourceListTemplate>5b73ad7d-9178-4ce0-9b2a-27da1073de56</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/14 15:49:39</dUpdateDate>
	<dUpdateDate>2011/5/14 15:49:39</dUpdateDate>
	<vcClassName>sdfsd</vcClassName>
	<vcName>sdfsdf</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/sdfd</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-chianz-ex</SkinId>
</Categorie>
<Categorie>
	<Id>7f31e989-24c6-4d92-ac27-5991d690dd75</Id>
	<Parent>0</Parent>
	<ResourceTemplate>0e83f685-d520-43d3-b3e4-70c08369b5af</ResourceTemplate>
	<ResourceListTemplate>5b73ad7d-9178-4ce0-9b2a-27da1073de56</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/14 8:26:45</dUpdateDate>
	<dUpdateDate>2011/5/14 8:26:45</dUpdateDate>
	<vcClassName>3233</vcClassName>
	<vcName>12312</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/sdfsd</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>sanyungui-chianz-ex</SkinId>
</Categorie>
</Categories>