<?xml version="1.0" encoding="gb2312"?>
<!--
 Copyright (C) 2009-2009 tcgcms.com <http://www.tcgcms.cn/>

    本代码以公共的方式开发下载，任何个人和组织可以下载，
 修改，进行第二次开发使用，但请保留作者版权信息。

    任何个人或组织在使用本软件过程中造成的直接或间接损失，
 需要自行承担后果与本软件开发者(三云鬼)无关。

    本软件解决中小型商家产品网络化销售方案。

    使用中的问题，咨询作者QQ邮箱 sanyungui@vip.qq.com
-->
<Settings>
  <Item>
    <Name>FileExtension</Name>
    <Explain>生成资源的后缀</Explain>
    <Mode>Text</Mode>
    <Value>.html</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>WebSite</Name>
    <Explain>网站地址</Explain>
    <Mode>Text</Mode>
    <Value>http://demo.tcgcms.cn</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>MainPage</Name>
    <Explain>首页地址</Explain>
    <Mode>Text</Mode>
    <Value>/index.html</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>WebKeyWords</Name>
    <Explain>网站关键字</Explain>
    <Mode>Text</Mode>
    <Value>TCG CMS</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>WebDescription</Name>
    <Explain>网站说明</Explain>
    <Mode>Text</Mode>
    <Value>TCG CMS</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>WebServiceKey</Name>
    <Explain>WebService验证KEY</Explain>
    <Mode>Text</Mode>
    <Value>593fd7e4-1c00-4ade-bab0-426342b9e0d9</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>ManagePath</Name>
    <Explain>后台文件夹</Explain>
    <Mode>Text</Mode>
    <Value>/Manage/</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>filePatch</Name>
    <Explain>文件保存路径</Explain>
    <Mode>Text</Mode>
    <Value>/filePatch/</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>alowFileType</Name>
    <Explain>允许上传文件类型</Explain>
    <Mode>Text</Mode>
    <Value>'.gif','.bmp','.jpg','.rar','.zip','.png'</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>fileSize</Name>
    <Explain>最大上传文件大小</Explain>
    <Mode>Text</Mode>
    <Value>1012000</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>NewsFileClass</Name>
    <Explain>资讯文件保存分类</Explain>
    <Mode>Text</Mode>
    <Value>1</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>WebTitle</Name>
    <Explain>系统名称</Explain>
    <Mode>Text</Mode>
    <Value>TCG CMS </Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>PageSize</Name>
    <Explain>后台列表显示的纪录数</Explain>
    <Mode>Number</Mode>
    <Value>15</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>AdminLoginName</Name>
    <Explain>后台管理员COOKIE</Explain>
    <Mode>Text</Mode>
    <Value>_TCGAdminLogin_</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>AdminSessionName</Name>
    <Explain>后台管理员Session</Explain>
    <Mode>Text</Mode>
    <Value>_TCGAdmin_</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>AdminCookieName</Name>
    <Explain>后台管理员COOKIE</Explain>
    <Mode>Text</Mode>
    <Value>_TCGAdmin_</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>dbtype</Name>
    <Explain>AccEss,MsSql</Explain>
    <Mode>Text</Mode>
    <Value>MsSql</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>IndexListType</Name>
    <Explain>01.固定知识库,02.时间倒叙</Explain>
    <Mode>Text</Mode>
    <Value>02</Value>
    <Required>True</Required>
  </Item>
</Settings>