<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>caac6509-c0ea-4251-9041-42469f29ad94</Id>
	<Parent>5c185c05-a93d-4f75-9c6b-2625bd4e4fe2</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/9/13 10:34:55</dUpdateDate>
	<dUpdateDate>2011/9/13 10:34:55</dUpdateDate>
	<vcClassName>Temporary Notice</vcClassName>
	<vcName>Temporary Notice</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/temporarynotice/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>a399a5c6-1068-4bec-bcca-74b07de1b822</Id>
	<Parent>0</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/9/13 9:57:19</dUpdateDate>
	<dUpdateDate>2011/9/13 9:57:19</dUpdateDate>
	<vcClassName>index</vcClassName>
	<vcName>index</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/</vcUrl>
	<cVisible>N</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>643c7d3e-804c-47c7-8f0c-21581611fc42</Id>
	<Parent>2f9f0c60-6931-41be-8685-9047a394e2e7</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/10/30 14:08:22</dUpdateDate>
	<dUpdateDate>2011/10/30 14:08:22</dUpdateDate>
	<vcClassName>公益事业</vcClassName>
	<vcName>公益事业</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>e17ef47d-b530-4e67-91b5-6b3b95845450</Id>
	<Parent>5c185c05-a93d-4f75-9c6b-2625bd4e4fe2</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/9/13 10:35:31</dUpdateDate>
	<dUpdateDate>2011/9/13 10:35:31</dUpdateDate>
	<vcClassName>Periodic reports</vcClassName>
	<vcName>Periodic reports</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/periodicreports/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>f51385c2-423a-492e-bbce-5cb5003e283b</Id>
	<Parent>09f98bf1-532b-492e-8ec8-9d9d8405b5a3</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/10/30 14:08:05</dUpdateDate>
	<dUpdateDate>2011/10/30 14:08:05</dUpdateDate>
	<vcClassName>环保理念</vcClassName>
	<vcName>环保理念</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>6a001beb-6166-41f8-8750-994f4d73aea7</Id>
	<Parent>e62c70a2-2ffc-47b4-8cb9-a998ca87754d</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/10/30 13:31:10</dUpdateDate>
	<dUpdateDate>2011/10/30 13:31:10</dUpdateDate>
	<vcClassName>变更公告</vcClassName>
	<vcName>变更公告</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/product/bg/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>2f9f0c60-6931-41be-8685-9047a394e2e7</Id>
	<Parent>0</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>04babd55-1927-4d5d-ac49-17d2b2f5f6dd</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/10/30 14:07:11</dUpdateDate>
	<dUpdateDate>2011/10/30 14:07:11</dUpdateDate>
	<vcClassName>Social Responsibility</vcClassName>
	<vcName>Social Responsibility</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>09f98bf1-532b-492e-8ec8-9d9d8405b5a3</Id>
	<Parent>0</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>97382ac3-c2e6-4591-9e81-edc3083a0dfe</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/10/30 13:46:56</dUpdateDate>
	<dUpdateDate>2011/10/30 13:46:56</dUpdateDate>
	<vcClassName>Recruitment Zhongsheng</vcClassName>
	<vcName>Recruitment Zhongsheng</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>N</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>3f44d890-90a9-4184-b95c-355a73261969</Id>
	<Parent>d5e049cf-e1b9-40fd-9dc0-6f50d460c35a</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/9/13 10:19:09</dUpdateDate>
	<dUpdateDate>2011/9/13 10:19:09</dUpdateDate>
	<vcClassName>Corporate Philosophy</vcClassName>
	<vcName>Corporate Philosophy</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>6b110384-8a7e-4516-b9df-f92a433743dd</Id>
	<Parent>0ee36759-d88f-4bd8-a7a4-d8622eb9fedb</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/9/13 10:15:28</dUpdateDate>
	<dUpdateDate>2011/9/13 10:15:28</dUpdateDate>
	<vcClassName>Company News</vcClassName>
	<vcName>Company News</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/companynews</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>a36a5faf-29c6-47c3-ae97-0db127450210</Id>
	<Parent>8cf4532f-ea09-4e4d-8deb-5cae38ff4e46</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/9/13 10:01:05</dUpdateDate>
	<dUpdateDate>2011/9/13 10:01:05</dUpdateDate>
	<vcClassName>Company Profile</vcClassName>
	<vcName>Company Profile</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>8cf4532f-ea09-4e4d-8deb-5cae38ff4e46</Id>
	<Parent>0</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/9/13 9:59:45</dUpdateDate>
	<dUpdateDate>2011/9/13 9:59:45</dUpdateDate>
	<vcClassName>About Us</vcClassName>
	<vcName>About Us</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/20110913/2617.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>cd0332ef-d4df-4512-907d-80c78dc99107</Id>
	<Parent>257b2891-fe16-45e7-8336-c421e3a8aa56</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/9/13 10:21:12</dUpdateDate>
	<dUpdateDate>2011/9/13 10:21:12</dUpdateDate>
	<vcClassName>Innovation Strategy</vcClassName>
	<vcName>Innovation Strategy</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>4afca4b1-1c9d-415d-8f2a-d9a4109812bd</Id>
	<Parent>702c9e5a-35eb-49f0-ba3b-52ee429d3640</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/9/13 10:25:10</dUpdateDate>
	<dUpdateDate>2011/9/13 10:25:10</dUpdateDate>
	<vcClassName>phthalmic</vcClassName>
	<vcName>phthalmic</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/phthalmic</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>44339d72-46d6-4653-ae32-8cdcf61d3903</Id>
	<Parent>9a95ae9b-4d32-46cc-8b92-b36fbf62d063</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/9/13 10:55:13</dUpdateDate>
	<dUpdateDate>2011/9/13 10:55:13</dUpdateDate>
	<vcClassName>Authenticity verification</vcClassName>
	<vcName>Authenticity verification</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>0bb2ea8f-e920-42a1-a1ee-a413b5e57b7f</Id>
	<Parent>d48713a4-8119-4278-9a4b-434327f49282</Parent>
	<ResourceTemplate>29bceea7-d567-47b7-ae70-d033f93585b6</ResourceTemplate>
	<ResourceListTemplate>04babd55-1927-4d5d-ac49-17d2b2f5f6dd</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/9/13 10:27:54</dUpdateDate>
	<dUpdateDate>2011/9/13 10:27:54</dUpdateDate>
	<vcClassName>Medicine preparations</vcClassName>
	<vcName>Medicine preparations</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/medicinepreparations/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>809972e7-c99a-4b36-ace3-918f513b8208</Id>
	<Parent>09f98bf1-532b-492e-8ec8-9d9d8405b5a3</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>97382ac3-c2e6-4591-9e81-edc3083a0dfe</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/10/30 13:47:47</dUpdateDate>
	<dUpdateDate>2011/10/30 13:47:47</dUpdateDate>
	<vcClassName>招聘政策</vcClassName>
	<vcName>招聘政策</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>84e83219-66df-4611-b6af-d6f2c980a49b</Id>
	<Parent>702c9e5a-35eb-49f0-ba3b-52ee429d3640</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/9/13 10:25:29</dUpdateDate>
	<dUpdateDate>2011/9/13 10:25:29</dUpdateDate>
	<vcClassName>Digestive system</vcClassName>
	<vcName>Digestive system</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/digestivesystem/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>a6452dc4-b77c-4519-840b-6bf522bf0aa6</Id>
	<Parent>8cf4532f-ea09-4e4d-8deb-5cae38ff4e46</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/9/13 10:01:25</dUpdateDate>
	<dUpdateDate>2011/9/13 10:01:25</dUpdateDate>
	<vcClassName>Organizations</vcClassName>
	<vcName>Organizations</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>5ad549b8-e18c-4159-b155-298019a4d5bb</Id>
	<Parent>d48713a4-8119-4278-9a4b-434327f49282</Parent>
	<ResourceTemplate>29bceea7-d567-47b7-ae70-d033f93585b6</ResourceTemplate>
	<ResourceListTemplate>04babd55-1927-4d5d-ac49-17d2b2f5f6dd</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/9/13 10:28:12</dUpdateDate>
	<dUpdateDate>2011/9/13 10:28:12</dUpdateDate>
	<vcClassName>Digestive medicines</vcClassName>
	<vcName>Digestive medicines</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/digestivemedicines/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>8bbb805e-2673-4be5-b972-14b2ef411e2d</Id>
	<Parent>257b2891-fe16-45e7-8336-c421e3a8aa56</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/9/13 10:21:19</dUpdateDate>
	<dUpdateDate>2011/9/13 10:21:19</dUpdateDate>
	<vcClassName>Key research areas</vcClassName>
	<vcName>Key research areas</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>c5abd250-2d3b-444d-8e75-53c243950c19</Id>
	<Parent>d5e049cf-e1b9-40fd-9dc0-6f50d460c35a</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/9/13 10:19:20</dUpdateDate>
	<dUpdateDate>2011/9/13 10:19:20</dUpdateDate>
	<vcClassName>Corporate Identity</vcClassName>
	<vcName>Corporate Identity</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>01819565-b308-46da-ba3d-fbab1e7660f7</Id>
	<Parent>09f98bf1-532b-492e-8ec8-9d9d8405b5a3</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>97382ac3-c2e6-4591-9e81-edc3083a0dfe</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/10/30 13:50:59</dUpdateDate>
	<dUpdateDate>2011/10/30 13:50:59</dUpdateDate>
	<vcClassName>招聘信息</vcClassName>
	<vcName>招聘信息</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/jmzs/zp</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>dd77a537-a708-446a-b5c2-73f1ff0546df</Id>
	<Parent>0ee36759-d88f-4bd8-a7a4-d8622eb9fedb</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/9/13 10:16:17</dUpdateDate>
	<dUpdateDate>2011/9/13 10:16:17</dUpdateDate>
	<vcClassName>Media Focus</vcClassName>
	<vcName>Media Focus</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/mediafocus</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>0ee36759-d88f-4bd8-a7a4-d8622eb9fedb</Id>
	<Parent>0</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/9/13 10:06:25</dUpdateDate>
	<dUpdateDate>2011/9/13 10:06:25</dUpdateDate>
	<vcClassName>News</vcClassName>
	<vcName>News</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/companynews.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>2e4d2eda-8754-4fdb-857e-fbe8ed41ca09</Id>
	<Parent>9a95ae9b-4d32-46cc-8b92-b36fbf62d063</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/9/13 10:55:25</dUpdateDate>
	<dUpdateDate>2011/9/13 10:55:25</dUpdateDate>
	<vcClassName>Contact us</vcClassName>
	<vcName>Contact us</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>df65f5cd-5382-4eb0-a09f-119d74db8e27</Id>
	<Parent>8cf4532f-ea09-4e4d-8deb-5cae38ff4e46</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/9/13 10:01:33</dUpdateDate>
	<dUpdateDate>2011/9/13 10:01:33</dUpdateDate>
	<vcClassName>President</vcClassName>
	<vcName>President</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>4ca4b446-eb60-43cd-a92e-75c3a33b2502</Id>
	<Parent>257b2891-fe16-45e7-8336-c421e3a8aa56</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/9/13 10:21:25</dUpdateDate>
	<dUpdateDate>2011/9/13 10:21:25</dUpdateDate>
	<vcClassName>Innovation process</vcClassName>
	<vcName>Innovation process</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>d5e049cf-e1b9-40fd-9dc0-6f50d460c35a</Id>
	<Parent>0</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/9/13 10:18:25</dUpdateDate>
	<dUpdateDate>2011/9/13 10:18:25</dUpdateDate>
	<vcClassName>Culture</vcClassName>
	<vcName>Culture</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/20111030/2628.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>4be61e59-4997-42f5-a95e-fd17df05d2d7</Id>
	<Parent>0ee36759-d88f-4bd8-a7a4-d8622eb9fedb</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/9/13 10:16:43</dUpdateDate>
	<dUpdateDate>2011/9/13 10:16:43</dUpdateDate>
	<vcClassName>Industry News</vcClassName>
	<vcName>Industry News</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/industrynews</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>852be6b2-a871-428b-9623-ecc701d2bf6c</Id>
	<Parent>d5e049cf-e1b9-40fd-9dc0-6f50d460c35a</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/10/30 11:25:06</dUpdateDate>
	<dUpdateDate>2011/10/30 11:25:06</dUpdateDate>
	<vcClassName>Staff Corner</vcClassName>
	<vcName>Staff Corner</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/Culture/staffcorner</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>f851aefd-87a3-4687-a1f4-9f7cf558fe1d</Id>
	<Parent>702c9e5a-35eb-49f0-ba3b-52ee429d3640</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/9/13 10:26:06</dUpdateDate>
	<dUpdateDate>2011/9/13 10:26:06</dUpdateDate>
	<vcClassName>Nervous system</vcClassName>
	<vcName>Nervous system</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/nervoussystem/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>3d5118d7-681a-4a59-a76d-c28bc80c262e</Id>
	<Parent>9a95ae9b-4d32-46cc-8b92-b36fbf62d063</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/9/13 10:55:38</dUpdateDate>
	<dUpdateDate>2011/9/13 10:55:38</dUpdateDate>
	<vcClassName>Business Contact</vcClassName>
	<vcName>Business Contact</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>06edf5b4-400b-46c6-b1d1-f3e4065673ae</Id>
	<Parent>d48713a4-8119-4278-9a4b-434327f49282</Parent>
	<ResourceTemplate>29bceea7-d567-47b7-ae70-d033f93585b6</ResourceTemplate>
	<ResourceListTemplate>04babd55-1927-4d5d-ac49-17d2b2f5f6dd</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/9/13 10:28:29</dUpdateDate>
	<dUpdateDate>2011/9/13 10:28:29</dUpdateDate>
	<vcClassName>Vitamin medicines</vcClassName>
	<vcName>Vitamin medicines</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/vitaminmedicines/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>8cc2c386-0a2b-46a8-8659-f654e31a65d3</Id>
	<Parent>9a95ae9b-4d32-46cc-8b92-b36fbf62d063</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/9/13 10:55:46</dUpdateDate>
	<dUpdateDate>2011/9/13 10:55:46</dUpdateDate>
	<vcClassName>Feedback</vcClassName>
	<vcName>Feedback</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>6cebace0-6d61-4af8-ab23-7a7300909255</Id>
	<Parent>d48713a4-8119-4278-9a4b-434327f49282</Parent>
	<ResourceTemplate>29bceea7-d567-47b7-ae70-d033f93585b6</ResourceTemplate>
	<ResourceListTemplate>04babd55-1927-4d5d-ac49-17d2b2f5f6dd</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/9/13 10:28:46</dUpdateDate>
	<dUpdateDate>2011/9/13 10:28:46</dUpdateDate>
	<vcClassName>Dermatologic Agents</vcClassName>
	<vcName>Dermatologic Agents</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/dermatologicagents/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>4e6f8065-b724-4f2b-9087-3b4622d2dfdc</Id>
	<Parent>702c9e5a-35eb-49f0-ba3b-52ee429d3640</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/9/13 10:26:23</dUpdateDate>
	<dUpdateDate>2011/9/13 10:26:23</dUpdateDate>
	<vcClassName>Cardiology</vcClassName>
	<vcName>Cardiology</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/Cardiology/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>28a11aaf-98b8-4f40-acf1-031463b4e17d</Id>
	<Parent>8cf4532f-ea09-4e4d-8deb-5cae38ff4e46</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/9/13 10:01:40</dUpdateDate>
	<dUpdateDate>2011/9/13 10:01:40</dUpdateDate>
	<vcClassName>History</vcClassName>
	<vcName>History</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>86726cbc-aa3d-41ca-b427-7c3870e1510f</Id>
	<Parent>d5e049cf-e1b9-40fd-9dc0-6f50d460c35a</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/9/13 10:19:36</dUpdateDate>
	<dUpdateDate>2011/9/13 10:19:36</dUpdateDate>
	<vcClassName>Life Style</vcClassName>
	<vcName>Life Style</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/p1.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>257b2891-fe16-45e7-8336-c421e3a8aa56</Id>
	<Parent>0</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/9/13 10:20:20</dUpdateDate>
	<dUpdateDate>2011/9/13 10:20:20</dUpdateDate>
	<vcClassName>Technology</vcClassName>
	<vcName>Technology</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/20111030/2629.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>34f3cfba-9fa4-4a65-860b-3d5ed6c1e040</Id>
	<Parent>9a95ae9b-4d32-46cc-8b92-b36fbf62d063</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>5</iOrder>
	<dUpdateDate>2011/9/14 10:28:00</dUpdateDate>
	<dUpdateDate>2011/9/14 10:28:00</dUpdateDate>
	<vcClassName>Transporation</vcClassName>
	<vcName>Transporation</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>f9c7474c-5338-469c-987b-c2fbdc84e7fe</Id>
	<Parent>d48713a4-8119-4278-9a4b-434327f49282</Parent>
	<ResourceTemplate>29bceea7-d567-47b7-ae70-d033f93585b6</ResourceTemplate>
	<ResourceListTemplate>04babd55-1927-4d5d-ac49-17d2b2f5f6dd</ResourceListTemplate>
	<iOrder>5</iOrder>
	<dUpdateDate>2011/9/13 10:31:36</dUpdateDate>
	<dUpdateDate>2011/9/13 10:31:36</dUpdateDate>
	<vcClassName>Antiparasitic drugs</vcClassName>
	<vcName>Antiparasitic drugs</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/antiparasiticdrugs/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>702c9e5a-35eb-49f0-ba3b-52ee429d3640</Id>
	<Parent>0</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>5</iOrder>
	<dUpdateDate>2011/9/13 10:24:05</dUpdateDate>
	<dUpdateDate>2011/9/13 10:24:05</dUpdateDate>
	<vcClassName>Medical Thematic</vcClassName>
	<vcName>Medical Thematic</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/phthalmic.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>5308b32c-5784-46a2-a412-eccd79ea667d</Id>
	<Parent>8cf4532f-ea09-4e4d-8deb-5cae38ff4e46</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>5</iOrder>
	<dUpdateDate>2011/9/13 10:01:47</dUpdateDate>
	<dUpdateDate>2011/9/13 10:01:47</dUpdateDate>
	<vcClassName>Honors</vcClassName>
	<vcName>Honors</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>e62c70a2-2ffc-47b4-8cb9-a998ca87754d</Id>
	<Parent>0</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>6</iOrder>
	<dUpdateDate>2011/10/30 13:28:28</dUpdateDate>
	<dUpdateDate>2011/10/30 13:28:28</dUpdateDate>
	<vcClassName>Product Center</vcClassName>
	<vcName>Product Center</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/newproductput.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>d48713a4-8119-4278-9a4b-434327f49282</Id>
	<Parent>e62c70a2-2ffc-47b4-8cb9-a998ca87754d</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>6</iOrder>
	<dUpdateDate>2011/9/13 10:27:08</dUpdateDate>
	<dUpdateDate>2011/9/13 10:27:08</dUpdateDate>
	<vcClassName>Product Center</vcClassName>
	<vcName>Product Center</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/newproductput.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>1896a64f-3910-48df-aff5-847446f21fbe</Id>
	<Parent>d48713a4-8119-4278-9a4b-434327f49282</Parent>
	<ResourceTemplate>29bceea7-d567-47b7-ae70-d033f93585b6</ResourceTemplate>
	<ResourceListTemplate>04babd55-1927-4d5d-ac49-17d2b2f5f6dd</ResourceListTemplate>
	<iOrder>6</iOrder>
	<dUpdateDate>2011/9/13 10:31:54</dUpdateDate>
	<dUpdateDate>2011/9/13 10:31:54</dUpdateDate>
	<vcClassName>Eye Drops</vcClassName>
	<vcName>Eye Drops</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/eyedrops/l</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>5c185c05-a93d-4f75-9c6b-2625bd4e4fe2</Id>
	<Parent>0</Parent>
	<ResourceTemplate>26ad173e-04b7-421e-b20a-b1622fb6482e</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>7</iOrder>
	<dUpdateDate>2011/9/13 10:33:07</dUpdateDate>
	<dUpdateDate>2011/9/13 10:33:07</dUpdateDate>
	<vcClassName>Investors Relations</vcClassName>
	<vcName>Investors Relations</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyy/en/temporarynotice/l.html</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
<Categorie>
	<Id>9a95ae9b-4d32-46cc-8b92-b36fbf62d063</Id>
	<Parent>0</Parent>
	<ResourceTemplate>d8750db5-f99f-4941-86e0-9c71e9853091</ResourceTemplate>
	<ResourceListTemplate>e2360bdd-40fc-4878-8f18-51c266042fd8</ResourceListTemplate>
	<iOrder>8</iOrder>
	<dUpdateDate>2011/9/13 10:36:13</dUpdateDate>
	<dUpdateDate>2011/9/13 10:36:13</dUpdateDate>
	<vcClassName>Customer Service</vcClassName>
	<vcName>Customer Service</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyEN</SkinId>
</Categorie>
</Categories>