@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
margin: 0;padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
body{ text-align:center; font-size:12px; font-family:Tahoma,Verdana,Arial,Simsun; color:#0c4775; }
input{ font-size:12px; border:#8b8b8b solid 1px;}
ul{list-style:none}
fieldset,img {border: 0;}
input,textarea,select {font-family: inherit;font-size: inherit;font-weight: inherit;}
a{ color:#000; text-decoration:none}
a:hover{ color:#ff4e00; text-decoration:none}
.clear{ clear:both}
li.important a{color:#ff4e00;}
.important a{color:#ff4e00;}
.orange{ color:#ff4e00}
.blue{ color:#4484da}
.hid{display:none};
.fl{ float:left;}
.err{ color:#ca121b;}
.ok {color:#418e08;}
.maginleft5 { margin-left:5px;}

.input{ font-weight:bold; border:#bad8fe solid 1px; background:url(../images/input-bg.jpg); color:#0c4775; background-repeat:repeat-x; height:23px; line-height:23px; width:200px;}
.Btn{background:url(../images/01.jpg); width:84px; height:26px; border:none;}

.do{  color:#0e4675;background:url(../images/do_not.jpg);}
.serr{ color:#b83f04;background:url(../images/do_err.jpg);}

.ShowText {padding:3px 3px 1px 18px;background:#ffffff url(_$WebSite$__$ManagePath$_QzoneEditor/show.gif) no-repeat;margin:2px;border:1px #FF00FF solid;color:#ff0000;height:16px;font-size:12px;text-decoration:none}

.margin-bottom2px{ margin-bottom:2px;}

.header{ height:98px; width:990px; margin-left:auto; margin-right:auto;}
.header .logo {width:990px; height:53px;}

.header .logo .logoimg{ width:217px; height:45px;float:left; margin-top:8px;}
.header .logo .userlogin { width:350px; height:25px;float:left; margin-top:28px; margin-left:5px;line-height:25px;}
.header .logo .userlogin span {color: #a10000;}
.header .logo .topr{ width:400px; float:right;margin-top:8px; margin-right:10px; }
.header .logo .topr ul li{ color:#808285; text-align:right;}
.header .logo .topr .topcanton{ line-height:14px; margin-right:10px;}
.header .logo .topr .topemu { width:400px; height:20px; margin-top:5px;}
.header .logo .topr .topemu li { float:left; width:65px; border-left:#dae9f2 solid 1px; height:14px; line-height:14px; text-align:center;}
.header .logo .topr .topemu li.first{ border:none;}
.header .logo .topr .topemu li a {color:#0c4775;}

.header .emu { clear:both;height:45px; width:990px; margin-left:auto; margin-right:auto; background-image:url(../images/emubg.gif); background-repeat:no-repeat;}
.header .emu ul { height:45px; width:940px; padding-left:50px; margin-left:auto; margin-right:auto; padding-top:14px; line-height:29px;}
.header .emu ul li{ float:left; width:85px; height:29px; margin-left:4px; margin-right:4px;}
.header .emu ul a{ color:#FFF; font-size:14px; font-weight:bold;}
.header .emu ul li.on{ background-image:url(../images/emu_on.jpg); }

.header_banner {height:273px; width:990px; margin-left:auto; margin-right:auto;}
.header_banner2 {height:90px; width:990px; margin-left:auto; margin-right:auto;margin-top:6px;margin-bottom:6px; overflow:hidden;}
.header_banner2  .ad1{float:left;margin-right:16px;}
.header_banner2  .ad2{float:left;padding-top:6px;}

.Announcement { text-align:left; height:36px; width:990px; margin-left:auto; margin-right:auto;background-image:url(../images/Announcement.gif); overflow:hidden;}
.Announcement ul { width:990px; height:20px; overflow:hidden; margin-top:8px;}
.Announcement ul li { padding-left:20px;}
.Announcement ul li a{ color:#3372a2; line-height:20px;}

.news{ text-align:left;  width:990px; margin-left:auto; margin-right:auto; padding-top:6px; }
.news .Cases{ float:left; width:313px;height:368px; border:#dae9f2 solid 1px;}
.news  .title{  font-size:14px; font-weight:bold; background-image:url(../images/title.gif); height:33px; line-height:33px;}
.news  .title a { padding-left:10px; float:left;color:#3372a2;}

.news .Cases ul { width:290px; height:60px; overflow:hidden;margin-left:auto; margin-right:auto; margin-top:18px;}
.news .Cases ul img { float:left;width:53px; height:60px;}
.news .Cases ul li { float:left;width:227px; padding-left:10px; height:20px; line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news .Cases .ctitle{  float:left;}
.news .Cases .ctitle a{ color:#000; font-size:14px; font-weight:bold;}

.news .Cases .smcont{ color:#808285; }
.news .Cases .smcont1 a { font-size:14px; color:#3372a2;}


.news .prod{ float:left; width:681px; border:#dae9f2 solid 1px; }

.news .prod ul { width:628px; margin-left:auto; margin-right:auto; margin-top:18px;position:relative; }
.news .prod ul img { float:left;width:53px; height:60px; position:absolute;top:0px; left:0px;}
.news .prod ul li { float:left;width:557px; padding-left:10px; line-height:20px; padding-left:60px;}
.news .prod .ctitle{  float:left;}
.news .prod .ctitle a{ color:#000; font-size:14px; font-weight:bold;}

.news .prod .smcont{ color:#808285; }
.news .prod .smcont1 a { font-size:14px; color:#3372a2;}

.news .log{float:left; width:361px; height:368px; border:#dae9f2 solid 1px; margin-left:5px;}
.news .log ul {width:340px;color:#3372a2;margin-left:auto; margin-right:auto; margin-top:10px;}
.news .log ul a{color:#3372a2;}
.news .log ul li {width:340px; line-height:25px; height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news .log ul span{ color:#808080;}

.news .list{ float:left; width:681px; border:#dae9f2 solid 1px; }
.news .list ul{ width:628px; margin-left:auto; margin-right:auto; margin-top:18px; }
.news .list ul li { width:628px;font-size:14px; line-height:25px; height:25px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news .list ul li a { float:left;color:#3372a2;}
.news .list ul li span{ float:left;}
.news .list ul li span.date{color:#CCC; font-size:12px; margin-left:8px;}
.news .list ul li span.bor{color:#090; font-size:12px; margin-left:8px;}

.news .detail  {float:left; width:681px; border:#dae9f2 solid 1px; }
.news .detail .title a{ float:left;}
.news .detail .title span{ float:right; font-size:12px; color:#3372a2; font-weight:100; margin-right:5px;}

.news .detail .content{ width:658px; padding:20px; color:#0c4775; font-size:14px; line-height:25px;}


.news .detail_help  { clear:left;float:left; width:988px; border:#dae9f2 solid 1px; }
.news .detail_help .title a{ float:left;}
.news .detail_help .title span{ float:right; font-size:12px; color:#3372a2; font-weight:100; margin-right:5px;}
.news .detail_help .content{ width:100%; padding:20px; color:#0c4775; font-size:14px; line-height:25px;}

.news .list .content{ width:100%; padding:20px; color:#0c4775; font-size:14px; line-height:25px;}

.news .pager { margin-bottom:8px;}

.news .mainleft{float:left; width:300px; margin-left:5px;}
.news .mainleft1{float:left; width:300px; margin-right:5px;}
.news .newslist{width:300px;  border:#dae9f2 solid 1px;;margin-right:auto;}
.news .newslist ul {width:270px;color:#3372a2;margin-left:auto; margin-right:auto; margin-top:10px;}
.news .newslist ul a{color:#3372a2;}
.news .newslist ul li {width:270px; line-height:25px; height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news .newslist ul span{ color:#808080;}

.helpclass{width:978px;border:#dae9f2 solid 1px; margin-bottom:6px; background-color:#eff7f8; padding:5px;}
.helpclass .helpclasstitle{width:978px; color:#1d609a; font-size:14px; font-weight:bold;}
.helpclass ul { float:left;}
.helpclass .helpclasstitle a {color:#1d609a;}
.helpclass li { color:#f89400; float:left; width:310px;font-size:12px; line-height:20px; height:20px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.helpclass li a{ color:#f89400;}

.setmap { height:25px;color:#090; text-align:left; line-height:30px; width:965px; margin-left:auto; margin-right:auto; padding-left:25px;}
.setmap  a {color:#090;}

.copyright{width:990px; margin-left:auto; margin-right:auto; padding-top:6px; clear:left;color:#9D9D9B;font-size:11px;}
.copyright li { line-height:25px;font-size:11px; height:25px; color:#808080;}
.copyright a{color:#3372a2; font-size:11px;}

/*用户注册*/

.Register1{ clear:both; float:left;width:940px;border:#dae9f2 solid 1px;margin-left:25px;height:300px; margin-bottom:18px;}
.Register1 .Registerinfo{ margin-top:30px;}
.Register1 .text1{ float:left; width:235px; text-align:right; line-height:40px;}
.Register1 .input1{float:left; line-height:40px; margin-left:5px; width:210px; height:27px; padding-top:6px; padding-bottom:7px;}
.Register1 .info1{float:left; margin-left:5px; width:470px; height:40px;line-height:40px;}

.Register{ float:left;width:480px;border:#dae9f2 solid 1px;margin-left:25px;height:390px; margin-bottom:18px;margin-top:10px;}
.Register .Registerinfo2{ margin-top:30px;}
.Register .text2{ float:left; width:150px; text-align:right; line-height:40px;}
.Register .input2{ float:left; line-height:40px; margin-left:5px; width:210px; height:27px; padding-top:6px; padding-bottom:7px;}
.Register .info2{float:left;  width:480px; height:25px;line-height:25px; text-align:center;}

.DivBg{position:absolute; left:0px; top:0px; z-index:1000; background-color:#333;}
.loginDiv { position:absolute;background-color:#FFF; width:930px; height:420px; z-index:1001;}
.login { float:left;width:400px;border:#dae9f2 solid 1px;margin-left:10px;_margin-left:5px;height:390px; margin-bottom:18px; margin-top:10px;}
.login .Registerinfo3{ margin-top:30px;}
.login .text3{float:left;  width:120px; text-align:right; line-height:30px;}
.login .input3{ float:left; line-height:30px; margin-left:5px; width:210px; height:27px; padding-top:3px; padding-bottom:3px;}
.login .info3{float:left;   width:400px; height:25px;line-height:25px; text-align:center;}

.systemdo{position:absolute;width:431px; height:48px;line-height:48px;text-align:center; background-color:#DBDBDB; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; z-index:1004; }
.Register .Registerinfo2 .close{float:left;position:relative; width:32px; height:32px; background-image:url(../images/close.png);_background-image:url("../images/close.gif"); margin-top:-32px; left:470px;top:30px;}
.Register .Registerinfo2 .close a{ float:left; width:32px; height:32px;}
