set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROC [dbo].[SP_News_GetNewsInfoById]
(
	@iID INT
)
/*
EXEC SP_News_GetNewsInfoById
	@iID=1
*/
AS

	SELECT iClassID,vcTitle,vcUrl,vcContent,vcAuthor,iFrom,iCount,vcKeyWord,
	vcEditor,cCreated,vcSmallImg,vcBigImg,vcShortContent,vcSpeciality,cChecked,
	cDel,cPostByUser,vcFilePath,dAddDate,dUpDateDate,vcTitleColor,cStrong
	 FROM T_News_NewsInfo (NOLOCK)
	 WHERE iId = @iID 

	SELECT B.vcClassName,B.vcName,B.iParent,B.iTemplate,B.iListTemplate,B.vcDirectory,B.vcUrl,B.iOrder
	FROM T_News_NewsInfo A (NOLOCK),T_News_ClassInfo B (NOLOCK) 
	WHERE A.iId = @iID AND A.iClassID = B.iId

	SELECT B.vcTitle,B.vcUrl,B.dUpdateDate
	FROM T_News_NewsInfo A (NOLOCK),T_News_NewsFromInfo B (NOLOCK) 
	WHERE A.iId = @iID AND A.iFrom = B.iId


