.header{ height:98px; width:990px; margin-left:auto; margin-right:auto;}
.header .logo {width:990px; height:53px;}

.header .logo .logoimg{ width:217px; height:45px;float:left; margin-top:8px;}
.header .logo .topr{ width:180px; float:right; height:25px; line-height:25px; margin-top:28px;}
.header .logo .topr ul li{ color:#808285;}
.header .emu {height:45px; width:990px; margin-left:auto; margin-right:auto; background-image:url(../images/emubg.gif); background-repeat:no-repeat;}
.header .emu ul {height:45px; width:940px; padding-left:50px; margin-left:auto; margin-right:auto; margin-top:14px; line-height:29px;}
.header .emu ul li{ float:left; width:85px; height:29px; margin-left:4px; margin-right:4px;}
.header .emu ul a{ color:#FFF; font-size:14px; font-weight:bold;}
.header .emu ul li.on{ background-image:url(../images/emu_on.jpg); }