

.header_banner {height:273px; width:990px; margin-left:auto; margin-right:auto;}
.header_banner .show{height:273px; width:342px; float:left;}
.header_banner .download{height:273px; width:386px; float:left;}
.header_banner .download_ex{height:273px; width:262px; float:left;}

.Announcement { text-align:left; height:36px; width:990px; margin-left:auto; margin-right:auto;background-image:url(../images/Announcement.gif);}
.Announcement ul li { padding-left:25px;}
.Announcement ul li a{ color:#3372a2; line-height:36px;}

.news{ text-align:left; height:376px; width:990px; margin-left:auto; margin-right:auto; padding-top:6px;}
.news .Cases{ float:left; width:313px;height:368px; border:#dae9f2 solid 1px;}
.news  .title{  font-size:14px; font-weight:bold; background-image:url(../images/title.gif); height:33px; line-height:33px;}
.news  .title a { padding-left:10px; float:left;color:#3372a2;}

.news .Cases ul { width:290px; height:60px; overflow:hidden;margin-left:auto; margin-right:auto; margin-top:18px;}
.news .Cases ul img { float:left;width:53px; height:60px;}
.news .Cases ul li { float:left;width:227px; padding-left:10px; height:20px; line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news .Cases .ctitle{  float:left;}
.news .Cases .ctitle a{ color:#000; font-size:14px; font-weight:bold;}

.news .Cases .smcont{ color:#808285; }
.news .Cases .smcont1 a { font-size:14px; color:#3372a2;}

.news .log{float:left; width:361px; height:368px; border:#dae9f2 solid 1px; margin-left:5px;}
.news .log .logd{ width:341px; line-height:20px; color:#3372a2;margin-left:auto; margin-right:auto; margin-top:5px;}
.news .log .logd a{color:#3372a2; }

.news .newslist{float:left; width:300px; height:368px; border:#dae9f2 solid 1px; margin-left:5px;}
.news .newslist ul {width:270px;color:#3372a2;margin-left:auto; margin-right:auto; margin-top:20px;}
.news .newslist ul a{color:#3372a2;}
.news .newslist ul li {width:270px; line-height:25px; height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news .newslist ul span{ color:#808080;}
