<?xml version="1.0"?>
<Templates>
<Template>
	<Id>5f1e8492-5966-46cc-b42a-8adcf5a306c0</Id>
	<Content><![CDATA[<div id="mainbox">
  <div class="clear"></div>
</div>
<div id="mainbox">
  <div class="sh">
    <div class="help">
      <h3>新手上路</h3>
      <p><a href="#">新手指南</a></p>
    </div>
    <div class="gwbz">
      <h3>购物保障</h3>
      <p><a href="#">新手指南</a></p>
    </div>
    <div class="shfw">
      <h3>售后服务</h3>
      <p><a href="#">新手指南</a></p>
    </div>
    <div class="joinus">
      <h3>加入我们</h3>
      <p><a href="#">新手指南</a></p>
    </div>
  </div>
</div>
<div id="mainbox" class="foot">版权所有：服装批发网 2010-2011</div>
</body>]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-14 18:21:16</dUpdateDate>
	<dAddDate>2011-6-14 18:21:16</dAddDate>
	<vcTempName>footer</vcTempName>
	<vcUrl>/footer</vcUrl>
</Template>
<Template>
	<Id>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</Id>
	<Content><![CDATA[<tcg:item3 type="Categories" id="_$ClassId$_" intitle="true">
<tcg:Header type="Template" id="9228650d-285a-424e-8f7d-cc7af97e3fc4"></tcg:Header>
<div id="mainbox">
	<div class="index_left">
		<div class="list_menu">
		<ul>
		 <tcg:itemClassTitle type="CategoriesList" skin="_$SkinId$_"  parent="0"  orders="iOrder"><li id="tabmenu$itemClassTitle_Index$"><a href="$itemClassTitle_vcUrl$" title="$itemClassTitle_vcName$"><span>$itemClassTitle_vcClassName$</span></a></li></tcg:itemclasstitle>
		</ul>
	  </div>
		<tcg:lefttop1 type="Template" id="e34015ff-b3bd-4e32-97ef-b48a741d8fed"></tcg:lefttop1>
		<tcg:lefttop1 type="Template" id="6a035ef6-8c0e-4a22-ac66-1bbb37551c72"></tcg:lefttop1>
	</div>
	<div class="index_right">
  
 
  <div class="sp_box list_box">
    <ul>
	<tcg:item2 type="Resourcelist" categories="_$ClassId$_" num="18" check="Y" del="N" create="Y" orders="dAddDate DESC,Id DESC" pager="true" inpropertie="true">
      <li><a href="$item2_vcFilePath$" target="_blank"><img src="$item2_vcSmllImage$" width="200" height="200" /></a><span class="name">$item2_vcTitle$</span><span class="price">价格：<strong>￥<RPItem>$价格$</RPItem>元</strong></span></li></tcg:item2>
    </ul>
    <DIV class=pagination>
      <DIV class=page-bottom><SPAN class=page-start><SPAN>上一页</SPAN></SPAN><SPAN 
class=page-cur><SPAN>1</SPAN></SPAN><A 
href="http://list.hitao.taobao.com/l/40-2-M18xOjEwMDIx.htm?qpcs=50006842%2C30%2C16#filter"><SPAN>2</SPAN></A><A 
href="http://list.hitao.taobao.com/l/40-3-M18xOjEwMDIx.htm?qpcs=50006842%2C30%2C16#filter"><SPAN>3</SPAN></A><A 
href="http://list.hitao.taobao.com/l/40-4-M18xOjEwMDIx.htm?qpcs=50006842%2C30%2C16#filter"><SPAN>4</SPAN></A><A 
href="http://list.hitao.taobao.com/l/40-5-M18xOjEwMDIx.htm?qpcs=50006842%2C30%2C16#filter"><SPAN>5</SPAN></A><SPAN class=page-break>...</SPAN><SPAN class=page-next><A class=page-next 
href="http://list.hitao.taobao.com/l/40-2-M18xOjEwMDIx.htm?qpcs=50006842%2C30%2C16#filter"><SPAN>下一页</SPAN></A></SPAN><SPAN class=page-skip>
        <FORM id=filterPageForm method=get name=filterPageForm 
action=/item_search.htm#filter>
          <INPUT value=3_1:10021 type=hidden name=cpt>
          <INPUT value=40 type=hidden name=n>
          共100页 到第
          <INPUT id=jumpto value=1 size=3 
name=p data-min="1" data-max="100" tPage="32">
          页
          <BUTTON type=submit>确定</BUTTON>
        </FORM>
        </SPAN></DIV>
    </DIV>
  </div>
</div>
</div>
<tcg:Footer type="Template" id="5f1e8492-5966-46cc-b42a-8adcf5a306c0"></tcg:Footer>
</tcg:item3>]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>2</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-14 22:34:09</dUpdateDate>
	<dAddDate>2011-6-14 22:34:09</dAddDate>
	<vcTempName>list</vcTempName>
	<vcUrl>/list</vcUrl>
</Template>
<Template>
	<Id>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</Id>
	<Content><![CDATA[<tcg:item2 type="Resource" id="_$Id$_" intitle="true" inpropertie="true">
<tcg:Header type="Template" id="9228650d-285a-424e-8f7d-cc7af97e3fc4"></tcg:Header>
<div id="mainbox">
	<div class="index_left">
		<div class="list_menu">
		<ul>
		 <tcg:itemClassTitle type="CategoriesList" skin="_$SkinId$_"  parent="0"  orders="iOrder"><li id="tabmenu$itemClassTitle_Index$"><a href="$itemClassTitle_vcUrl$" title="$itemClassTitle_vcName$"><span>$itemClassTitle_vcClassName$</span></a></li></tcg:itemclasstitle>
		</ul>
	  </div>
		<tcg:lefttop1 type="Template" id="e34015ff-b3bd-4e32-97ef-b48a741d8fed"></tcg:lefttop1>
		<tcg:lefttop1 type="Template" id="6a035ef6-8c0e-4a22-ac66-1bbb37551c72"></tcg:lefttop1>
	</div>
	<div class="index_right">
	  <div class="list_main_box">
		<div class="list_main_top">商品名称：$item2_vcTitle$</div>
		<div class="list_main_mid">
		  <div class="list_main_cp">
			<div class="list_main_bigimg"><img src="updateimages/cp4.jpg" width="340" height="314" /></div>
			<ul>
				<li class="onimg"><a href="#"><img src="updateimages/cp5.jpg" width="79" height="79" /></a></li>
				<li><a href="#"><img src="updateimages/cp5.jpg" width="79" height="79" /></a></li>
				<li><a href="#"><img src="updateimages/cp5.jpg" width="79" height="79" /></a></li>
			</ul>
		  </div>
		  <div class="list_main_buy">
	  <table border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td width="207">价格：<span><RPItem>$价格$</RPItem></span>元</td>
		<td width="161">&nbsp;</td>
	  </tr>
	  <tr>
		<td>所在地：<RPItem>$所在地$</RPItem></td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>QQ交谈：<RPItem>$QQ交谈$</RPItem></td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>旺旺：<RPItem>$旺旺$</RPItem></td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>支付方式：<img src="/skin/tcgcms-shop/images/pay.jpg" width="10" height="14" />支付宝</td>
		<td></td>
	  </tr>
	</table>
	<div class="pay"></div>
	<div class="buy"><form action="" method="get"><input name="" type="image" src="/skin/tcgcms-shop/images/buy.jpg" class="buy_botton" /></form></div>
	</div>
		</div>
		<div class="list_main_foot"></div>
	  </div>
	  <div class="list_main_ms">
	  	<div class="ms_title">商品描述</div>
			<p>$item2_vcTitle$</p>
		</div>
		<div class="list_main_ms">
			<div class="ms_title">订购须知</div>
			<p>ddd</p>
		</div>
	
	</div>
</div>
<tcg:Footer type="Template" id="5f1e8492-5966-46cc-b42a-8adcf5a306c0"></tcg:Footer>
</tcg:item2>]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>1</TemplateType>
	<iParentId>1</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-20 18:41:46</dUpdateDate>
	<dAddDate>2011-6-14 22:34:24</dAddDate>
	<vcTempName>detail</vcTempName>
	<vcUrl>/detail</vcUrl>
</Template>
<Template>
	<Id>e34015ff-b3bd-4e32-97ef-b48a741d8fed</Id>
	<Content><![CDATA[<div class="sorttitle">
      <ul class="hd">
        <li class="on"><a>新品推荐</a></li>
      </ul>
    </div>
    <div class="inner">
      <div id="ranking_panel" class="bd">
        <dl id="commendList_30863_72" class="bd_inner ranking_list" style="visibility: visible;">
		
		  <tcg:item24 type="Resourcelist" inpropertie="true" speciality="5" num="10" check="Y" del="N" create="Y" orders="dAddDate DESC" >
          <dt><span class="rank">1</span>
            <p class="name">$item24_vcTitle$</p>
			<dd style="display: none;">
            <div class="goods"><a href="$item24_vcFilePath$" target="_blank"><img src="$item24_vcSmallImg$" alt="$item24_vcTitle$"></a><br/><span class="hot">￥<RPItem>$价格$</RPItem></span>
            </div>
          </dd>
          </dt>
          </tcg:item24>
		  
        </dl>
      </div>
    </div>]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-20 18:00:36</dUpdateDate>
	<dAddDate>2011-6-20 18:00:36</dAddDate>
	<vcTempName>left-新品推荐</vcTempName>
	<vcUrl>/left-新品推荐</vcUrl>
</Template>
<Template>
	<Id>6a035ef6-8c0e-4a22-ac66-1bbb37551c72</Id>
	<Content><![CDATA[<div class="sorttitle">
      <ul class="hd">
        <li class="on"><a>热销产品</a></li>
      </ul>
    </div>
    <div class="inner">
      <div id="ranking_panel" class="bd">
        <dl id="commendList_30863_72" class="bd_inner ranking_list" style="visibility: visible;">
         	<tcg:item22 type="Resourcelist" inpropertie="true" speciality="5" num="10" check="Y" del="N" create="Y" orders="dAddDate DESC" >
			  <dt><span class="rank">1</span>
				<p class="name">$item22_vcTitle$</p>
				<dd style="display: none;">
				<div class="goods"><a href="$item22_vcFilePath$" target="_blank"><img src="$item22_vcSmallImg$" alt="$item22_vcTitle$"></a><br/><span class="hot">￥<RPItem>$价格$</RPItem></span>
				</div>
			  </dd>
			  </dt>
			</tcg:item22>
        </dl>
      </div>
    </div>]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-20 18:06:59</dUpdateDate>
	<dAddDate>2011-6-20 18:06:59</dAddDate>
	<vcTempName>left-热销产品</vcTempName>
	<vcUrl>/left-热销产品</vcUrl>
</Template>
<Template>
	<Id>aba668c4-b288-46d1-a900-f3e0c92a68cd</Id>
	<Content><![CDATA[<tcg:Header type="Template" id="9228650d-285a-424e-8f7d-cc7af97e3fc4"></tcg:Header>
<div class="hot_search">热门搜索：<a href="#">卫衣</a> | <a href="#">库存针织衫</a> | <a href="#">牛仔裤</a> | <a href="#">库存牛仔裤</a> | <a href="#">格子衬衫</a> | <a href="#">外贸鞋</a>　<a href="#">此处文字以后可放成滚动文字广告</a></div>
<div id="index_top">
  <div class="index_pro_menu">
    <ul><tcg:itemClassTitle type="CategoriesList" skin="_$SkinId$_"  parent="0"  orders="iOrder"><li id="tabmenu$itemClassTitle_Index$"><a href="$itemClassTitle_vcUrl$" title="$itemClassTitle_vcName$"><span>$itemClassTitle_vcClassName$</span></a></li></tcg:itemclasstitle>
    </ul>
  </div>
  <div class="index_banner"><img src="updateimages/index_banner.gif" width="513" height="321" /></div>
  <div class="index_top_cx">
  <!--A1广告-->
  	<tcg:A1 type="Resource" id="1"><a href="$A1_vcFilePath$" target="_blank">
	<img src="$A1_vcSmallImg$" width="240" height="344" border="0" /></a>
  </tcg:A1></div>
</div>
<div style="clear:both"></div>
<div id="index_newpro">
  <div class="index_left">
  <!--A2广告-->
  	<tcg:A3 type="Resource" id="1"><a href="$A3_vcFilePath$" target="_blank">
	<img src="$A3_vcSmallImg$"  width="180" height="288" border="0" /></a>
  </tcg:A3>
  </div>
  <div class="index_right">
    <div id="newpro">
      <div class="newpro_left">
        <div class="goleft"><img src="/skin/tcgcms-shop/images/go_left.jpg" width="8" height="96" /></div>
        <div class="newpro">
          <ul>
		  <tcg:item5 type="Resourcelist" speciality="3" num="10" check="Y" del="N" create="Y" orders="dAddDate DESC">
            <li><a href="$item5_vcFilePath$"><img src="$item5_vcSmallImg$" width="112" height="112" /></a></li>
		  </tcg:item5>
          </ul>
        </div>
        <div class="goright"><img src="/skin/tcgcms-shop/images/go_right.jpg" width="8" height="96" /></div>
      </div>
      <div class="newpro_right">
	  <!--A2广告-->
  	<tcg:A2 type="Resource" id="1"><a href="$A2_vcFilePath$" target="_blank">
	<img src="$A2_vcSmallImg$"  width="236" height="181" border="0" /></a>
  </tcg:A2></div>
    </div>
    <div style="clear:both"></div>
    <div class="index-a">
      <ul>
        <li>a</li>
      </ul>
    </div>
  </div>
</div>
<div style="clear:both"></div>
<div id="mainbox">
  <div class="index_left">
	<tcg:lefttop1 type="Template" id="e34015ff-b3bd-4e32-97ef-b48a741d8fed"></tcg:lefttop1>
  </div>
  <div class="index_right">
    <div class="sp_title">家居推荐<span>Home Recommended</span></div>
    <div class="sp_box">
      <ul>
	  <tcg:item2 type="Resourcelist" inpropertie="true" speciality="1" num="10" check="Y" del="N" create="Y" orders="dAddDate DESC" >
        <li><a href="$item2_vcFilePath$"><img src="$item2_vcSmallImg$" width="120" height="120" /></a><span class="name">$item2_vcTitle$</span><span class="price">价格：<strong>￥<RPItem>$价格$</RPItem>元</strong></span></li>
       </tcg:item2>
      </ul>
    </div>
  </div>
</div>
<div id="mainbox">
  <div class="index_left">
  	<tcg:lefttop1 type="Template" id="6a035ef6-8c0e-4a22-ac66-1bbb37551c72"></tcg:lefttop1>
  </div>
  <div class="index_right">
    <div class="sp_title2">古泉推荐<span>Chcion Recommended</span></div>
    <div class="sp_box">
      <ul>
        <tcg:item3 type="Resourcelist" inpropertie="true" speciality="2" num="10" check="Y" del="N" create="Y" orders="dAddDate DESC" >
        <li><a href="$item3_vcFilePath$"><img src="$item3_vcSmallImg$" width="120" height="120" /></a><span class="name">$item3_vcTitle$</span><span class="price">价格：<strong>￥<RPItem>$价格$</RPItem>元</strong></span></li>
       </tcg:item3>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
<tcg:Footer type="Template" id="5f1e8492-5966-46cc-b42a-8adcf5a306c0"></tcg:Footer>
]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-20 18:10:05</dUpdateDate>
	<dAddDate>2011-6-14 16:50:16</dAddDate>
	<vcTempName>index.html</vcTempName>
	<vcUrl>/index.html</vcUrl>
</Template>
<Template>
	<Id>9228650d-285a-424e-8f7d-cc7af97e3fc4</Id>
	<Content><![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>陶言蹊创意家居</title>
<LINK media=screen href="/skin/tcgcms-shop/css/global.css" type=text/css rel=stylesheet>
<LINK media=screen href="/skin/tcgcms-shop/css/shop.css" type=text/css rel=stylesheet>
<LINK media="screen" href="/skin/tcgcms-shop/css/shop2.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="header">
  <div id="nav_wrap">
    <div id="logo"><img src="/skin/tcgcms-shop/images/logo.jpg" width="297" height="71" alt="shop" /></div>
    <div class="shop_special">
      <ul>
        <li><a target="_blank" href="http://shop.qq.com/help/security.html"><span class="zheng">全场正品</span><span class="guang">官方认证</span><span class="pei">先行赔付</span><span class="phone">服务专线：<strong class="strong">0755-83762288-6</strong></span></a></li>
      </ul>
    </div>
  </div>
  <div id="nav_menu">
    <div id="nav_search">
      <form action="http://taoyanxi.taobao.com/?orderType=_coefp&viewType=grid&baobei_type=&price1=&price2=" method="get" target="_blank">
        <div id="nav_list">小额批发信息</div>
        <input class="search_input" name="keyword" type="text" />
		<input name="search" type="hidden" value="y" />
        <input class="search_button" name="submitbt" type="image" src="/skin/tcgcms-shop/images/search-button.png" width="88" height="29" />
      </form>
    </div>
    <div id="nav_menu_text">
      <ul>
        <li><a href="#">首页</a>
        <li><a href="#">厂家直供</a>
        <li><a href="#">日韩专区</a></li>
        <li><a href="#">广货专区</a>
      </ul>
    </div>
  </div>
</div>
]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-14 21:45:49</dUpdateDate>
	<dAddDate>2011-6-14 16:52:18</dAddDate>
	<vcTempName>header</vcTempName>
	<vcUrl>/header</vcUrl>
</Template>
</Templates>