.listtitle{height:27px; line-height:27px; text-align:left; padding-left:10px; color:#0000FF; border-bottom:#ebebeb solid 1px;}
.listtitle a {color:#0000FF}
.txt{ color:#333333}
.green{ color:#009900;}
.page_title1{ color:#000000; font-size:14px; line-height:30px; height:30px; text-align:left;padding-left:10px;}
.listtitle1{ float:left;height:25px; width:100%; line-height:25px; text-align:left; padding-left:10px; border-bottom:#ebebeb solid 1px;}

.CheckID{ float:left;width:30px; height:25px; padding-top:2px;}
.loginName { float:left;width:150px; height:25px;}
.nickname {float:left; width:150px; height:25px;}
.adminrole{ float:left; width:120px; height:25px;}
.updatedate{ float:right;width:120px; height:25px;}
.adddate{float:right; width:120px;height:120px; height:25px; padding-right:30px;}
.dcolor{ color:#bbbbbb;}
.iLock{ float:left; margin-top:5px; margin-right:5px;}
.lnpl{ padding-left:23px;}

.loginName:hover { color:#333333;}
.adminrole:hover { color:#333333;}
.title_back{ margin-left:8px; font-size:12px; color:#3f62ba;}
.title_back:hover{ color:#3f62ba; text-decoration:none;}
.title_back:link{ color:#3f62ba;}
.arb_pr{ padding-left:30px;}
.arb_pr1{ padding-left:20px;line-height:28px;}


.popselect{ width:200px; color:#000074;}
.poph{ height:230px;}
.popml{ margin-left:15px;}

.classaddline{line-height:30px; height:30px; }
.templateaddnew1{ height:300px; width:730px; float:left; }
.templateaddnew2{ height:100px; width:730px; float:left; }

/*资讯特性*/
.list_info_w{ width:350px;}
.addbtn{ margin-top:2px; margin-right:10px;}
.listStitle{border-bottom:0px; font-weight:100; text-align:left; height:20px; line-height:20px; padding-left:10px;}

/*资讯内容*/
.newstitle{ width:400px;}
.newsclass{width:120px;overflow:hidden;white-space:nowrap;}
.ChildclassTitle{ position:absolute; width:420px;padding-left:10px;line-height:25px; border:#81a4c2 solid 1px; background-color:#f3f8fc;}
.childnewstitle{ float:left; width:118px; height:25px; color:#006633; text-align:left; line-height:25px; background-image:url(../images/icon/09.gif); background-repeat:no-repeat; background-position:0px 6px; padding-left:15px; text-decoration:none;}
.childnewstitle:hover{text-decoration:none;color:#006633;}
.childnewstitle:link{text-decoration:none;color:#006633;}
.Manage{ height:33px; border-top:#c1d0de solid 1px;border-bottom:#99b1c6 solid 1px;}
.list_b_bg{background-image:url(../images/listbottombg.gif)}
.ck{ padding-left:2px; padding-right:2px;}

.imginlist{ margin-top:6px;}
.ClassTitleA{padding-right:22px; margin-left:6px;}

/*file*/
.fileico{ margin-top:4px; margin-bottom:3px;}

.imgPace{ position:absolute; border:#81a4c2 solid 1px; widows:120px;background-color:#f3f8fc;}
.imgPace ul { float:left; width:120px; text-align:center; margin-top:4px;}
.imgPace ul li { text-align:center}
.imgPace img {width:100px; height:100px;}

.g-tabnav {
    background-image: url("../images/bgx.png");
    background-repeat: repeat-x;
}

.g-tabnav {
    background-position: 0 -144px;
    clear: both;
    height: 35px;
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 0;
    padding-top: 6px;
    position: relative;
    white-space: nowrap;
    font-family: verdana,sans-serif;
}

.g-tabnav a {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    padding-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0;
    text-decoration: none;
    vertical-align: baseline;
    color: #005590;
    font-size: 100%;
    font-family: verdana,sans-serif;
}

.ln-c-mid {
    border-bottom-color: #9CB8CC;
    border-left-color: #9CB8CC;
    border-right-color: #9CB8CC;
    border-top-color: #9CB8CC;
}

.g-tabnav a.on {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}

.g-tabnav a.moson
{
	background-color: #5D99CE;
    color: #FFFFFF !important;
}

.ln-thin {
    border-top-color: -moz-use-text-color;
    border-top-style: solid;
    border-top-width: 1px;
    border-top:#9CB8CC solid 1px;
}

.ln-thin, .ln-thick, .ln-dotted {
    font-size: 0;
    line-height: 0;
}

.fn-bg {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 14px;
    margin-top: -14px;
    text-indent: 300px;
    width: 14px;
    position:relative;
    top:22px;
    left:12px;
}

.fn-bg1 {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    display: block;
    height: 14px;
    text-indent: 300px;
    width: 14px;
}

.Bopned {
    background-position: -1655px -215px;
}

.Bclded {
    background-position: -1655px -251px;
}

.g-title-2 {
    line-height: 30px;
    text-indent: 3px;
    text-align:left;
}

.fn-hand {
    cursor: pointer;
}

.fn-bg2 {
    display: block;
    float: left;
    height: 14px;
    margin-left: 18px;
    margin-top: 8px;
    text-indent: 300px;
    width: 14px;
}

 .fn-bg2 {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
}

.fn-hand {
    cursor: pointer;
}


.g-title-2 h3 {
    display: inline;
    font-size: 12px;
    margin-right: 10px;
    font-weight:bold;
}

/*抄送样式*/
.ccmain 
{
    clear:right;
}
.ccmain .ccleft
{
    float:left;
    background-color:#F6F9FC;
    width:244px;    
    border-right:1px solid #C5D2DA;
    margin-left:4px;
    padding-top:10px;
    padding-bottom:10px;
}

.ccmain .ccleft a
{
    height:25px;
    line-height:25px;
    width:229px;
    float:left;
    margin-left:8px;
    text-decoration:none;
    text-indent:10px;
    color:Black;
}

.ccmain .ccleft a:hover
{
    background-color:#5D99CE;
    color:White;
}

.ccmain .ccright 
{
    float:left;
    width:500px;
    text-align:left;
    margin-left:30px;
}