.listtitle{height:27px; line-height:27px; text-align:left; padding-left:10px; color:#0000FF; border-bottom:#ebebeb solid 1px;}
.listtitle a {color:#0000FF}
.txt{ color:#333333}
.green{ color:#009900;}
.page_title1{ color:#000000; font-size:14px; line-height:30px; height:30px; text-align:left;padding-left:10px;}
.listtitle1{ float:left;height:25px; line-height:25px; text-align:left; padding-left:10px; border-bottom:#ebebeb solid 1px;}

.CheckID{ float:left;width:30px; height:25px; padding-top:2px;}
.loginName { float:left;width:150px; height:25px;}
.nickname {float:left; width:150px; height:25px;}
.adminrole{ float:left; width:120px; height:25px;}
.updatedate{ float:right;width:120px; height:25px;}
.adddate{float:right; width:120px;height:120px; height:25px; padding-right:30px;}
.dcolor{ color:#bbbbbb;}
.iLock{ float:left; margin-top:5px; margin-right:5px;}
.lnpl{ padding-left:23px;}

.loginName:hover { color:#333333;}
.adminrole:hover { color:#333333;}
.title_back{ margin-left:8px; font-size:12px; color:#3f62ba;}
.title_back:hover{ color:#3f62ba; text-decoration:none;}
.title_back:link{ color:#3f62ba;}
.arb_pr{ padding-left:30px;}
.arb_pr1{ padding-left:20px; height:28px; line-height:28px;}


.popselect{ width:200px; color:#000074;}
.poph{ height:230px;}
.popml{ margin-left:15px;}

.classaddline{line-height:30px; height:30px; }
.templateaddnew1{ height:200px; width:730px; float:left; }
.templateaddnew2{ height:100px; width:730px; float:left; }

/*资讯特性*/
.list_info_w{ width:350px;}
.addbtn{ margin-top:2px; margin-right:10px;}
.listStitle{border-bottom:0px; font-weight:100; text-align:left; height:20px; line-height:20px; padding-left:10px;}

/*资讯内容*/
.newstitle{ width:400px;}
.newsclass{width:120px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ChildclassTitle{ position:absolute; width:420px;padding-left:10px;line-height:25px; border:#81a4c2 solid 1px; background-color:#f3f8fc;}
.childnewstitle{ float:left; width:118px; height:25px; color:#006633; text-align:left; line-height:25px; background-image:url(../images/icon/09.gif); background-repeat:no-repeat; background-position:0px 6px; padding-left:15px; text-decoration:none;}
.childnewstitle:hover{text-decoration:none;color:#006633;}
.childnewstitle:link{text-decoration:none;color:#006633;}
.Manage{ height:33px; border-top:#c1d0de solid 1px;border-bottom:#99b1c6 solid 1px;}
.list_b_bg{background-image:url(../images/listbottombg.gif)}
.ck{ padding-left:2px; padding-right:2px;}

.imginlist{ margin-top:6px;}
.ClassTitleA{padding-right:22px; margin-left:6px;}

/*file*/
.fileico{ margin-top:4px; margin-bottom:3px;}

.imgPace{ position:absolute; border:#81a4c2 solid 1px; widows:120px;background-color:#f3f8fc;}
.imgPace ul { float:left; width:120px; text-align:center; margin-top:4px;}
.imgPace ul li { text-align:center}
.imgPace img {width:100px; height:100px;}