<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="ConfigurationsXml" value="~/App_Data/Configurations.xml" />
		<add key="DefaultProvidersXml" value="~/App_Data/DefaultProviders.xml" />
	</appSettings>
	<system.web>
		<machineKey validationKey="46CDB28D69D76EFEABE6ABAB689B2450DCC6F2A76C9099DB" decryptionKey="39D7BB384AAED6D5B297E7DD3ED77A3FE6764E5F6F23EB17" validation="SHA1" />
		<compilation debug="false" targetFramework="4.0"></compilation>
		<!--Hey! ASProxy needs ASP.NET 2 server to run.-->
		<trace enabled="false" pageOutput="false" localOnly="true" traceMode="SortByCategory" mostRecent="false" requestLimit="9999999" />
		<authentication mode="Forms">
			<!-- One month = 43200 minutes -->
			<forms name="ASProxyUser" timeout="43200" slidingExpiration="true" protection="All" defaultUrl="~/" loginUrl="~/login.aspx" />
		</authentication>
		<!--Some performance configurations-->
		<pages autoEventWireup="true" enableViewStateMac="false" enableEventValidation="false" maintainScrollPositionOnPostBack="false" compilationMode="Auto" viewStateEncryptionMode="Never" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<sessionState timeout="10" cookieName="ASProxySession" />
		<customErrors mode="RemoteOnly" defaultRedirect="error_page.htm" />
		<httpModules>
			<remove name="WindowsAuthentication" />
			<remove name="PassportAuthentication" />
			<remove name="RoleManager" />
			<remove name="Profile" />
		</httpModules>
	</system.web>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
    <system.webServer>
        <handlers>
            <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0" />
            <remove name="PageHandlerFactory-ISAPI-2.0-64" />
            <remove name="PageHandlerFactory-ISAPI-2.0" />
            <add name=".net4 ashx" path=".ashx" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Either" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
            <add name=".net4" path="*.aspx" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
        </handlers>
    </system.webServer>
</configuration>
