<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<connectionStrings>
		<add name="CKeyWordsFile" connectionString="/manage/KeyWords.txt" />
		<add name="BadWords" connectionString="" />
		<add name="ErrTxtPath" connectionString="/manage/ErrobjectHandlers.txt" />
	</connectionStrings>
  <system.web>
    <globalization culture="zh-CN" fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" />
    <compilation debug="true">
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="index.shtml">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="index.shtml" />
        </customErrors>
        -->
    <pages validateRequest="false" enableEventValidation="false" enableViewState="false" enableViewStateMac="false" viewStateEncryptionMode="Never" />
    <!--httpRuntime executionTimeout="600000000" requestValidationMode="2.0" /-->
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="PageHandlerFactory-ISAPI-2.0" />
      <remove name="PageHandlerFactory-Integrated" />
      <add name="4.0 .net" path="*.aspx" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
</configuration>
