
* {
}
html, body {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#708AA1;
background-image:none;
background-position:0 0;
background-repeat:repeat;
text-align:left;
}
body, td, input, textarea, select, button {
-x-system-font:none;
color:#545454;
font-family:Tahoma,Arial,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:20px;
}
input, textarea, select, button {
vertical-align:middle;
}
body, ul, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset {
margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:0;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
}
img {
vertical-align:middle;
}
.hr {
border-top-color:#CCD5DE;
border-top-style:solid;
border-top-width:1px;
font-size:0;
height:0;
line-height:0;
margin-bottom:15px;
margin-left:0;
margin-right:0;
margin-top:15px;
}
h1, h2, h3, h4, h5, h6 {
font-size:1em;
}
h1 {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/h1-bg.gif");
background-position:left bottom;
background-repeat:no-repeat;
font-family:Tahoma,Arial,sans-serif;
font-size:14px;
margin-bottom:15px;
padding-bottom:12px;
}
a {
color:#387DB4;
text-decoration:none;
}
a:hover {
color:#333333;
text-decoration:underline;
}
a img {
border-bottom-color:-moz-use-text-color;
border-bottom-style:none;
border-bottom-width:medium;
border-left-color-ltr-source:physical;
border-left-color-rtl-source:physical;
border-left-color-value:-moz-use-text-color;
border-left-style-ltr-source:physical;
border-left-style-rtl-source:physical;
border-left-style-value:none;
border-left-width-ltr-source:physical;
border-left-width-rtl-source:physical;
border-left-width-value:medium;
border-right-color-ltr-source:physical;
border-right-color-rtl-source:physical;
border-right-color-value:-moz-use-text-color;
border-right-style-ltr-source:physical;
border-right-style-rtl-source:physical;
border-right-style-value:none;
border-right-width-ltr-source:physical;
border-right-width-rtl-source:physical;
border-right-width-value:medium;
border-top-color:-moz-use-text-color;
border-top-style:none;
border-top-width:medium;
}
.clear {
clear:both;
font-size:0;
height:3px;
line-height:0;
}
.wrap {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#708AA1;
background-image:url("../images/bg.gif");
background-position:left center;
background-repeat:repeat-y;
width:900px;
margin-left:auto;
margin-right:auto;
}
.content {
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
}
.main {
float:right;
width:715px;
}
.side {
float:left;
width:185px;
}
.index-pic {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/index-pic.jpg");
background-position:0 0;
background-repeat:no-repeat;
height:205px;
}
.about-pic {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/about-pic.jpg");
background-position:0 0;
background-repeat:no-repeat;
height:150px;
}
.news-pic {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/news-pic.jpg");
background-position:0 0;
background-repeat:no-repeat;
height:150px;
}
.ad-pic {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/ad-pic.jpg");
background-position:0 0;
background-repeat:no-repeat;
height:150px;
}
.announce-pic {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/announce-pic.jpg");
background-position:0 0;
background-repeat:no-repeat;
height:150px;
}
.contact-pic {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/contact-pic.jpg");
background-position:0 0;
background-repeat:no-repeat;
height:150px;
}
.link-pic {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/link-pic.jpg");
background-position:0 0;
background-repeat:no-repeat;
height:150px;
}
.job-pic {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/job-pic.jpg");
background-position:0 0;
background-repeat:no-repeat;
height:150px;
}
.faq-pic {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/faq-pic.jpg");
background-position:0 0;
background-repeat:no-repeat;
height:150px;
}
.top {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#2C516C;
background-image:none;
background-position:0 0;
background-repeat:repeat;
margin-left:auto;
width:900px;
margin-right:auto;
}
.top-logo {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:transparent;
background-image:url("../images/logo.gif");
background-position:40px 25px;
background-repeat:no-repeat;
border-bottom-color:#F29901;
border-bottom-style:solid;
border-bottom-width:4px;
height:74px;
position:relative;
width:900px;
}
.top-nav {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F29901;
background-image:none;
background-position:0 0;
background-repeat:repeat;
bottom:0;
color:#FFFFFF;
display:block;
font-size:10px;
padding-bottom:0;
padding-left:8px;
padding-right:8px;
padding-top:0;
position:absolute;
right:0;
}
.top-nav a {
color:#FFFFFF;
margin-bottom:0;
margin-left:8px;
margin-right:8px;
margin-top:0;
}
.top-nav a:hover {
color:#333333;
}
.left-menu {
color:#FFFFFF;
float:right;
margin-top:45px;
width:170px;
}
.left-menu ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
.left-menu ul li {
border-bottom-color:#B3BFCB;
border-bottom-style:solid;
border-bottom-width:1px;
line-height:28px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding-right:40px;
text-align:right;
}
.left-menu ul li a {
color:#FFFFFF;
}
.left-menu ul li a:hover {
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
#index .index-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
#about .about-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
#news .news-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
#ad .ad-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
#announce .announce-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
#contact .contact-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
#link .link-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
#job .job-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
#faq .faq-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
#sitemap .sitemap-m {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:url("../images/menu-bg.gif");
background-position:140px 50%;
background-repeat:no-repeat;
font-weight:bold;
}
.link {
clear:both;
padding-bottom:20px;
padding-left:0;
padding-right:0;
padding-top:20px;
text-align:center;
}
.index-left {
float:left;
padding-bottom:5px;
padding-left:15px;
padding-right:10px;
padding-top:10px;
width:320px;
}
.index-right {
float:right;
padding-bottom:5px;
padding-left:10px;
padding-right:15px;
padding-top:10px;
width:320px;
}
.news-list {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
.news-list li {
line-height:24px;
padding-left:3px;
}
.news-list li span {
color:#999999;
font-size:11px;
margin-right:5px;
}
.box {
padding-bottom:10px;
padding-left:15px;
padding-right:15px;
padding-top:10px;
}
.box1 {
text-align:justify;
text-indent:24px;
}
.gotop {
padding-bottom:0;
padding-left:10px;
padding-right:10px;
padding-top:10px;
text-align:right;
}
.table {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#CFD9E2;
background-image:none;
background-position:0 0;
background-repeat:repeat;
}
.table1 {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F4F4F4;
background-image:none;
background-position:0 0;
background-repeat:repeat;
}
.table th {
font-weight:normal;
padding-left:10px;
}
.table td {
padding-bottom:3px;
padding-left:10px;
padding-right:0;
padding-top:3px;
}
.td1 {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#FFFFFF;
background-image:none;
background-position:0 0;
background-repeat:repeat;
}
.td2 {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#E6EBF1;
background-image:none;
background-position:0 0;
background-repeat:repeat;
}
.title {
font-size:14px;
padding-bottom:10px;
padding-left:0;
padding-right:0;
padding-top:10px;
text-align:center;
}
.title span {
color:#999999;
font-size:12px;
}
.news-menu {
border-bottom-color:#CCD5DE;
border-bottom-style:solid;
border-bottom-width:1px;
clear:both;
height:25px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-bottom:20px;
}
.news-menu li {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#E6EBF1;
background-image:none;
background-position:0 0;
background-repeat:repeat;
display:block;
float:left;
line-height:25px;
margin-right:2px;
padding-bottom:0;
padding-left:15px;
padding-right:15px;
padding-top:0;
}
.news-menu li.slelect-news-menu {
-moz-background-clip:border;
-moz-background-origin:padding;
-moz-background-size:auto auto;
background-attachment:scroll;
background-color:#F39801;
background-image:none;
background-position:0 0;
background-repeat:repeat;
color:#FFFFFF;
}
.news-menu li.slelect-news-menu a {
color:#FFFFFF;
}
.foot {
border-top-color:#EEEEEE;
border-top-style:solid;
border-top-width:2px;
color:#959595;
font-size:10px;
line-height:20px;
padding-right:20px;
text-align:right;
}
.red {
color:#F39801;
}
