<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>ea728064-3c24-4bc1-afc8-9b7136dd5dca</Id>
	<Parent>0</Parent>
	<ResourceTemplate>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</ResourceTemplate>
	<ResourceListTemplate>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/6/14 22:40:42</dUpdateDate>
	<dUpdateDate>2011/6/14 22:40:42</dUpdateDate>
	<vcClassName>古钱币</vcClassName>
	<vcName>古钱币</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/shop/guqianbi</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-shop</SkinId>
</Categorie>
<Categorie>
	<Id>cfc0175d-04d9-45ad-a1ac-5762bb304521</Id>
	<Parent>0</Parent>
	<ResourceTemplate>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</ResourceTemplate>
	<ResourceListTemplate>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/6/14 22:40:41</dUpdateDate>
	<dUpdateDate>2011/6/14 22:40:41</dUpdateDate>
	<vcClassName>古钱币</vcClassName>
	<vcName>古钱币</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/shop/guqianbi</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-shop</SkinId>
</Categorie>
<Categorie>
	<Id>01e822cd-d203-4ef5-9495-39424e61cc1e</Id>
	<Parent>0</Parent>
	<ResourceTemplate>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</ResourceTemplate>
	<ResourceListTemplate>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/6/14 22:40:29</dUpdateDate>
	<dUpdateDate>2011/6/14 22:40:29</dUpdateDate>
	<vcClassName>家居系列</vcClassName>
	<vcName>家居系列</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/shop/jiajuxilie</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-shop</SkinId>
</Categorie>
<Categorie>
	<Id>c0218dbb-6ca7-4d17-b579-135c44bdcd2d</Id>
	<Parent>0</Parent>
	<ResourceTemplate>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</ResourceTemplate>
	<ResourceListTemplate>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/6/14 22:39:56</dUpdateDate>
	<dUpdateDate>2011/6/14 22:39:56</dUpdateDate>
	<vcClassName>专柜品牌</vcClassName>
	<vcName>专柜品牌</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/shop/zhuanguipinpai</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-shop</SkinId>
</Categorie>
<Categorie>
	<Id>985b6d5a-27d8-441a-9b7a-aa6b1ac93661</Id>
	<Parent>0</Parent>
	<ResourceTemplate>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</ResourceTemplate>
	<ResourceListTemplate>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/6/14 22:39:27</dUpdateDate>
	<dUpdateDate>2011/6/14 22:39:27</dUpdateDate>
	<vcClassName>外贸原单</vcClassName>
	<vcName>外贸原单</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/shop/waimaoyuandan</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-shop</SkinId>
</Categorie>
<Categorie>
	<Id>38deeb7f-6152-491e-8b6a-410c1f52536b</Id>
	<Parent>0</Parent>
	<ResourceTemplate>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</ResourceTemplate>
	<ResourceListTemplate>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/6/14 22:37:21</dUpdateDate>
	<dUpdateDate>2011/6/14 22:37:21</dUpdateDate>
	<vcClassName>家居收纳</vcClassName>
	<vcName>家居收纳</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/shop/jiajushouna</vcUrl>
	<cVisible>Y</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-shop</SkinId>
</Categorie>
<Categorie>
	<Id>f0371042-ce73-48a2-a4ba-4908941d8c34</Id>
	<Parent>55ec9dfd-e073-4595-9110-f0691e2a56e4</Parent>
	<ResourceTemplate>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</ResourceTemplate>
	<ResourceListTemplate>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/6/14 22:35:50</dUpdateDate>
	<dUpdateDate>2011/6/14 22:35:50</dUpdateDate>
	<vcClassName>轮播banner</vcClassName>
	<vcName>轮播banner</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>#</vcUrl>
	<cVisible>N</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-shop</SkinId>
</Categorie>
<Categorie>
	<Id>34183952-0369-48a7-8d1d-0cffcc5f4561</Id>
	<Parent>55ec9dfd-e073-4595-9110-f0691e2a56e4</Parent>
	<ResourceTemplate>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</ResourceTemplate>
	<ResourceListTemplate>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/6/14 22:35:23</dUpdateDate>
	<dUpdateDate>2011/6/14 22:35:23</dUpdateDate>
	<vcClassName>广告</vcClassName>
	<vcName>广告</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>#</vcUrl>
	<cVisible>N</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-shop</SkinId>
</Categorie>
<Categorie>
	<Id>55ec9dfd-e073-4595-9110-f0691e2a56e4</Id>
	<Parent>0</Parent>
	<ResourceTemplate>bb7024ac-9d88-41ec-a51a-0f37513a8ef2</ResourceTemplate>
	<ResourceListTemplate>5ae8cdb3-2df2-4f8d-a357-c9b7cf9fbb95</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/6/14 22:34:42</dUpdateDate>
	<dUpdateDate>2011/6/14 22:34:42</dUpdateDate>
	<vcClassName>首页</vcClassName>
	<vcName>首页</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>#</vcUrl>
	<cVisible>N</cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-shop</SkinId>
</Categorie>
</Categories>