<?xml version="1.0"?>
<Templates>
<Template>
	<Id>5f1e8492-5966-46cc-b42a-8adcf5a306c0</Id>
	<Content><![CDATA[<div id="mainbox">
  <div class="clear"></div>
</div>
<div id="mainbox">
  <div class="sh">
    <div class="help">
      <h3>新手上路</h3>
      <p><a href="#">新手指南</a></p>
    </div>
    <div class="gwbz">
      <h3>购物保障</h3>
      <p><a href="#">新手指南</a></p>
    </div>
    <div class="shfw">
      <h3>售后服务</h3>
      <p><a href="#">新手指南</a></p>
    </div>
    <div class="joinus">
      <h3>加入我们</h3>
      <p><a href="#">新手指南</a></p>
    </div>
  </div>
</div>
<div id="mainbox" class="foot">版权所有：服装批发网 2010-2011</div>
</body>]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-14 18:21:16</dUpdateDate>
	<dAddDate>2011-6-14 18:21:16</dAddDate>
	<vcTempName>footer</vcTempName>
	<vcUrl>/footer</vcUrl>
</Template>
<Template>
	<Id>aba668c4-b288-46d1-a900-f3e0c92a68cd</Id>
	<Content><![CDATA[<tcg:Header type="Template" id="9228650d-285a-424e-8f7d-cc7af97e3fc4"></tcg:Header>
<tcg:Footer type="Template" id="5f1e8492-5966-46cc-b42a-8adcf5a306c0"></tcg:Footer>
]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-14 18:21:58</dUpdateDate>
	<dAddDate>2011-6-14 16:50:16</dAddDate>
	<vcTempName>html/d/index.html</vcTempName>
	<vcUrl>/html/d/index.html</vcUrl>
</Template>
<Template>
	<Id>9228650d-285a-424e-8f7d-cc7af97e3fc4</Id>
	<Content><![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Untitled Document</title>
<LINK media=screen href="/skin/tcgcms-shop/css/global.css" type=text/css rel=stylesheet>
<LINK media=screen href="/skin/tcgcms-shop/css/shop.css" type=text/css rel=stylesheet>
<LINK media="screen" href="/skin/tcgcms-shop/css/shop2.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div id="header">
  <div id="nav_wrap">
    <div id="logo"><img src="/skin/tcgcms-shop/images/logo.jpg" width="297" height="71" alt="shop" /></div>
    <div class="shop_special">
      <ul>
        <li><a target="_blank" href="http://shop.qq.com/help/security.html"><span class="zheng">全场正品</span><span class="guang">官方认证</span><span class="pei">先行赔付</span><span class="phone">服务专线：<strong class="strong">0755-83762288-6</strong></span></a></li>
      </ul>
    </div>
  </div>
  <div id="nav_menu">
    <div id="nav_search">
      <form action="http://taoyanxi.taobao.com/?orderType=_coefp&viewType=grid&baobei_type=&price1=&price2=" method="get">
        <div id="nav_list">小额批发信息</div>
        <input class="search_input" name="keyword" type="text" />
		<input name="search" type="hidden" value="y" />
        <input class="search_button" name="submitbt" type="image" src="/skin/tcgcms-shop/images/search-button.png" width="88" height="29" />
      </form>
    </div>
    <div id="nav_menu_text">
      <ul>
        <li><a href="#">首页</a>
        <li><a href="#">厂家直供</a>
        <li><a href="#">日韩专区</a></li>
        <li><a href="#">广货专区</a>
      </ul>
    </div>
  </div>
</div>
]]></Content>
	<SkinId>tcgcms-shop</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-6-14 18:04:23</dUpdateDate>
	<dAddDate>2011-6-14 16:52:18</dAddDate>
	<vcTempName>header</vcTempName>
	<vcUrl>/header</vcUrl>
</Template>
</Templates>