<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>aea8674a-ef6a-48f8-a542-d57e58df1f80</Id>
	<Parent>ec43974c-f8c6-4e05-a106-c00f054015fa</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:00:39</dUpdateDate>
	<dUpdateDate>2011/5/16 20:00:39</dUpdateDate>
	<vcClassName>心内科</vcClassName>
	<vcName>心内科</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/yyzt/xnk/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>e407604e-826a-431b-918f-43e7a780f7b9</Id>
	<Parent>ae425cd2-c931-492f-8e17-6cf1ceca8be5</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 19:58:30</dUpdateDate>
	<dUpdateDate>2011/5/16 19:58:30</dUpdateDate>
	<vcClassName>科技创新战略</vcClassName>
	<vcName>科技创新战略</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>0f12dede-a4d7-4f62-a883-7b6277b0611e</Id>
	<Parent>ae425cd2-c931-492f-8e17-6cf1ceca8be5</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 19:59:38</dUpdateDate>
	<dUpdateDate>2011/5/16 19:59:38</dUpdateDate>
	<vcClassName>重点研究领域</vcClassName>
	<vcName>重点研究领域</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>c90d9424-f8b8-47e1-9488-dfb3e8796088</Id>
	<Parent>ae425cd2-c931-492f-8e17-6cf1ceca8be5</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 19:59:44</dUpdateDate>
	<dUpdateDate>2011/5/16 19:59:44</dUpdateDate>
	<vcClassName>创新历程</vcClassName>
	<vcName>创新历程</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>629941e7-7aa7-4494-a044-7dc864d57222</Id>
	<Parent>ec43974c-f8c6-4e05-a106-c00f054015fa</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:00:13</dUpdateDate>
	<dUpdateDate>2011/5/16 20:00:13</dUpdateDate>
	<vcClassName>眼科用药</vcClassName>
	<vcName>眼科用药</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/yyzt/ykyy/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>a93461fe-7deb-41c9-8c13-323443823d41</Id>
	<Parent>ec43974c-f8c6-4e05-a106-c00f054015fa</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:00:34</dUpdateDate>
	<dUpdateDate>2011/5/16 20:00:34</dUpdateDate>
	<vcClassName>神经系统</vcClassName>
	<vcName>神经系统</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/yyzt/sjxt/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>3697a868-9553-488c-abc3-970db01f193a</Id>
	<Parent>c64326aa-61f6-4bbe-9963-d94e0bb8e4d4</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:04:22</dUpdateDate>
	<dUpdateDate>2011/5/16 20:04:22</dUpdateDate>
	<vcClassName>公益事业</vcClassName>
	<vcName>公益事业</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>d1f548e9-0da0-4a25-8745-1df5c290d062</Id>
	<Parent>839985c8-fe76-4347-ab34-86b0db07c4fc</Parent>
	<ResourceTemplate>3eb3ce9d-648e-4097-b710-dab4a667b7f0</ResourceTemplate>
	<ResourceListTemplate>1745dc89-8b73-4646-9b3f-ac76b267f23b</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:00:58</dUpdateDate>
	<dUpdateDate>2011/5/16 20:00:58</dUpdateDate>
	<vcClassName>中成药制剂</vcClassName>
	<vcName>中成药制剂</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/cpzx/zcy/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>334f6b7b-7027-4f58-bab3-90bdedf9fe9c</Id>
	<Parent>839985c8-fe76-4347-ab34-86b0db07c4fc</Parent>
	<ResourceTemplate>3eb3ce9d-648e-4097-b710-dab4a667b7f0</ResourceTemplate>
	<ResourceListTemplate>1745dc89-8b73-4646-9b3f-ac76b267f23b</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:01:05</dUpdateDate>
	<dUpdateDate>2011/5/16 20:01:05</dUpdateDate>
	<vcClassName>助消化类药</vcClassName>
	<vcName>助消化类药</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/cpzx/zxh/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>839985c8-fe76-4347-ab34-86b0db07c4fc</Id>
	<Parent>4d554113-e54a-423a-b226-bb90c7af5b70</Parent>
	<ResourceTemplate>3eb3ce9d-648e-4097-b710-dab4a667b7f0</ResourceTemplate>
	<ResourceListTemplate>1745dc89-8b73-4646-9b3f-ac76b267f23b</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/24 17:46:29</dUpdateDate>
	<dUpdateDate>2011/5/24 17:46:29</dUpdateDate>
	<vcClassName>产品中心</vcClassName>
	<vcName>Product Center</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/cpzx/zcy/l.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>1c339f2d-282b-47e4-a598-0735352a0995</Id>
	<Parent>4d554113-e54a-423a-b226-bb90c7af5b70</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/24 17:51:56</dUpdateDate>
	<dUpdateDate>2011/5/24 17:51:56</dUpdateDate>
	<vcClassName>变更公告</vcClassName>
	<vcName>变更公告</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/cpzx/bg/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>3a61b5cf-cf85-4ec3-b704-0fca7961cce2</Id>
	<Parent>839985c8-fe76-4347-ab34-86b0db07c4fc</Parent>
	<ResourceTemplate>3eb3ce9d-648e-4097-b710-dab4a667b7f0</ResourceTemplate>
	<ResourceListTemplate>1745dc89-8b73-4646-9b3f-ac76b267f23b</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:01:16</dUpdateDate>
	<dUpdateDate>2011/5/16 20:01:16</dUpdateDate>
	<vcClassName>皮肤科用药</vcClassName>
	<vcName>皮肤科用药</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/cpzx/pfk/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>db004180-db3e-4a46-bf1d-7e20f6f9785f</Id>
	<Parent>839985c8-fe76-4347-ab34-86b0db07c4fc</Parent>
	<ResourceTemplate>3eb3ce9d-648e-4097-b710-dab4a667b7f0</ResourceTemplate>
	<ResourceListTemplate>1745dc89-8b73-4646-9b3f-ac76b267f23b</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:01:41</dUpdateDate>
	<dUpdateDate>2011/5/16 20:01:41</dUpdateDate>
	<vcClassName>抗寄生虫药</vcClassName>
	<vcName>抗寄生虫药</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/cpzx/kjsc/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>1056a870-1366-44e5-94fa-e7a29209b8ee</Id>
	<Parent>839985c8-fe76-4347-ab34-86b0db07c4fc</Parent>
	<ResourceTemplate>3eb3ce9d-648e-4097-b710-dab4a667b7f0</ResourceTemplate>
	<ResourceListTemplate>1745dc89-8b73-4646-9b3f-ac76b267f23b</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:01:48</dUpdateDate>
	<dUpdateDate>2011/5/16 20:01:48</dUpdateDate>
	<vcClassName>滴眼液</vcClassName>
	<vcName>滴眼液</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/cpzx/dyy/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>f2aad798-225b-470c-8ea3-202a4bb09263</Id>
	<Parent>ec43974c-f8c6-4e05-a106-c00f054015fa</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:00:21</dUpdateDate>
	<dUpdateDate>2011/5/16 20:00:21</dUpdateDate>
	<vcClassName>消化系统</vcClassName>
	<vcName>消化系统</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/yyzt/xhxt/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>f0b146cb-c845-43d0-8115-55b8cd201340</Id>
	<Parent>839985c8-fe76-4347-ab34-86b0db07c4fc</Parent>
	<ResourceTemplate>3eb3ce9d-648e-4097-b710-dab4a667b7f0</ResourceTemplate>
	<ResourceListTemplate>1745dc89-8b73-4646-9b3f-ac76b267f23b</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:01:11</dUpdateDate>
	<dUpdateDate>2011/5/16 20:01:11</dUpdateDate>
	<vcClassName>维生素类药</vcClassName>
	<vcName>维生素类药</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/cpzx/wss/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>fcbbd472-cebd-4533-bdc2-25499a43254f</Id>
	<Parent>c64326aa-61f6-4bbe-9963-d94e0bb8e4d4</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/16 20:04:17</dUpdateDate>
	<dUpdateDate>2011/5/16 20:04:17</dUpdateDate>
	<vcClassName>环保理念</vcClassName>
	<vcName>环保理念</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>8c59b52f-1a3f-4da2-a9b3-a18ca63d6191</Id>
	<Parent>52696a5f-ffd7-4a9f-a29c-83ebeaf97993</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/5/16 20:03:14</dUpdateDate>
	<dUpdateDate>2011/5/16 20:03:14</dUpdateDate>
	<vcClassName>真伪鉴证</vcClassName>
	<vcName>真伪鉴证</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>0ecdbbdd-fe89-48d6-a2a0-d9b5f29ffdd0</Id>
	<Parent>ad79a159-1008-4606-9a6a-ed04c1e834dd</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/5/16 20:02:17</dUpdateDate>
	<dUpdateDate>2011/5/16 20:02:17</dUpdateDate>
	<vcClassName>临时公告</vcClassName>
	<vcName>临时公告</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/tzz/lsgg/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>fb1311d1-f706-4b2c-8835-e95e7eb4fd69</Id>
	<Parent>115c45af-250e-4c6e-b366-0020abf0794e</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/5/16 15:52:05</dUpdateDate>
	<dUpdateDate>2011/5/16 15:52:05</dUpdateDate>
	<vcClassName>众生简介</vcClassName>
	<vcName>众生简介</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>c422e451-8a5f-4cfd-ad0c-d80638c26e76</Id>
	<Parent>2527900b-e367-4832-a832-9381d88355fa</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/5/16 19:55:39</dUpdateDate>
	<dUpdateDate>2011/5/16 19:55:39</dUpdateDate>
	<vcClassName>企业理念</vcClassName>
	<vcName>企业理念</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>36fab2c8-a5f2-4e6b-a9ff-c514b3c51c69</Id>
	<Parent>e795a801-65ee-4523-b9f2-f13c9d5fdb43</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/5/16 19:54:19</dUpdateDate>
	<dUpdateDate>2011/5/16 19:54:19</dUpdateDate>
	<vcClassName>公司动态</vcClassName>
	<vcName>公司动态</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/xwzx/news/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>198e33dd-f21a-4e60-8099-49ec52c853b5</Id>
	<Parent>2697049f-646b-43d6-97b1-812d68b6d008</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/5/16 20:03:52</dUpdateDate>
	<dUpdateDate>2011/5/16 20:03:52</dUpdateDate>
	<vcClassName>招聘政策</vcClassName>
	<vcName>招聘政策</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>115c45af-250e-4c6e-b366-0020abf0794e</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/5/16 14:34:18</dUpdateDate>
	<dUpdateDate>2011/5/16 14:34:18</dUpdateDate>
	<vcClassName>关于众生</vcClassName>
	<vcName>About Zhongsheng</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/20110517/3.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>67eed636-a078-4568-a081-b7ba6e35bc97</Id>
	<Parent>2697049f-646b-43d6-97b1-812d68b6d008</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>35e38028-fb91-4a72-9d9e-bd1496a1232e</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/5/16 20:03:58</dUpdateDate>
	<dUpdateDate>2011/5/16 20:03:58</dUpdateDate>
	<vcClassName>招聘信息</vcClassName>
	<vcName>ZhaoPinXinXi</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/jmzs/zp</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>e0733fed-61df-4ced-b65e-601bc49ddaf7</Id>
	<Parent>e795a801-65ee-4523-b9f2-f13c9d5fdb43</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/5/16 19:54:32</dUpdateDate>
	<dUpdateDate>2011/5/16 19:54:32</dUpdateDate>
	<vcClassName>媒体聚焦</vcClassName>
	<vcName>媒体聚焦</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/xwzx/jdjj/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>6e4a81c1-9f52-45ed-990d-018c1ad37133</Id>
	<Parent>52696a5f-ffd7-4a9f-a29c-83ebeaf97993</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/5/16 20:03:19</dUpdateDate>
	<dUpdateDate>2011/5/16 20:03:19</dUpdateDate>
	<vcClassName>联系我们</vcClassName>
	<vcName>联系我们</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>c7603d38-cd9d-4c2f-b518-abf4494175b1</Id>
	<Parent>2527900b-e367-4832-a832-9381d88355fa</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/5/16 19:56:24</dUpdateDate>
	<dUpdateDate>2011/5/16 19:56:24</dUpdateDate>
	<vcClassName>企业标识</vcClassName>
	<vcName>企业标识</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>18d8de5a-9e61-4a45-abac-a8494009e4db</Id>
	<Parent>ad79a159-1008-4606-9a6a-ed04c1e834dd</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/5/16 20:02:55</dUpdateDate>
	<dUpdateDate>2011/5/16 20:02:55</dUpdateDate>
	<vcClassName>定期报告</vcClassName>
	<vcName>定期报告</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/tzz/dsgg/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>018b9002-ba15-4ebd-9e9a-41e7abff4693</Id>
	<Parent>115c45af-250e-4c6e-b366-0020abf0794e</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/5/16 15:54:10</dUpdateDate>
	<dUpdateDate>2011/5/16 15:54:10</dUpdateDate>
	<vcClassName>组织机构</vcClassName>
	<vcName>组织机构</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>e795a801-65ee-4523-b9f2-f13c9d5fdb43</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/5/16 16:26:43</dUpdateDate>
	<dUpdateDate>2011/5/16 16:26:43</dUpdateDate>
	<vcClassName>新闻中心</vcClassName>
	<vcName>News Center</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/xwzx/news/l.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>2527900b-e367-4832-a832-9381d88355fa</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/5/16 19:25:30</dUpdateDate>
	<dUpdateDate>2011/5/16 19:25:30</dUpdateDate>
	<vcClassName>企业文化</vcClassName>
	<vcName>Company Culture</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/20110517/7.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>20c8debc-ef91-45a5-b376-ed76ca104b96</Id>
	<Parent>115c45af-250e-4c6e-b366-0020abf0794e</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/5/16 16:15:57</dUpdateDate>
	<dUpdateDate>2011/5/16 16:15:57</dUpdateDate>
	<vcClassName>董事长致辞</vcClassName>
	<vcName>董事长致辞</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>a4264578-1723-46c3-86f6-86fa6b669e54</Id>
	<Parent>e795a801-65ee-4523-b9f2-f13c9d5fdb43</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/5/16 19:54:44</dUpdateDate>
	<dUpdateDate>2011/5/16 19:54:44</dUpdateDate>
	<vcClassName>行业动态</vcClassName>
	<vcName>行业动态</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/xwzx/hydt/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>39ce6488-bda9-4481-902a-5ae2c8626f49</Id>
	<Parent>2527900b-e367-4832-a832-9381d88355fa</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/5/16 19:56:43</dUpdateDate>
	<dUpdateDate>2011/5/16 19:56:43</dUpdateDate>
	<vcClassName>员工园地</vcClassName>
	<vcName>员工园地</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/qywh/ygyd/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>51aa9aa7-8eb1-41f0-be22-af5b3bcddb10</Id>
	<Parent>52696a5f-ffd7-4a9f-a29c-83ebeaf97993</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/5/16 20:03:26</dUpdateDate>
	<dUpdateDate>2011/5/16 20:03:26</dUpdateDate>
	<vcClassName>业务联络</vcClassName>
	<vcName>业务联络</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>ae425cd2-c931-492f-8e17-6cf1ceca8be5</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/5/16 19:28:27</dUpdateDate>
	<dUpdateDate>2011/5/16 19:28:27</dUpdateDate>
	<vcClassName>科技创新</vcClassName>
	<vcName>Technology Innovation</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/20110517/9.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>ca991537-bf4d-40d5-8bdb-fd7d2c3ef242</Id>
	<Parent>115c45af-250e-4c6e-b366-0020abf0794e</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/5/16 16:19:17</dUpdateDate>
	<dUpdateDate>2011/5/16 16:19:17</dUpdateDate>
	<vcClassName>众生历史</vcClassName>
	<vcName>众生历史</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>dc9f041d-9137-4b43-af2a-bd219d69c5dd</Id>
	<Parent>2527900b-e367-4832-a832-9381d88355fa</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>cbf36c61-3ef8-46f9-aa28-eb8a3535644a</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/5/16 19:56:54</dUpdateDate>
	<dUpdateDate>2011/5/16 19:56:54</dUpdateDate>
	<vcClassName>文体生活</vcClassName>
	<vcName>文体生活</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/Culture/wtsh/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>6b71bbad-61aa-4196-aec9-2d3063248bb4</Id>
	<Parent>52696a5f-ffd7-4a9f-a29c-83ebeaf97993</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/5/16 20:03:30</dUpdateDate>
	<dUpdateDate>2011/5/16 20:03:30</dUpdateDate>
	<vcClassName>意见反馈</vcClassName>
	<vcName>意见反馈</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>e79549f7-0d2a-4b46-bc48-025ac79e671b</Id>
	<Parent>115c45af-250e-4c6e-b366-0020abf0794e</Parent>
	<ResourceTemplate>a1b19f91-7f96-4706-b990-51ad91011bf0</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>5</iOrder>
	<dUpdateDate>2011/5/16 16:17:19</dUpdateDate>
	<dUpdateDate>2011/5/16 16:17:19</dUpdateDate>
	<vcClassName>众生荣誉</vcClassName>
	<vcName>众生荣誉</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>ec43974c-f8c6-4e05-a106-c00f054015fa</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>5</iOrder>
	<dUpdateDate>2011/5/16 19:29:37</dUpdateDate>
	<dUpdateDate>2011/5/16 19:29:37</dUpdateDate>
	<vcClassName>医药专题</vcClassName>
	<vcName>Medical Topics</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/yyzt/ykyy/l.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>4d554113-e54a-423a-b226-bb90c7af5b70</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>1745dc89-8b73-4646-9b3f-ac76b267f23b</ResourceListTemplate>
	<iOrder>6</iOrder>
	<dUpdateDate>2011/5/16 19:30:37</dUpdateDate>
	<dUpdateDate>2011/5/16 19:30:37</dUpdateDate>
	<vcClassName>产品中心</vcClassName>
	<vcName>Product Center</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/cpzx/zcy/l.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>ad79a159-1008-4606-9a6a-ed04c1e834dd</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>7</iOrder>
	<dUpdateDate>2011/5/16 19:31:18</dUpdateDate>
	<dUpdateDate>2011/5/16 19:31:18</dUpdateDate>
	<vcClassName>投资者关系</vcClassName>
	<vcName>Investor Relations</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/d/zsyycn/tzz/lsgg/l.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>52696a5f-ffd7-4a9f-a29c-83ebeaf97993</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>8</iOrder>
	<dUpdateDate>2011/5/16 19:32:09</dUpdateDate>
	<dUpdateDate>2011/5/16 19:32:09</dUpdateDate>
	<vcClassName>客户服务</vcClassName>
	<vcName>Customer Service</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/20110524/22.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>2697049f-646b-43d6-97b1-812d68b6d008</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>9</iOrder>
	<dUpdateDate>2011/5/16 19:33:00</dUpdateDate>
	<dUpdateDate>2011/5/16 19:33:00</dUpdateDate>
	<vcClassName>加盟众生</vcClassName>
	<vcName>Recruitment Zhongsheng</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/20110524/21.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
<Categorie>
	<Id>c64326aa-61f6-4bbe-9963-d94e0bb8e4d4</Id>
	<Parent>0</Parent>
	<ResourceTemplate>94915f54-2411-4ffd-9a76-5f1bc39f0f44</ResourceTemplate>
	<ResourceListTemplate>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</ResourceListTemplate>
	<iOrder>10</iOrder>
	<dUpdateDate>2011/5/16 19:33:41</dUpdateDate>
	<dUpdateDate>2011/5/16 19:33:41</dUpdateDate>
	<vcClassName>社会责任</vcClassName>
	<vcName>Social Responsibility</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/20110517/12.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
</Categorie>
</Categories>