<?xml version="1.0"?>
<Templates>
<Template>
	<Id>cbf36c61-3ef8-46f9-aa28-eb8a3535644a</Id>
	<Content><![CDATA[<tcg:item3 type="Categories" id="_$ClassId$_" intitle="true">
<tcg:Header type="Template" id="213e4061-6e87-4534-8268-b26f972f60c3"></tcg:Header>
<!--banner start-->	
<div class="BannerArea"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/banner_about.jpg" alt="" /></div>

<!--banner stop-->
<!--Middlebox start-->	
<div class="MiddleBox">
  <!--<div class="Imgtop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_top.jpg" alt="" align="absbottom" /></div>-->
  <div class="ImgMiddle">
    <div class="LeftBox">
	 <tcg:item4 type="Categories" id="$item3_iParent$">
	  <div class="Title"><span class="style14">$item4_vcClassName$</span><span class="style10">$item4_vcName$</span></div>
	  <div class="MenuBox">
	    <div class="MenubgTop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_top.jpg" alt="" align="bottom" /></div>
		<div class="MenubgCenter">
		  <div id="List">
	    <ul>
		<tcg:itemClassTitle type="CategoriesList" skin="TCG-ZhongShengpharmacyCN"  parent="$item3_iParent$"  orders="iOrder">	
	      <li><a href="$itemClassTitle_vcUrl$" id="OtherMenu"><span>$itemClassTitle_vcClassName$</span></a></li>
		</tcg:itemclasstitle>
	    </ul>
		<div style="clear:both"></div>
      </div>
		</div>
		<div class="MenubgBottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_bottom.jpg" alt="" align="top" /></div>
	  </div>
	  </tcg:item4>
	  <div class="LinkButton">
	    <a href="Service Center.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_service.jpg" alt="客户服务" /></a><br />
		<a href="Contact.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_contact.jpg" alt="联系我们" /></a><br />
		<a href="Map.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_jiaotong.jpg" alt="交通指南" /></a><br />
	  </div>
	  
	</div>
	
	<div class="RightBox">
	  <div class="LoctionBox">
	    <div class="Left"><span class="style12b">$item3_vcClassName$</span></div>
		<div class="Right">当前位置：首页 > $item3_ClassTitleList$</div>
		<div style="clear:both"></div>
	  </div>
	  <div class="ContentBox">
	    		
	    <tcg:item2 type="Resourcelist" categories="_$ClassId$_" num="12" check="Y" del="N" create="Y" orders="iId DESC" pager="true">
	    <div class="OneLife"><img src="$item2_vcSmallImg$"><br /><a href="$item2_vcFilePath$"  target="_blank">$item2_vcTitle$</a><div style="clear:both"></div></div>
		</tcg:item2>
	   <div style="clear:both"></div>	  
	  
	  </div>
	  <div style="clear:both"></div>
	</div>
    <div style="clear:both"></div>
  </div>
  <div class="Imgbottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_bottom.jpg" alt="" align="top" /></div>
  <div style="clear:both"></div>
</div>
<!--Middlebox stop-->
<tcg:Footer type="Template" id="f40c3391-5450-4d30-a521-4d1e0041d1bc"></tcg:Footer>
</tcg:item3>]]></Content>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>2</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-5-17 8:25:46</dUpdateDate>
	<dAddDate>2011-5-17 7:42:55</dAddDate>
	<vcTempName>list(图)</vcTempName>
	<vcUrl>/list(图)</vcUrl>
</Template>
<Template>
	<Id>1745dc89-8b73-4646-9b3f-ac76b267f23b</Id>
	<Content><![CDATA[<tcg:item3 type="Categories" id="_$ClassId$_" intitle="true">
<tcg:Header type="Template" id="213e4061-6e87-4534-8268-b26f972f60c3"></tcg:Header>
<!--banner start-->	
<div class="BannerArea"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/banner_about.jpg" alt="" /></div>

<!--banner stop-->
<!--Middlebox start-->	
<div class="MiddleBox">
  <!--<div class="Imgtop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_top.jpg" alt="" align="absbottom" /></div>-->
  <div class="ImgMiddle">
    <div class="LeftBox">
	 <tcg:item4 type="Categories" id="$item3_iParent$">
	  <div class="Title"><span class="style14">$item4_vcClassName$</span><span class="style10">$item4_vcName$</span></div>
	  <div class="MenuBox">
	    <div class="MenubgTop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_top.jpg" alt="" align="bottom" /></div>
		<div class="MenubgCenter">
		  <div id="List">
	    <ul>
		<tcg:itemClassTitle type="CategoriesList" skin="TCG-ZhongShengpharmacyCN"  parent="$item3_iParent$"  orders="iOrder">	
	      <li><a href="$itemClassTitle_vcUrl$" id="OtherMenu"><span>$itemClassTitle_vcClassName$</span></a></li>
		</tcg:itemclasstitle>
	    </ul>
		<div style="clear:both"></div>
      </div>
		</div>
		<div class="MenubgBottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_bottom.jpg" alt="" align="top" /></div>
	  </div>
	  </tcg:item4>
	  <div class="LinkButton">
	    <a href="Service Center.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_service.jpg" alt="客户服务" /></a><br />
		<a href="Contact.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_contact.jpg" alt="联系我们" /></a><br />
		<a href="Map.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_jiaotong.jpg" alt="交通指南" /></a><br />
	  </div>
	  
	</div>
	
	<div class="RightBox">
	  <div class="LoctionBox">
	    <div class="Left"><span class="style12b">$item3_vcClassName$</span></div>
		<div class="Right">当前位置：首页 > $item3_ClassTitleList$</div>
		<div style="clear:both"></div>
	  </div>
	  <div class="ContentBox">
	   
	    <tcg:item2 type="Resourcelist" categories="_$ClassId$_" num="12" check="Y" del="N" create="Y" orders="iId DESC" pager="true">
	    <div class="OneLife"><img src="$item2_vcSmallImg$"><br /><a href="$item2_vcFilePath$"  target="_blank">$item2_vcTitle$</a><div style="clear:both"></div></div>
		
		<div class="OneProduct">
		  <div class="leftImg"><img src="$item2_vcSmallImg$" alt="" /></div>
		  <div class="RightText">$item2_vcShortContent$
		  <br /> 
<a href="$item2_vcFilePath$"><img border="0" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/pic_more.jpg" alt="了解更多" /></a></div>
        <div><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/bk_product.jpg" alt="" /></div>
		</div>
		</tcg:item2>
  
	  
	  </div>
	  <div style="clear:both"></div>
	</div>
    <div style="clear:both"></div>
  </div>
  <div class="Imgbottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_bottom.jpg" alt="" align="top" /></div>
  <div style="clear:both"></div>
</div>
<!--Middlebox stop-->
<tcg:Footer type="Template" id="f40c3391-5450-4d30-a521-4d1e0041d1bc"></tcg:Footer>
</tcg:item3>]]></Content>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>2</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-5-17 8:25:33</dUpdateDate>
	<dAddDate>2011-5-17 7:51:52</dAddDate>
	<vcTempName>list(产品)</vcTempName>
	<vcUrl>/list(产品)</vcUrl>
</Template>
<Template>
	<Id>f6ef683d-fc3c-4ffb-8cbb-251390c9d86a</Id>
	<Content><![CDATA[<tcg:Header type="Template" id="213e4061-6e87-4534-8268-b26f972f60c3"></tcg:Header>
<!--banner start-->
<div class="banner">
  <UL class=pic>
  <LI title=""><A title="" href="#" target=_blank><IMG 
  title="" alt="" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/index_banner02.jpg" 
  width=1000 height="458" border="0"></A> </LI>
  <LI title=""><A title="" href="#" target=_blank><IMG 
  title="" alt="" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/index_banner01.jpg" 
  width=1000 height="458" border="0"></A> </LI>
  <LI title=""><A title="" href="#" target=_blank><IMG 
  title="" alt="" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/index_banner03.jpg" 
  width=1000 height="458" border="0"></A> </LI>
  <!--<LI title=""><A title="" href="#" target=_blank><IMG 
  title="" alt="" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/index_banner04.jpg" 
  width=1000  height="458" border="0"></A> </LI>--></UL><SPAN></SPAN>
<UL class=txt>
  <LI title=""><A title="" href="#" target=_blank><IMG 
  alt="" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/20100630100637637.png" ><B></B><BR>有付出才有回报、有创新才有价值!</A> </LI>
  <LI title=""><A title="" href="#" target=_blank><IMG 
  alt="" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/201007011540424042.png" ><B></B><BR>用健康见证精彩未来！</A> </LI>
  
  <LI title=""><A title="" href="#" target=_blank><IMG 
  alt="" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/201007301725512551.png" ><B></B><BR>以优质产品关爱生命，以优质产品
健康大众!
</A> </LI>
  <!--<LI title=""><A title="" href="#" target=_blank><IMG 
  alt="" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/201007132040344034.png" ><B></B><BR>健康、和谐、可持续发展!</A> </LI>--></UL></DIV>

<DIV class=h_l></DIV>
<DIV class=h_r></DIV>
<DIV class=h_f></DIV>

<SCRIPT type=text/javascript>
        $(function(){
        
            $('.banner .pic li').soChange({thumbObj:'.banner .txt li',thumbNowClass:'current'});
        	
	        //$(".banner .txt").tabs(".banner .pic > li", { effect: 'fade',	fadeOutSpeed: "slow",rotate: true}).slideshow({autoplay:true,interval:5000});
        	
	        $(".scrollNew div").scrollable({size:1,items:".scrollNew div ul",vertical:true}).navigator().autoscroll();
        	
        })
    </SCRIPT>

<!--<DIV id=focusbox>
      <DIV id=bimg>
      <DIV class=dis onmouseover=clearAuto(); onmouseout=setAuto()><A 
      href="#" 
      target=_blank><IMG alt=#
      src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/index_banner01.jpg" width=1000
      height=458 border="0"></A></DIV>
      <DIV class=undis onmouseover=clearAuto(); onmouseout=setAuto()><A 
      href="#" target=_blank><IMG 
      alt=# src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/index_banner02.jpg" 
      width=1000 height=458 border="0"></A></DIV>
      <DIV class=undis onmouseover=clearAuto(); onmouseout=setAuto()><A 
      href="#" target=_blank><IMG 
      alt=# src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/index_banner03.jpg" 
      width=1000 height=458 border="0"></A></DIV>
      <DIV class=dis onmouseover=clearAuto(); onmouseout=setAuto()><A 
      href="#" 
      target=_blank><IMG alt=#
      src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/index_banner04.jpg" width=1000
      height=458 border="0"></A></DIV>
      <DIV class=undis onmouseover=clearAuto(); onmouseout=setAuto()><A 
      href="#" target=_blank><IMG 
      alt=# src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/index_banner05.jpg" 
      width=1000 height=458 border="0"></A></DIV>
     
      <SCRIPT language=javascript>var imgnums;imgnums = 5;</SCRIPT>
      </DIV>
      <DIV id=simg class=lkff>
      <TABLE border=0 cellSpacing=0 cellPadding=0 align=right>
        <TBODY>
        <TR>
          <TD class=f1 onmouseover=Mea(0);clearAuto(); 
          onmouseout=setAuto();>1</TD>
          <TD onmouseover=Mea(1);clearAuto(); onmouseout=setAuto();>2</TD>
          <TD onmouseover=Mea(2);clearAuto(); onmouseout=setAuto();>3</TD>
          <TD onmouseover=Mea(3);clearAuto(); onmouseout=setAuto();>4</TD>
          <TD onmouseover=Mea(4);clearAuto(); 
        onmouseout=setAuto();>5</TD></TR></TBODY></TABLE></DIV></DIV>
<SCRIPT language=javascript  src="js/imgturn2.js"></SCRIPT>-->

<!--banner stop-->
<!--Middlebox start-->	
<div class="MiddleBox">
  <!--<div class="Imgtop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_top.jpg" alt="" align="absbottom" /></div>-->
  <div class="ImgMiddle">
    <div class="Newsarea">
	  <div class="Title"><a href="News.html"><img border="0" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/title_news.jpg" alt="" /></a></div>
	  <div class="NewsList"><span class="Time">2011-3-20</span> <a href="#">众生药业获得2010年度东莞市纳税十强民营企业</a> </div>
	  <div class="NewsList"><span class="Time">2011-2-15</span> <a href="#">公司首位博士后顺利通过博士后出站答辩 </a><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/hot_pic.jpg" alt="" /> </div>
	  <div class="NewsList"><span class="Time">2011-2-06</span> <a href="#">公司4月份喜获多项荣誉 </a> </div>
	  <div class="NewsList"><span class="Time">2011-1-23</span> <a href="#">简讯：公司四个产品被认定为广东省自主创新产品 </a> </div>
	  <div class="NewsList"><span class="Time">2011-1-11</span> <a href="#">广东省第十一届眼科年会 </a> <img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/hot_pic.jpg" alt="" /> </div>
	</div>
	
	<div class="NewProduct">
	  <div class="Title"><a href="New Product.html"><img border="0" src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/title_newproduct.jpg" alt="" /></a></div>
	  <div class="ProductList">
	    <div class="leftImg"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/newproduct_pic.jpg" alt="" /></div>
		<div class="RightText"><span class="BlueText">药品名称：</span> 复方血栓通胶囊<br /> 
<span class="BlueText">批准文号：</span> 国药准字Z20030017 <br /> 
<span class="BlueText">功能主治：</span> 活血化瘀，益气养阴。用于治疗
血瘀兼气阴两虚证的，短乏力、心烦口干... <br /> 
<a href="#">Learn More>></a></div>
      <div style="clear:both"></div>
	  </div>
	</div>
	
	<div class="LoginArea">
	  <div class="Title"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/title_login.jpg" alt="" /></div>
	  <div class="FormBox"><form action="" method="post"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="40">卡号：</td>
    <td><input name="" type="text" /></td>
  </tr>
  <tr>
    <td>密码：</td>
    <td><input name="Input" type="text" /></td>
  </tr>
  
</table>
<div><a href="#"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/login_button.jpg" alt="" border="0" align="middle" /></a></div>
<div style="clear:both"></div>
</form></div>
	</div>
	<div style="clear:both"></div>
  </div>
  <div class="Imgbottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_bottom.jpg" alt="" align="top" /></div>
  <div style="clear:both"></div>
</div>
<!--Middlebox stop-->
<tcg:Footer type="Template" id="f40c3391-5450-4d30-a521-4d1e0041d1bc"></tcg:Footer>]]></Content>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-5-17 0:29:31</dUpdateDate>
	<dAddDate>2011-5-15 20:02:07</dAddDate>
	<vcTempName>index</vcTempName>
	<vcUrl>/index</vcUrl>
</Template>
<Template>
	<Id>213e4061-6e87-4534-8268-b26f972f60c3</Id>
	<Content><![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="robots" content="all" />
<title>_$WebTitle$_</title> 
<LINK rel=stylesheet type=text/css href="_$WebSite$_/skin/ZhongShengpharmacyCN/css/zhongsheng.css">
<script language=Javascript src="_$WebSite$_/skin/ZhongShengpharmacyCN/js/AC_RunActiveContent.js" type="text/javascript"></script>
<script language="javascript" src="_$WebSite$_/skin/ZhongShengpharmacyCN/js/time.js"></script>
<SCRIPT language=javascript type=text/javascript src="_$WebSite$_/skin/ZhongShengpharmacyCN/js/jquery.tools.min.js"></SCRIPT>
<SCRIPT language=javascript type=text/javascript src="_$WebSite$_/skin/ZhongShengpharmacyCN/js/jquery.soChange-min.js"></SCRIPT>
<SCRIPT language=javascript type=text/javascript src="_$WebSite$_/skin/ZhongShengpharmacyCN/js/jquery.pngFix.js"></SCRIPT>
</head> 
<body> 
<div class="MainArea">
<!--top start-->
<div class="LogoArea">
  <div class="LogoPic"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/logo.jpg" alt="" /></div>
  <div class="VersionTel"><a href="_$MainPage$_">中文</a> | <a href="En/Index.html">ENGLISH</a><br />
您好！今天是<SCRIPT>document.write(date());</SCRIPT> 欢迎来到众生药业股份有限公司！
全国免费服务热线：800-830-1629</div>
  <div style="clear:both"></div>
</div>
<div class="AdBg"><script language="javascript" type="text/javascript">flashWrite('_$WebSite$_/skin/ZhongShengpharmacyCN/images/top_banner.swf','990','85','TOP','','','transparent')</script></div>
<!--top stop-->
<!--nav start-->
<div class="menu"> 
<ul> 
<li class="HomeBox"><a href="_$MainPage$_">首页</a></li> 
<tcg:itemClassTitle type="CategoriesList" skin="TCG-ZhongShengpharmacyCN"  parent="0"  orders="iOrder">	
<li><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/nav_bk.jpg" alt="" /></li>
<li><a href="$itemClassTitle_vcUrl$">$itemClassTitle_vcClassName$
<!--[if IE 7]><!--></a><!--<![endif]--> 
<!--[if lte IE 6]><table><tr><td><![endif]--> 
<ul>
<tcg:itemClassTitle$itemClassTitle_Id$ type="CategoriesList" skin="TCG-ZhongShengpharmacyCN"  parent="$itemClassTitle_Id$"  orders="iOrder">
<li><a href="$itemClassTitle$itemClassTitle_Id$_vcUrl$">$itemClassTitle$itemClassTitle_Id$_vcClassName$</a></li></tcg:itemClassTitle$itemClassTitle_Id$>
</ul> 
<!--[if lte IE 6]></td></tr></table></a><![endif]--> 
</li> 
<!--<li><img src="images/nav_bk.jpg" alt="" /></li>-->
</tcg:itemClassTitle>

</ul> 
</div> 
<!--nav stop-->]]></Content>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-5-17 7:03:15</dUpdateDate>
	<dAddDate>2011-5-15 20:05:04</dAddDate>
	<vcTempName>header</vcTempName>
	<vcUrl>/header</vcUrl>
</Template>
<Template>
	<Id>e8a6a448-4729-4b8b-9b95-9d5f9e2df3b4</Id>
	<Content><![CDATA[<tcg:item3 type="Categories" id="_$ClassId$_" intitle="true">
<tcg:Header type="Template" id="213e4061-6e87-4534-8268-b26f972f60c3"></tcg:Header>
<!--banner start-->	
<div class="BannerArea"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/banner_about.jpg" alt="" /></div>

<!--banner stop-->
<!--Middlebox start-->	
<div class="MiddleBox">
  <!--<div class="Imgtop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_top.jpg" alt="" align="absbottom" /></div>-->
  <div class="ImgMiddle">
    <div class="LeftBox">
	 <tcg:item4 type="Categories" id="$item3_iParent$">
	  <div class="Title"><span class="style14">$item4_vcClassName$</span><span class="style10">$item4_vcName$</span></div>
	  <div class="MenuBox">
	    <div class="MenubgTop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_top.jpg" alt="" align="bottom" /></div>
		<div class="MenubgCenter">
		  <div id="List">
	    <ul>
		<tcg:itemClassTitle type="CategoriesList" skin="TCG-ZhongShengpharmacyCN"  parent="$item3_iParent$"  orders="iOrder">	
	      <li><a href="$itemClassTitle_vcUrl$" id="OtherMenu"><span>$itemClassTitle_vcClassName$</span></a></li>
		</tcg:itemclasstitle>
	    </ul>
		<div style="clear:both"></div>
      </div>
		</div>
		<div class="MenubgBottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_bottom.jpg" alt="" align="top" /></div>
	  </div>
	  </tcg:item4>
	  <div class="LinkButton">
	    <a href="Service Center.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_service.jpg" alt="客户服务" /></a><br />
		<a href="Contact.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_contact.jpg" alt="联系我们" /></a><br />
		<a href="Map.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_jiaotong.jpg" alt="交通指南" /></a><br />
	  </div>
	  
	</div>
	
	<div class="RightBox">
	  <div class="LoctionBox">
	    <div class="Left"><span class="style12b">$item3_vcClassName$</span></div>
		<div class="Right">当前位置：首页 > $item3_ClassTitleList$</div>
		<div style="clear:both"></div>
	  </div>
	  <div class="ContentBox">
	    
	    <tcg:item2 type="Resourcelist" categories="_$ClassId$_" num="12" check="Y" del="N" create="Y" orders="iId DESC" pager="true">
		<div class="YiyaoList">
		  <div class="Left"><span class="Time"><b>$item2_dAddDate$</b></span><a href="$item2_vcFilePath$" target="_blank">$item2_vcTitle$</a></div>
		  <!--<div class="Right"><span class="Time">$item2_dAddDate$</span></div>-->
		  <div style="clear:both"></div>
		</div
		</tcg:item2>
	   
	  
	  </div>
	  <div style="clear:both"></div>
	</div>
    <div style="clear:both"></div>
  </div>
  <div class="Imgbottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_bottom.jpg" alt="" align="top" /></div>
  <div style="clear:both"></div>
</div>
<!--Middlebox stop-->
<tcg:Footer type="Template" id="f40c3391-5450-4d30-a521-4d1e0041d1bc"></tcg:Footer>
</tcg:item3>]]></Content>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>2</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-5-17 7:34:55</dUpdateDate>
	<dAddDate>2011-5-16 14:32:47</dAddDate>
	<vcTempName>list</vcTempName>
	<vcUrl>/list</vcUrl>
</Template>
<Template>
	<Id>94915f54-2411-4ffd-9a76-5f1bc39f0f44</Id>
	<Content><![CDATA[<tcg:item2 type="Resource" id="_$Id$_" intitle="true">
<tcg:Header type="Template" id="213e4061-6e87-4534-8268-b26f972f60c3"></tcg:Header>
<!--banner start-->	
<div class="BannerArea"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/banner_about.jpg" alt="" /></div>

<!--banner stop-->
<!--Middlebox start-->	
<div class="MiddleBox">
  <!--<div class="Imgtop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_top.jpg" alt="" align="absbottom" /></div>-->
  <div class="ImgMiddle">
    <div class="LeftBox">
	 <tcg:item4 type="Categories" id="$item2_iClassParentId2$">
	  <div class="Title"><span class="style14">$item4_vcClassName$</span><span class="style10">$item4_vcName$</span></div>
	  <div class="MenuBox">
	    <div class="MenubgTop"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_top.jpg" alt="" align="bottom" /></div>
		<div class="MenubgCenter">
		  <div id="List">
	    <ul>
		<tcg:itemClassTitle type="CategoriesList" skin="TCG-ZhongShengpharmacyCN"  parent="$item2_iClassParentId$"  orders="iOrder">	
	      <li><a href="$itemClassTitle_vcUrl$" id="OtherMenu"><span>$itemClassTitle_vcClassName$</span></a></li>
		</tcg:itemclasstitle>
	    </ul>
		<div style="clear:both"></div>
      </div>
		</div>
		<div class="MenubgBottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftmenubg_bottom.jpg" alt="" align="top" /></div>
	  </div>
	  </tcg:item4>
	  <div class="LinkButton">
	    <a href="Service Center.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_service.jpg" alt="客户服务" /></a><br />
		<a href="Contact.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_contact.jpg" alt="联系我们" /></a><br />
		<a href="Map.html"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/leftbutton_jiaotong.jpg" alt="交通指南" /></a><br />
	  </div>
	  
	</div>
	
	<div class="RightBox">
	  <div class="LoctionBox">
	    <div class="Left"><span class="style12b">$item2_vcClassName$</span></div>
		<div class="Right">当前位置：首页 > $item2_TopicClassTitleList$</div>
		<div style="clear:both"></div>
	  </div>
	  <div class="ContentBox">
	    
	  	 $item2_vcContent$
	   
	  
	  </div>
	  <div style="clear:both"></div>
	</div>
    <div style="clear:both"></div>
  </div>
  <div class="Imgbottom"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/middlebg_bottom.jpg" alt="" align="top" /></div>
  <div style="clear:both"></div>
</div>
<!--Middlebox stop-->
<tcg:Footer type="Template" id="f40c3391-5450-4d30-a521-4d1e0041d1bc"></tcg:Footer>
</tcg:item2>]]></Content>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
	<TemplateType>1</TemplateType>
	<iParentId>1</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-5-17 6:39:48</dUpdateDate>
	<dAddDate>2011-5-16 14:33:21</dAddDate>
	<vcTempName>deatail1</vcTempName>
	<vcUrl>/deatail1</vcUrl>
</Template>
<Template>
	<Id>f40c3391-5450-4d30-a521-4d1e0041d1bc</Id>
	<Content><![CDATA[<!--Footbox start-->
<div class="FootBox">
  <div class="LeftImg"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/footbg_left.jpg" alt="" /></div>
  <div class="MiddleImg">
    <div class="copy">Copyright &copy;2007 广东众生药业股份有限公司  版权所有   免费热线：800-830-1629  |  <a href="http://120.86.185.156/login/login.php" target="_blank">BCM医药市场管理系统</a></div>
	<div class="QuickLink"><a href="Index.html">网站首页</a> | <a href="About5.html">众生荣誉</a> | <a href="Culture3.html">员工园地</a> | <a href="Service Center.html">真伪鉴证</a> | <a href="Responsibility2.html">公益事业</a><!--奥ICP备080047号--> </div>
  </div>
  <div class="rightImg"><img src="_$WebSite$_/skin/ZhongShengpharmacyCN/images/footbg_right.jpg" alt="" /></div>
  <div style="clear:both"></div>
</div>
<!--Footbox stop-->		
</DIV>
	
</body> 
</html>]]></Content>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011-5-16 15:30:05</dUpdateDate>
	<dAddDate>2011-5-16 15:26:33</dAddDate>
	<vcTempName>footer</vcTempName>
	<vcUrl>/html/footer</vcUrl>
</Template>
</Templates>