<?xml version="1.0"?>
<Skin>
	<Id>TCG-ZhongShengpharmacyEN</Id>
	<Name>众生药业英文版</Name>
	<Pic>../../skin/ZhongShengpharmacyEN/default.jpg</Pic>
  <WebDescription>众生药业英文版</WebDescription>
  <IndexPage>/html/d/zsyy/index.html</IndexPage>
  <WebKeyWords>1</WebKeyWords>
  <IndexPage>#</IndexPage>
</Skin>