<?xml version="1.0" encoding="gb2312"?>
<Settings>
  <Item>
    <Name>FileExtension</Name>
    <Explain>生成资源的后缀</Explain>
    <Mode>Text</Mode>
    <Value>.htm</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>WebSite</Name>
    <Explain>网站地址</Explain>
    <Mode>Text</Mode>
    <Value>http://www.tcgcms.cn</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>ManagePath</Name>
    <Explain>后台文件夹</Explain>
    <Mode>Text</Mode>
    <Value>/Manage/</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>FileSite</Name>
    <Explain>文件网站地址</Explain>
    <Mode>Text</Mode>
    <Value>/</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>ScriptsSite</Name>
    <Explain>脚本站点地址</Explain>
    <Mode>Text</Mode>
    <Value>/manage/</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>WebTitle</Name>
    <Explain>系统名称</Explain>
    <Mode>Text</Mode>
    <Value>≮三云鬼≯ 资讯管理系统</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>PageSize</Name>
    <Explain>后台列表显示的纪录数</Explain>
    <Mode>Number</Mode>
    <Value>15</Value>
    <Required>True</Required>
  </Item>
  <Item>
    <Name>iPageSize</Name>
    <Explain>前台列表显示的纪录数</Explain>
    <Mode>Number</Mode>
    <Value>2</Value>
    <Required>True</Required>
  </Item>
</Settings>