<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TCG.Sheif.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <TCG.Sheif.Properties.Settings>
            <setting name="TCG_Sheif_TCG_SheifService_SheifSourceService"
                serializeAs="String">
                <value>http://demo.tcgcms.cn/WebService/SheifService.asmx</value>
            </setting>
            <setting name="TCG_Sheif_TCG_SheifConfig_SheifConfig" serializeAs="String">
                <value>http://demo.tcgcms.cn/WebService/SheifConfig.asmx</value>
            </setting>
            <setting name="TCG_Sheif_TCG_ResourcesService_ResourcesService"
                serializeAs="String">
                <value>http://demo.tcgcms.cn/WebService/ResourcesService.asmx</value>
            </setting>
            <setting name="TCG_Sheif_TCG_CategorieService_CategorieService"
                serializeAs="String">
                <value>http://demo.tcgcms.cn/WebService/CategorieService.asmx</value>
            </setting>
        </TCG.Sheif.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
