<?xml version="1.0"?>
<Categories>
<Categorie>
	<Id>4eda13ff-85b2-481e-93fc-ab9c87f2dd00</Id>
	<Parent>57c69ab2-715f-4e79-8e07-109328184416</Parent>
	<ResourceTemplate>959459a1-61ba-4667-a161-b6e6dd51dc4e</ResourceTemplate>
	<ResourceListTemplate>dd664051-4ddf-43c8-a44a-ee5e8f75b759</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/22 6:57:18</dUpdateDate>
	<dUpdateDate>2011/5/22 6:57:18</dUpdateDate>
	<vcClassName>最新动态</vcClassName>
	<vcName>最新动态</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/tcgcms/sy/zxdt/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-2011-5</SkinId>
</Categorie>
<Categorie>
	<Id>04444102-7d8e-44f8-9b38-e14282f37f9a</Id>
	<Parent>57c69ab2-715f-4e79-8e07-109328184416</Parent>
	<ResourceTemplate>959459a1-61ba-4667-a161-b6e6dd51dc4e</ResourceTemplate>
	<ResourceListTemplate>dd664051-4ddf-43c8-a44a-ee5e8f75b759</ResourceListTemplate>
	<iOrder>0</iOrder>
	<dUpdateDate>2011/5/22 6:59:55</dUpdateDate>
	<dUpdateDate>2011/5/22 6:59:55</dUpdateDate>
	<vcClassName>媒体报道</vcClassName>
	<vcName>媒体报道</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/tcgcms/sy/mtbd/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-2011-5</SkinId>
</Categorie>
<Categorie>
	<Id>57c69ab2-715f-4e79-8e07-109328184416</Id>
	<Parent>0</Parent>
	<ResourceTemplate>959459a1-61ba-4667-a161-b6e6dd51dc4e</ResourceTemplate>
	<ResourceListTemplate>dd664051-4ddf-43c8-a44a-ee5e8f75b759</ResourceListTemplate>
	<iOrder>1</iOrder>
	<dUpdateDate>2011/5/22 6:56:11</dUpdateDate>
	<dUpdateDate>2011/5/22 6:56:11</dUpdateDate>
	<vcClassName>首页</vcClassName>
	<vcName>首页</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/index.html</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-2011-5</SkinId>
</Categorie>
<Categorie>
	<Id>6828aac7-25de-485d-9b73-b2bbb1995d62</Id>
	<Parent>0</Parent>
	<ResourceTemplate>959459a1-61ba-4667-a161-b6e6dd51dc4e</ResourceTemplate>
	<ResourceListTemplate>dd664051-4ddf-43c8-a44a-ee5e8f75b759</ResourceListTemplate>
	<iOrder>2</iOrder>
	<dUpdateDate>2011/5/21 23:09:41</dUpdateDate>
	<dUpdateDate>2011/5/21 23:09:41</dUpdateDate>
	<vcClassName>购买和服务</vcClassName>
	<vcName>购买和服务</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-2011-5</SkinId>
</Categorie>
<Categorie>
	<Id>fbbddffb-4954-4a09-ad66-c28026d38465</Id>
	<Parent>0</Parent>
	<ResourceTemplate>959459a1-61ba-4667-a161-b6e6dd51dc4e</ResourceTemplate>
	<ResourceListTemplate>dd664051-4ddf-43c8-a44a-ee5e8f75b759</ResourceListTemplate>
	<iOrder>3</iOrder>
	<dUpdateDate>2011/5/21 23:06:45</dUpdateDate>
	<dUpdateDate>2011/5/21 23:06:45</dUpdateDate>
	<vcClassName>产品简介</vcClassName>
	<vcName>产品简介</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl>/html/tcgcms/cp/l</vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-2011-5</SkinId>
</Categorie>
<Categorie>
	<Id>a7a6e703-ecd3-4a6e-88e2-79f0d754a809</Id>
	<Parent>0</Parent>
	<ResourceTemplate>959459a1-61ba-4667-a161-b6e6dd51dc4e</ResourceTemplate>
	<ResourceListTemplate>dd664051-4ddf-43c8-a44a-ee5e8f75b759</ResourceListTemplate>
	<iOrder>4</iOrder>
	<dUpdateDate>2011/5/21 23:10:24</dUpdateDate>
	<dUpdateDate>2011/5/21 23:10:24</dUpdateDate>
	<vcClassName>模版</vcClassName>
	<vcName>模版</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-2011-5</SkinId>
</Categorie>
<Categorie>
	<Id>adbb9c15-a2ba-41e5-aebd-2ce421dbd3de</Id>
	<Parent>0</Parent>
	<ResourceTemplate>959459a1-61ba-4667-a161-b6e6dd51dc4e</ResourceTemplate>
	<ResourceListTemplate>dd664051-4ddf-43c8-a44a-ee5e8f75b759</ResourceListTemplate>
	<iOrder>5</iOrder>
	<dUpdateDate>2011/5/21 23:11:16</dUpdateDate>
	<dUpdateDate>2011/5/21 23:11:16</dUpdateDate>
	<vcClassName>成功案例</vcClassName>
	<vcName>成功案例</vcName>
	<vcDirectory>/html/</vcDirectory>
	<vcUrl></vcUrl>
	<cVisible></cVisible>
	<DataBaseService></DataBaseService>
	<SkinId>tcgcms-2011-5</SkinId>
</Categorie>
</Categories>