<?xml version="1.0"?>
<Skin>
	<Id>tcgcms-2011-5</Id>
	<Name>TCG CMS 官方</Name>
	<Pic>../../skin/tcgcms/default.jpg</Pic>
  <WebDescription>TCG CMS 轻量级别企业建站系统，全静态的建站系统</WebDescription>
  <IndexPage>/index.html</IndexPage>
  <WebKeyWords>TCG CMS,开源CMS,ASP.NET开源CMS系统,企业建站系统</WebKeyWords>
</Skin>