<?xml version="1.0"?>
<Templates>
<Template>
	<Id>83f2007e-f2af-46ea-8f6a-e4fc0e041477</Id>
	<Content><![CDATA[<tcg:Header type="Template" id="d526b7c9-28c9-4833-9cc8-504d2e2614be"></tcg:Header>
<!--主体样式-->
		<div class="mainpage">
			<tcg:Lefter type="Template" id="936c7aca-a749-4b00-bd3d-3af3bc48848c"></tcg:Lefter>
		</div>
		<div class="right" style="height:800px;">
<div id="hoverpage">
<ul id="outer">
<tcg:CP type="Resourcelist" categories="fbbddffb-4954-4a09-ad66-c28026d38465" num="7" check="Y" del="N" create="Y" orders="dAddDate DESC" >
<li class="page p1"><a href="$CP_vcFilePath$" class="menuitem"><i>$CP_vcTitle$</i><!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
<div>
<em></em>
<p class="big"><img src="images/products/title_net.jpg" /></p>
<img src="http://www.dvbbs.net/images/net.jpg" alt="" />
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;动网.NET1.1采用国际化和标准化的产品架构,其非凡的负载能力,强大的功能,良好的管理界面一直以来都受到广大用户的称赞,论坛支持WAP访问、基于微软SilverLight技术的相册功能、论坛采集功能等。</p>
<p><a href="plug-net.asp">详细介绍</a> | <a href="services.asp">购买</a> | <a href="http://n.dvbbs.net" target="_blank">官方演示</a> <a href="http://n.dvbbs.net/topic.aspx?topicid=1451504">免费下载</a></p>
</div>
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li></tcg:CP>

</li>
</ul>
</div>
		<div class="leftcontent" style="margin-top:15px; height:300px;">
		<ul>
		<li class="title"><a href="plug.asp" style="float:right; font-size:12px; font-weight:100;">更多</a>模版下载</li>
				<tcg:MB type="Resourcelist" categories="a7a6e703-ecd3-4a6e-88e2-79f0d754a809" num="6" check="Y" del="N" create="Y" orders="dAddDate DESC" >
		<li style="margin-top:5px; width:50%; float:left; line-height:18px;">
		<div><img src="http://www.dvbbs.net/images/gu.gif" alt="" style="border:0px; margin-bottom:20px;" /></div>
		<a href="http://bbs.dvbbs.net/dispbbs.asp?boardid=141&id=1459196&star=1&page=1" target="_blank"><b>社区股票插件</b></a><BR>
		虚拟股票插件，真实模仿股市流程，让虚拟社区更丰富多彩虚拟股票插件...<br /><a href="http://bbs.dvbbs.net/dispbbs.asp?boardid=141&id=1459196&star=1&page=1" class="link" target="_blank">详细</a> | <a href="down/plug/01.rar" class="link">下载</a> | <a href="http://bbs.dvbbs.net/index.asp?boardid=13 " class="link" target="_blank">讨论</a>
		</li></tcg:MB>
		
		</ul>
		</div>
		<div class="leftcontent" style="margin-top:15px; height:160px;">
		<ul>
		<li class="title"><a href="skins.asp" style="float:right; font-size:12px; font-weight:100;">更多</a>案例展示</li>
		<tcg:AL type="Resourcelist" categories="adbb9c15-a2ba-41e5-aebd-2ce421dbd3de" num="6" check="Y" del="N" create="Y" orders="dAddDate DESC" >
		<li class="skins"><img src="images/skins/01.gif" alt="" /><br /><A HREF="$AL_vcFilePath$">$AL_vcTitle$</a></li></tcg:AL>
		</ul>
		</div>
		<div class="leftcontent" style="margin-top:15px;">
			
			</div>
	</div>
	<div style="clear:both"></div>
<tcg:Footer type="Template" id="6ef1b7dc-3572-4817-8fd4-6b48a7f46ba7"></tcg:Footer>]]></Content>
	<SkinId>tcgcms-2011-5</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/22 7:53:52</dUpdateDate>
	<dAddDate>2011/5/21 22:09:07</dAddDate>
	<vcTempName>index</vcTempName>
	<vcUrl>/index.html</vcUrl>
</Template>
<Template>
	<Id>d526b7c9-28c9-4833-9cc8-504d2e2614be</Id>
	<Content><![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="keywords" content="_$WebKeyWords$_" />
<title>_$WebTitle$_</title>
<link rel="stylesheet" type="text/css" id="css" href="_$SkinPath$_/css/style.css" />
<link rel="stylesheet" type="text/css" id="css" href="_$SkinPath$_/css/css.css" />
</head>
<body>
<!--头部样式-->
<div class="headertop">
	
	<a href="http://taoyanxi.taobao.com" target="_blank"><img src="_$SkinPath$_/images/arrow1.gif" alt="陶言蹊创意家居" /></a>
	<a href="http://www.taoyanxi.com" target="_blank"><img src="_$SkinPath$_/images/arrow3.gif" alt="陶言蹊古钱币收藏" /></a>
	<a href="http://www.e-igou.com" target="_blank"><img src="_$SkinPath$_/images/arrow4.gif" alt="e-爱购店长联盟" /></a>
	<a href="_$MainPage$_"><img src="_$SkinPath$_/images/arrow2.gif" alt="企业建站新动力" /></a>
</div>
<!--头部样式结束-->
<!--主体样式-->
<div class="mainbox">
<div class="header">
<div class="logo"><a href="http://www.tcgcms.net" title="TCG CMS 官方"><img src="_$SkinPath$_/images/logo.gif" alt="" /></a></div>
</div>
<div class="menu">
	<div id="tabs6">
	  <ul>
		<tcg:itemClassTitle type="CategoriesList" skin="_$SkinId$_"  parent="0"  orders="iOrder"><li id="tabmenu$itemClassTitle_Index$"><a href="$itemClassTitle_vcUrl$" title="$itemClassTitle_vcName$"><span>$itemClassTitle_vcClassName$</span></a></li></tcg:itemclasstitle>
		
	  </ul>
	</div>
<div style="clear:both"></div>
	<h1></h1>
<div style="clear:both"></div>
</div>]]></Content>
	<SkinId>tcgcms-2011-5</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/22 7:59:49</dUpdateDate>
	<dAddDate>2011/5/21 22:57:14</dAddDate>
	<vcTempName>header</vcTempName>
	<vcUrl>/header</vcUrl>
</Template>
<Template>
	<Id>dd664051-4ddf-43c8-a44a-ee5e8f75b759</Id>
	<Content><![CDATA[-]]></Content>
	<SkinId>tcgcms-2011-5</SkinId>
	<TemplateType>2</TemplateType>
	<iParentId>2</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/21 23:05:36</dUpdateDate>
	<dAddDate>2011/5/21 23:05:36</dAddDate>
	<vcTempName>list(产品)</vcTempName>
	<vcUrl></vcUrl>
</Template>
<Template>
	<Id>959459a1-61ba-4667-a161-b6e6dd51dc4e</Id>
	<Content><![CDATA[-]]></Content>
	<SkinId>tcgcms-2011-5</SkinId>
	<TemplateType>1</TemplateType>
	<iParentId>1</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/21 23:06:07</dUpdateDate>
	<dAddDate>2011/5/21 23:06:07</dAddDate>
	<vcTempName>detail(产品)</vcTempName>
	<vcUrl>/detail(产品)</vcUrl>
</Template>
<Template>
	<Id>6ef1b7dc-3572-4817-8fd4-6b48a7f46ba7</Id>
	<Content><![CDATA[</div>
<div style="clear:both"></div>
<!--主体样式结束-->
<div class="bottom">
<div class="bot">
<span></span>
<div class="botext"><a href="/html/20110522/16.html">联系我们</a> | <a href='#' onClick="javascript:window.external.AddFavorite('http://www.tcgcms.cn','TCG CMS 官方');">收藏本站</a> | <A style="BEHAVIOR: url(#default#homepage)" 
      onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.tcgcms.cn/');return(false);" 
      href="http://www.tcgcms.cn/">设为首页</a></div>
<div class="tcgcms"><img src="_$SkinPath$_/images/tcgcms.gif"></div>
Copyright &copy; 2009 - 2011 <a href="http://www.tcgcms.cn" title="TCG Content Management System">TCG CMS</a> <br />
ICP备案证书号 : <a href="http://www.miibeian.gov.cn/" target="_blank">鄂ICP备09016016号</a> 官方交流QQ群：<font color="#FF0000">105798661</font><br />
我们致力于为中小型企业建站提供新的动力,为.NET学习者提供一个参考。<br />
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='"   _bdhmProtocol   "hm.baidu.com/h.js%3Ff8e3acf12a196f47c88c367a92569328' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="bot2"></div>
</div>
</body>
</html>]]></Content>
	<SkinId>tcgcms-2011-5</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/22 8:30:44</dUpdateDate>
	<dAddDate>2011/5/22 6:37:29</dAddDate>
	<vcTempName>footer</vcTempName>
	<vcUrl>/footer</vcUrl>
</Template>
<Template>
	<Id>936c7aca-a749-4b00-bd3d-3af3bc48848c</Id>
	<Content><![CDATA[<div class="left"> 
		<div class="leftcontent" style="margin-top:15px;">
		<ul>
		<li class="title"><a href="news.asp" style="float:right; font-size:12px; font-weight:100;">更多</a>公司动态</li>
		<li style="margin-top:5px;">
		<tcg:item13 type="Resourcelist" categories="4eda13ff-85b2-481e-93fc-ab9c87f2dd00" num="7" check="Y" del="N" create="Y" orders="dAddDate DESC" >
		 <a href="$item13_vcFilePath$" target="_blank" title="$item13_vcTitle$">$TCG.CutStrLeft($item13_vcTitle$,25)</a><br /></tcg:item13>
		 
		</li>
		</ul>
		</div>
		<div class="leftcontent" style="margin-top:15px;">
		<ul>
		<li class="title"><a href="report.asp" style="float:right; font-size:12px; font-weight:100;">更多</a>媒体报道</li>
		<li style="margin-top:5px;">
		
		<tcg:item14 type="Resourcelist" categories="04444102-7d8e-44f8-9b38-e14282f37f9a" num="14" check="Y" del="N" create="Y" orders="dAddDate DESC" >
		 <a href="$item14_vcFilePath$" target="_blank" title="$item14_vcTitle$">$TCG.CutStrLeft($item14_vcTitle$,25)</a><br /></tcg:item14>

		</li>
		</ul>
		</div>
		<div class="leftcontent" style="margin-top:15px;">
		<ul>
		<li class="title">合作伙伴</li>
		<style>.mylink1 p{padding:0px;margin:0px;float:left;width:33%;line-height:25px;}</style>
		<li style="margin-top:5px;" class="mylink1"> 
		<tcg:item15 type="Resourcelist" categories="c540bfee-289b-4a4c-822a-62566a54165c" num="14" check="Y" del="N" create="Y" orders="dAddDate DESC" >
		 <p><a href="$item15_vcFilePath$" target="_blank">$item15_vcTitle$</a></p></tcg:item15>
			
		</li>
		</ul>
		</div>
		</div>]]></Content>
	<SkinId>tcgcms-2011-5</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/22 7:57:47</dUpdateDate>
	<dAddDate>2011/5/22 6:52:19</dAddDate>
	<vcTempName>left</vcTempName>
	<vcUrl>/left</vcUrl>
</Template>
</Templates>