body {
	font-size: 12px;
	color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../images/bg.jpg);
	background-repeat:repeat-x;

	line-height: 170% ;  

}

.p{
font-size: 10pt;
	color: #000000;
	line-height:190% ; 
}

/*导航栏文字*/
a.top:link {
	FONT-SIZE: 12px;
	color: #0c173e;
	text-decoration: none;
}
a.top:visited {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #0c173e;
}
a.top:hover {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #ffffff;


}
a.top:active {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #0c173e;
}
a.top  {
	font-size: 12px;color: #0c173e;
}
.top  {
	font-size: 12px;color: #000000;
}
/*左边表格*/
.left{
	border:#9ba1b4 solid 1px;
	background:#FFFFFF;

}
.leftcell{
	padding:20px 20px 20px 20px ;
}
/*右边表格--公告栏*/
.right01{
	border:#9ba1b4 solid 1px;
	background:#ececec;
}
.right02{

	background:#ffffff;
}
/*右边表格--栏目文字*/
.r_font1{
	font-size: 14px ;
	font-weight:bold;
	color: #4f516a;
}
/*左边表格--栏目文字*/
.l_font{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;

}
a.l_font:link{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;
	text-decoration: none;
}
a.l_font:active{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;
	text-decoration: none;
}
a.l_font:hover{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;
	text-decoration: none;
}
a.l_font:visited{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;
	text-decoration: none;
}

/*右边表格--下边*/
.right03{
	border:#9ba1b4 solid 1px;
	background:#ffffff;
}
.right04{

	background:#ececec;
}
/*注册框**/  
.selectinput1, .selectinput1 input {
    height:16px;
    width:90px;
    border:1px solid #b0b1c7;
    background-color:#ffffff;
    color:#222222;FONT-SIZE: 12px;PADDING-TOP: 1px;
 
  } 
.selectinput2, .selectinput2 input, .selectinput2 option , .selectinput2 select{
    height:18px;
    width:140px;
    border:1px solid #b0b1c7;
    background-color:#ffffff;
    color:#666666;FONT-SIZE: 12px;PADDING-TOP: 1px;  
	scrollbar-track-color:#000000; 
	scrollbar-highlight-color:#0C7D0F; 
	scrollbar-shadow-color:#0C7D0F; 
	scrollbar-arrow-color:#0C7D0F; 
	scrollbar-base-color:#000000; 
	scrollbar-dark-shadow-color:#6699ff; 

	 
 
  } 
.selectinput3, .selectinput3 input {
    height:18px;
    width:60px;
    border:1px solid #b0b1c7;
    background-color:#ffcc00;
    color:#222222;FONT-SIZE: 12px;PADDING-TOP: 1px;
  } 
.selectinput4, .selectinput4 input ,.selectinput4 option   {
    height:18px;
    width:60px;
    border:1px solid #b0b1c7;
    color:#222222;
    FONT-SIZE: 12px;PADDING-TOP: 1px;
 
  }
.selectinput5, .selectinput5 input {
    height:18px;
    width:63px;
    border:1px solid #b0b1c7;
    background-color:#f0f0f0;
    color:#222222;FONT-SIZE: 12px; PADDING-TOP: 1px;
 
  }  
.selectinput6, .selectinput6 input {
    height:18px;
    width:90px;
    border:1px solid #b0b1c7;
    color:#222222;FONT-SIZE: 12px;PADDING-TOP: 1px;
 
  } 
.selectinput7, .selectinput7 input {
    height:18px;
    width:60px;
    border:1px solid #c7e3ef;
    color:#222222;FONT-SIZE: 12px;PADDING-TOP: 1px;
	background-color:#ebf4f9;
 
  } 
/*左边表格*/
.left{
	border:#9ba1b4 solid 1px;
	background:#FFFFFF;

}
.leftcell{
	padding:20px 20px 20px 20px ;
}
/*右边表格--公告栏*/
.right01{
	border:#9ba1b4 solid 1px;
	background:#ececec;
}
.right02{

	background:#ffffff;
}
/*右边表格--栏目文字*/
.r_font1{
	font-size: 14px ;
	font-weight:bold;
	color: #4f516a;
}
/*左边表格--栏目文字*/
.l_font{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;

}
a.l_font:link{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;
	text-decoration: none;
}
a.l_font:active{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;
	text-decoration: none;
}
a.l_font:hover{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;
	text-decoration: none;
}
a.l_font:visited{
    font-size: 14px ;
	font-weight:bold;
	color: #0c173e;
	text-decoration: none;
}

/*右边表格--下边*/
.right03{
	border:#9ba1b4 solid 1px;
	background:#ffffff;
}
.right04{

	background:#ececec;
}
/*注册框**/  
.selectinput1, .selectinput1 input {
    height:16px;
    width:90px;
    border:1px solid #b0b1c7;
    background-color:#ffffff;
    color:#222222;FONT-SIZE: 12px;PADDING-TOP: 1px;
 
  } 
.selectinput2, .selectinput2 input, .selectinput2 option , .selectinput2 select{
    height:18px;
    width:140px;
    border:1px solid #b0b1c7;
    background-color:#ffffff;
    color:#666666;FONT-SIZE: 12px;PADDING-TOP: 1px;  
	scrollbar-track-color:#000000; 
	scrollbar-highlight-color:#0C7D0F; 
	scrollbar-shadow-color:#0C7D0F; 
	scrollbar-arrow-color:#0C7D0F; 
	scrollbar-base-color:#000000; 
	scrollbar-dark-shadow-color:#6699ff; 

	 
 
  } 
.selectinput3, .selectinput3 input {
    height:18px;
    width:60px;
    border:1px solid #b0b1c7;
    background-color:#ffcc00;
    color:#222222;FONT-SIZE: 12px;PADDING-TOP: 1px;
  } 
.selectinput4, .selectinput4 input ,.selectinput4 option   {
    height:18px;
    width:60px;
    border:1px solid #b0b1c7;
    color:#222222;
    FONT-SIZE: 12px;PADDING-TOP: 1px;
 
  }
.selectinput5, .selectinput5 input {
    height:18px;
    width:63px;
    border:1px solid #b0b1c7;
    background-color:#f0f0f0;
    color:#222222;FONT-SIZE: 12px; PADDING-TOP: 1px;
 
  }  
.selectinput6, .selectinput6 input {
    height:18px;
    width:90px;
    border:1px solid #b0b1c7;
    color:#222222;FONT-SIZE: 12px;PADDING-TOP: 1px;
 
  } 
.selectinput7, .selectinput7 input {
    height:18px;
    width:60px;
    border:1px solid #c7e3ef;
    color:#222222;FONT-SIZE: 12px;PADDING-TOP: 1px;
	background-color:#ebf4f9;
 
  } 
/*主体部分右边连接文字**/  
a.main:link {
	FONT-SIZE: 12px;
	color: #000000;
	text-decoration: none;
}
a.main:visited {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #000000;
}
a.main:hover {
	FONT-SIZE: 12px;
	text-decoration: underline;
	color: #666666;
}
a.main:active {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #000000;
}
a.main  {
	font-size: 12px;
}
.main  {
	font-size: 12px;
	line-height: 170% ; 
}
/*视频文件链接文字**/  
a.video:link {
	FONT-SIZE: 12px;
		color: #FF0000;
	text-decoration: none;
}
a.video:visited {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #FF0000;
}
a.video:hover {
	FONT-SIZE: 12px;
	text-decoration: underline;
	color: #666666;
}
a.video:active {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #FF0000;
}
a.video  {
	font-size: 12px;
}
.video  {
	font-size: 12px;
	line-height: 170% ; 
}

/*页码连接文字框(当前页面)*/

.abb  {
	padding: 4px 5px 0px 5px;
	CLEAR: both;
	border:#9ba1b4 solid 1px;
	background:#ffffff;
	FONT-SIZE: 12px;
	color: #000000;vertical-align: sub;
}
/*页码连接文字框*/
a.ab:link {
	color: #000000;vertical-align: sub; 
}
a.ab:visited {
	color: #000000;vertical-align: sub; 
}
a.ab:hover {
	background:#1491c7;
	text-decoration: none;
	color: #ffffff;vertical-align: sub; 
}

a.ab  {
    padding: 4px 5px 0px 5px;
	border:#9ba1b4 solid 1px;
	background:#ebebeb;
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #000000; vertical-align: sub; 
}
/*日期*/
.date{
	font-size: 12px;
	color: #777777;
}

td {
	font-size: 12px;
	
	
}

th {
	font-size: 12px;
	
	
}
/*日期表格*/
.date{
	border:#9ba1b4 solid 1px;
	background:#eeeeee;
	
}
a.date_f:link {
	FONT-SIZE: 12px;
	color: #666666;
	text-decoration: none;
}
a.date_f:visited {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #666666;
}
a.date_f:hover {
	FONT-SIZE: 12px;
	text-decoration: underline;
	color: #000000;
}
a.date_f:active {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #666666;
}
a.date_f  {
	font-size: 12px;
}
.date_f {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #666666;
}
/*文章题目*/
.wztitle{
	FONT-SIZE: 22px;
	color: #0c173e;
	font-weight: bold;
}

/*文章内容*/
.wzmain{
	font-size: 14.9px;
	color: #000000;
	line-height: 170% ; 
}
/*主体部分右边连接文字**/  
a.a:link {
	FONT-SIZE: 12px;
	color: #000000;
	text-decoration: none;
}
a.a:visited {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #000000;
}
a.a:hover {
	FONT-SIZE: 12px;
	text-decoration: underline;
	color: #666666;
}
a.a:active {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #222222;
}
a.a  {
	font-size: 12px;
}
.a  {
	font-size: 12px;
}/*页面跳转页码*/
a.b:link {
	FONT-SIZE: 12px;
	color: #000000;
	text-decoration: none;
}
a.b:visited {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #000000;
}
a.b:hover {
	FONT-SIZE: 12px;
	text-decoration: underline;
	color: #626262;
}
a.b:active {
	FONT-SIZE: 12px;
	text-decoration: none;
	color: #000000;
}
a.b  {
	font-size: 12px;color: #000000;
}
.b  {
	font-size: 12px;color: #000000;
}	
/*红色五角星*/
.red{
	color:#FF0000;
}
a.img:link{

	border:#000000 thin 1px;}
a.img:visited{
	border:#000000 thin 1px;
}
a.img:hover{
	border:#000000 thin 1px;
}
a.img:active{
	border:#000000 thin 1px;}
/*滚动图片*/	
#marquees {
	OVERFLOW: hidden; WIDTH: 524px
}
#marquees1 {
	OVERFLOW: hidden; WIDTH: 524px
}
