body{
	text-align: center;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
	color: #353535;
	height: auto;
	width: auto;
}
.MainArea {
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	vertical-align: top;
	height: auto;
	padding: 0px;
}

.LogoArea {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	height: 63px;
}
.LogoArea .LogoPic {
	float: left;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
}
.LogoArea .VersionTel {
	text-align: right;
	float: right;
	line-height: 20px;
	vertical-align: bottom;
	position: relative;
	bottom: -20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-right: 10px;
}
.MainArea .LogoArea .VersionTel a {
	color: #353535;
	text-decoration: none;
}
.MainArea .LogoArea .VersionTel a:hover {
	color: #DB2518;
	text-decoration: underline;
}
.AdBg {
	background-image: url(../images/adbg_top.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 89px;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
}


/********************************luanhuan start****************************/
.banner {
	POSITION: relative;
	HEIGHT: 458px;
	OVERFLOW: hidden;
	width: 1000px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	margin-top: 0px;
	text-align:left;
}
.banner .pic {
	POSITION: relative; DISPLAY: block; HEIGHT: auto
}
.banner .pic LI {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.banner SPAN {
	POSITION: absolute;
	WIDTH: 1000px;
	BOTTOM: 0px;
	HEIGHT: 78px;
	LEFT: 0px;
	background-image: url(../images/banner_nav.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.banner .txt {
	Z-INDEX: 11;
	POSITION: absolute;
	PADDING-LEFT: 1px;
	WIDTH: 1000px;
	BOTTOM: 0px;
	HEIGHT: 78px;
	LEFT: 0px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
}
.banner .txt LI {
	FLOAT: left;
	HEIGHT: 78px;
	text-align: left;
	vertical-align: top;
	list-style-type: none;
	width: 33%;
}
.banner .txt LI A {
	TEXT-ALIGN: left;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 16px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	DISPLAY: block;
	HEIGHT: 78px;
	COLOR: #c8c8c8;
	FONT-SIZE: 12px;
	PADDING-TOP: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-decoration: none;
	vertical-align: top;
}
.banner .txt LI IMG {
	DISPLAY: inline;
	FLOAT: left;
	MARGIN-RIGHT: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-top: 15px;
	margin-left: 15px;
}
.banner .txt LI B {
COLOR: #fff
}
.banner .txt LI SPAN {
	FLOAT: left
}
.banner .txt LI.current A {
	COLOR: #FFFFFF;
	background-repeat: repeat-x;
	background-position: center top;
	height: 78px;
	text-decoration: underline;
	background-color: transparent;
}
/*************************************************************************/
.MainArea .BannerArea {
	height: 199px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	vertical-align: top;
	padding: 0px;
	clear: both;
	width: 1000px;
}
.MainArea .BannerArea img {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	vertical-align: top;
}
* {
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}


.menu{
	font-size:12px;
	position:relative;
	z-index:100;
	margin-right: auto;
	margin-left: auto;
	width: 998px;
	text-align: center;
	background-color: #0b82ea;
	height: 33px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #034689;
	border-right-color: #034689;
	border-bottom-color: #034689;
	border-left-color: #034689;
	background-image: url(../images/nav_bg.jpg);
	background-repeat: repeat-x;
	background-position: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: normal;
	color: #FFFFFF;
	float: left;
} 
.menu ul{
	list-style:none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
} 
.menu li {
	position:relative;
	float: left;
}
.MainArea .menu .HomeBox {
	width: 83px;
}

.menu ul ul {
	visibility:hidden;
	position:absolute;
	left:0px;
	top:23px;
	vertical-align: middle;
	bottom: 0px;
	margin-top: 8px;
} 
.menu table {
	position:absolute;
	top:0;
	left:0;
	bottom: 0px;
} 
.menu ul li:hover ul, 
.menu ul a:hover ul{
	visibility:visible;
} 
.menu a{
	font-family:"宋体";
	display:block;
	border:0px solid #aaa;
	color:#fff;
	text-decoration:none;
	background-image: url(../images/nav_bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	width: auto;
	vertical-align: middle;
	padding-right: 18px;
	padding-left: 18px;
	margin: 0px;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
} 
.menu a:hover{
	color:#FFFFFF;
	border:0px solid #000;
	background-image: url(../images/nav_bg02.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	width: auto;
	padding-right: 18px;
	padding-left: 18px;
	margin: 0px;
	padding-top: 9px;
	padding-bottom: 9px;
	font-weight: bold;
} 
.menu ul ul{
	margin-left: 0px;
	padding: 0px;
	margin-top: 10px;
} 
.menu ul ul li {
	clear:both;
	text-align:center;
	font-size:12px;
	vertical-align: middle;
	left: 0px;
	padding: 0px;
	width: 90px;
} 
.MainArea .menu .TouzhiBox {
	width: 101px;
}

.menu ul ul li a{
	display:block;
	margin:0;
	background-image: url(../images/nav_bg2.jpg);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	background-position: bottom;
	font-weight: normal;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 1;
	border-left-width: 0;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #858585;
	border-right-color: #858585;
	border-bottom-color: #858585;
	border-left-color: #858585;
	color: #B6DBFF;
	background-color: #034689;
	padding-right: 0px;
	padding-left: 0px;
} 
.menu ul ul li a:hover{
	background-image: url(../images/nav_bg.jpg);
	background-repeat: repeat-x;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 1;
	border-left-width: 0;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #858585;
	border-right-color: #858585;
	border-bottom-color: #858585;
	border-left-color: #858585;
	padding-right: 0px;
	padding-left: 0px;
} 
/******************************Nav Stop**************************/
/*.dis {
	DISPLAY: block;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.undis {
	DISPLAY: none
}
.lkff {
	COLOR: #fff
}
.lkff A {
	COLOR: #fff
}
.lkff A:hover {
	COLOR: #ffffcc
}
#focusbox {
	POSITION: relative;
	WIDTH: 1000px;
	HEIGHT: auto;
	OVERFLOW: hidden;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
#bimg {
	FILTER: progid:DXImageTransform.Microsoft.Fade(duration=0.5,overlap=1.0 ); WIDTH: 1000px; HEIGHT: 458px
}
#simg {
	POSITION: absolute; BOTTOM: 1px; FONT-FAMILY: arial; HEIGHT: 20px; RIGHT: 4px; FONT-WEIGHT: bold
}
#simg TD {
	TEXT-ALIGN: center; WIDTH: 20px; BACKGROUND: #000000; CURSOR: pointer
}
#simg .f1 {
	BACKGROUND: #d81a0d
}
*/

.MainArea .MiddleBox {
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/middlebg_center.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: top;
	height: auto;
	width: 1000px;
}
.MainArea .MiddleBox .ImgMiddle {
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	background-image: url(../images/middlebg_top.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	vertical-align: top;
	width: 1000px;
}

.MainArea .MiddleBox .ImgMiddle .LeftBox {
	float: left;
	margin-left: 15px; _margin-left:7px;
	margin-top: 35px;
	width: 221px;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .Title {
	background-image: url(../images/lefttitle_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 36px;
	width: 219px;
	color: #FFFFFF;
	text-align: center;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox {
	width: 217px;
	margin-right: auto;
	margin-left: auto;
}

.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgTop {
	text-align: center;
	width: 217px;
	margin-right: auto;
	margin-left: auto;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgBottom img {
	text-align: center;
	width: 217px;
	margin-right: auto;
	margin-left: auto;
}


.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter {
	background-image: url(../images/leftmenubg_middle.jpg);
	background-repeat: repeat-y;
	background-position: center top;
	height: auto;
	width: 217px;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter .#List {
	width: auto;
	margin-right: auto;
	margin-left: auto;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter #List ul {
	float: left;
	width: 211px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	height: auto;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter #List #FirstMenu {
	width: 201px;
	display: block;
	height: 29px;
	border: 1px dashed #FFFFFF;
	color: #FFFFFF;
	background-image: url(../images/leftmenu_bg01.jpg);
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-bottom: 2px;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter #List #FirstMenu span {
	color: #FFFFFF;
	width: auto;
	margin-left: 30px;
	vertical-align: top;
	height: 29px;
	top: 1px;
	position: relative;
}


.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter #List li {
	display: block;
	width: auto;
	margin-left: 6px;
	text-align: left;
	line-height: 29px;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter #List #OtherMenu {
	width: 201px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2px;
	height: 29px;
	display: block;
	border: 0px solid #ECECEC;
	margin-top: 2px;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter #List #OtherMenu span {
	width: auto;
	margin-left: 30px;
	vertical-align: middle;
	height: 29px;
	position: relative;
	top: 1px;
}




.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter #List a {
	color: #02376D;
	text-decoration: none;
	background-image: url(../images/leftmenu_bg02.jpg);
	background-repeat: no-repeat;
	border: 0px solid #ececec;
	width: 201px;
	height: 29px;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter #List a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/leftmenu_bg01.jpg);
	background-repeat: no-repeat;
	border: 0px dashed #FFFFFF;
	width: 201px;
	height: 29px;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter .SearchBox {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	width: 201px;
	background-color: transparent;
	margin-top: 12px;
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: normal;
	color: #B8BEBA;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter .SearchBox .Title {
	font-weight: bold;
	background-image: none;
	color: #003466;
	text-align: left;
	width: 201px;
	vertical-align: bottom;
	height: 18px;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter .SearchBox .TextArea {
	background-image: url(../images/search_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 19px;
	width: 151px;
	float: left;
	margin-left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-left: 10px;
	padding-top: 8px;
	color: #999999;
	font-size: 12px;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .MenuBox .MenubgCenter .SearchBox .Button_ok {
	float: left;
	margin-left: 0px;
	width: 34px;
	background-image: url(../images/ok_button.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}



.MainArea .MiddleBox .ImgMiddle .LeftBox .LinkButton {
	text-align: center;
	vertical-align: top;
	width: 221px;
	margin-right: auto;
	margin-left: auto;
}
.MainArea .MiddleBox .ImgMiddle .LeftBox .LinkButton img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}


.style14 {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	position: relative;
	top: 10px;
	right: 5px;
}
.style10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	position: relative;
	top: 8px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox {
	text-align: left;
	vertical-align: top;
	float: right;
	margin-right: 15px;
	width: 724px;
	margin-top: 35px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .LoctionBox {
	background-image: url(../images/righttitle_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 18px;
	width: 724px;
	margin-bottom: 10px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .LoctionBox a
{
    color:Black;
    text-decoration:none;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .Arrow_pic {
	color: #ee7816;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-right: 5px;
}

.MainArea .MiddleBox .ImgMiddle .RightBox .LoctionBox .Left {
	float: left;
	text-align: left;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .LoctionBox .Left .style12b {
	font-size: 12px;
	font-weight: bold;
	color: #00458f;
	left: 25px;
	position: relative;
	width: 100px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox {
	width: auto;
	text-align: left;
	vertical-align: top;
	color: #55575a;
	padding: 5px;
	line-height: 180%;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .OneLife {
	text-align: center;
	vertical-align: top;
	margin-right: auto;
	margin-left: auto;
	color: #353535;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	width: 33%;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .OneLife img {
	padding: 10px;
	border: 1px solid #CCCCCC;
	width: 172px;
	float: none;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .OneLife a {
	color: #353535;
	text-decoration: none;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .OneLife a:hover {
	color: #DB2321;
	text-decoration: underline;
}

.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox {
	background-color: #f5fafd;
	border: 1px solid #d5e4ec;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox #form1 .feedback_t1 {
	line-height: 24px;
}

.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox .Title {
	background-image: url(../images/check_bg.jpg);
	background-repeat: repeat-x;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d5e4ec;
	font-weight: bold;
	color: #1769cc;
	text-align: left;
	padding-left: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox .FormArea {
	padding: 10px;
	line-height: 30px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox .FormArea input {
	height: 18px;
	width: 105px;
	border: 1px solid #ccd6db;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox #form1 .FormArea .textarea_t3 {
	width: 500px;
	margin-top: 8px;
	border: 1px solid #CCD6DB;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox #form1 .FormArea .textarea_t1 {
	width: 120px;
}

.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox .FormArea select {
	height: 18px;
	width: 105px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox .FormArea .Button_ok {
	background-color: #0099ff;
	background-image: url(../images/checkbg_01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 26px;
	width: 88px;
	border: 1px solid #003366;
	font-weight: bold;
	color: #FFFFFF;
	margin-right: 6px;
	font-size: 12px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .CheckBox .FormArea .Button_reset {
	background-color: #f0880e;
	border: 1px solid #f0880e;
	color: #FFFFFF;
	background-image: url(../images/checkbg_02.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 26px;
	width: 88px;
	font-weight: bold;
	font-size: 12px;
}


.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox h4 {
	color: #1769cc;
	font-size: 13px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.style12_orange {
	color: #f79108;
}
.Normal_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .YiyaoList {
	margin-top: 4px;
	margin-right: auto;
	margin-bottom: 4px;
	margin-left: auto;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	color: #353535;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .YiyaoList .Left {
	float: left;
	margin-left: 0px;
	text-align: left;
	color: #353535;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .YiyaoList .Left .Time {
}

.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .YiyaoList .Left a {
	color: #353535;
	text-decoration: none;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .YiyaoList .Left a:hover {
	color: #FAA308;
	text-decoration: underline;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .YiyaoList .Left .Time {
	float: left;
	margin-right: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F59409;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .YiyaoList .Right {
	color: #f37b05;
	text-align: right;
	float: right;
	margin-right: 0px;
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
}


.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .NewsList {
	color: #0086ff;
	margin-top: 4px;
	margin-right: auto;
	margin-bottom: 4px;
	margin-left: auto;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .NewsList .Time {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-right: 5px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .NewsList a {
	color: #353535;
	text-decoration: none;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .NewsList a:hover {
	color: #EE8A0E;
	text-decoration: underline;
}

.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox img {
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .OneProduct {
	width: 714px;
	margin-top: 8px;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .OneProduct .leftImg {
	float: left;
	margin-left: 0px;
	text-align: center;
	border: 0px solid #e6e6e6;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .OneProduct .leftImg img {
	padding: 10px;
	border: 1px solid #e6e6e6;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .OneProduct .RightText {
	float: left;
	line-height: 190%;
	width: 426px;
	margin-left: 8px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox .OneProduct .RightText .BlueText {
	color: #1b7cda;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .PageBox {
	width: 714px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}




.companypic {
	float: left;
	font-size: 12px;
	line-height: 180%;
	font-weight: normal;
	color: #55575a;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 8px;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .LoctionBox .Right {
	text-align: right;
	float: right;
}
.MainArea .MiddleBox .ImgMiddle .Newsarea {
	float: left;
	margin-left: 12px;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 0px;
}
.MainArea .MiddleBox .ImgMiddle .Newsarea .Title {
	margin-bottom: 8px;
}

.MainArea .MiddleBox .ImgMiddle .Newsarea .NewsList {
	color: #1176df;
	margin-bottom: 5px;
	margin-top: 0px;
}
.MainArea .MiddleBox .ImgMiddle .Newsarea .NewsList .Time {
	margin-right: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.MainArea .MiddleBox .ImgMiddle .Newsarea .NewsList a {
	color: #353535;
	text-decoration: none;
	font-family: "宋体";
}
.MainArea .MiddleBox .ImgMiddle .Newsarea .NewsList a:hover {
	color: #004891;
	text-decoration: underline;
	font-family: "宋体";
}
.MainArea .MiddleBox .ImgMiddle .NewProduct {
	margin-left: 15px;
	float: left;
	margin-top: 30px;
	margin-bottom: 0px;
	width: 359px;
}
.MainArea .MiddleBox .ImgMiddle .NewProduct .Title {
	margin-bottom: 8px;
}
.MainArea .MiddleBox .ImgMiddle .NewProduct .ProductList {
	width: 359px;
}

.MainArea .MiddleBox .ImgMiddle .NewProduct .ProductList .leftImg {
	float: left;
	margin-left: 0px;
}
.MainArea .MiddleBox .ImgMiddle .NewProduct .ProductList .RightText {
	float: left;
	margin-left: 8px;
	line-height: 180%;
	text-align: left;
	vertical-align: top;
	width: 242px;
}
.MainArea .MiddleBox .ImgMiddle .NewProduct .ProductList .RightText .BlueText {
	color: #1176df;
}
.MainArea .MiddleBox .ImgMiddle .NewProduct .ProductList .RightText a {
	color: #f4922d;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.MainArea .MiddleBox .ImgMiddle .LoginArea {
	text-align: right;
	float: right;
	margin-right: 12px;
	margin-top: 30px;
	margin-bottom: 0px;
	width: 222px;
}
.MainArea .MiddleBox .ImgMiddle .LoginArea .Title {
	margin-bottom: 8px;
}
.MainArea .MiddleBox .ImgMiddle .LoginArea .FormBox {
	line-height: 180%;
	color: #343434;
	width: 222px;
}
.MainArea .MiddleBox .ImgMiddle .LoginArea .FormBox input {
	background-image: url(../images/form_bg.jpg);
	height: 26px;
	width: 159px;
	margin-bottom: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-top: 5px;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-position: left center;
	text-align: left;
	margin-top: 0px;
}


.MainArea .FootBox {
	text-align: right;
	vertical-align: top;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	font-size: 12px;
	font-weight: normal;
	color: #b6dbff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:1000px; overflow:hidden;
}
.MainArea .FootBox .LeftImg {
	float: left; width:9px; overflow:hidden;
	margin-left: 0px;
}
.MainArea .FootBox .rightImg {
	float: right; width:9px; overflow:hidden;
	margin-right: 0px;
}
.MainArea .FootBox .MiddleImg {
	float: left;
	height: 31px;
	width: 982px;
	background-image: url(../images/footbg_center.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}
.MainArea .FootBox .MiddleImg .copy {
	text-align: left;
	float: left;
	margin-top: 8px;
	color: #b6dbff;
}
.MainArea .FootBox .MiddleImg .copy a {
	color: #b6dbff;
	text-decoration: none;
}
.MainArea .FootBox .MiddleImg .copy a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.MainArea .FootBox .MiddleImg .QuickLink {
	text-align: right;
	float: right;
	margin-top: 8px;
	color: #FFFFFF;
}
.MainArea .FootBox .MiddleImg .QuickLink a {
	color: #b6dbff;
	text-decoration: none;
}
.MainArea .FootBox .MiddleImg .QuickLink a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.job_bk {
	padding: 2px;
	border: 1px solid #EEEEEE;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 10px;
}

.p_title
{
	 width:100px;
	 text-align:right;
	 float:left;
}

.PageBox a,.leftImg a 
{
	text-decoration:none;
	margin-left:5px;
	color:Black;
}

.RightText
{
	text-align:left;
}
.leftImg
{
	width:270px;
}

.leftImg a,leftImg img 
{
	float:left;
}

.leftImg a
{
	width:270px;
	text-align:center;
}
.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox #OneNews h3 {
    border-bottom: 1px solid #EBEBEB;
    color: #363636;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 0;
    vertical-align: top;
}

.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox #OneNews #InfoBox
{
    line-height:30px;
}

.MainArea .MiddleBox .ImgMiddle .RightBox .ContentBox #OneNews #InfoBox img {
    border: 1px solid #EBEBEB;
    margin: 8px auto;
    padding: 5px;
}