<?xml version="1.0"?>
<Templates>
<Template>
	<Id>f6ef683d-fc3c-4ffb-8cbb-251390c9d86a</Id>
	<Content><![CDATA[<tcg:Header type="Template" id="213e4061-6e87-4534-8268-b26f972f60c3"></tcg:Header>
]]></Content>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
	<TemplateType>0</TemplateType>
	<iParentId>0</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/15 21:05:38</dUpdateDate>
	<dAddDate>2011/5/15 20:02:07</dAddDate>
	<vcTempName>index</vcTempName>
	<vcUrl>/index</vcUrl>
</Template>
<Template>
	<Id>213e4061-6e87-4534-8268-b26f972f60c3</Id>
	<Content><![CDATA[<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="robots" content="all" />
<title>广东众生药业股份有限公司</title> 
<LINK rel=stylesheet type=text/css href="css/zhongsheng.css">
<script language=Javascript src="js/AC_RunActiveContent.js" type="text/javascript"></script>
<script language="javascript" src="js/time.js"></script>
<SCRIPT language=javascript type=text/javascript src="js/jquery.tools.min.js"></SCRIPT>
<SCRIPT language=javascript type=text/javascript src="js/jquery.soChange-min.js"></SCRIPT>
<SCRIPT language=javascript type=text/javascript src="js/jquery.pngFix.js"></SCRIPT>
</head> ]]></Content>
	<SkinId>TCG-ZhongShengpharmacyCN</SkinId>
	<TemplateType>3</TemplateType>
	<iParentId>3</iParentId>
	<iSystemType>0</iSystemType>
	<dUpdateDate>2011/5/15 20:08:18</dUpdateDate>
	<dAddDate>2011/5/15 20:05:04</dAddDate>
	<vcTempName>header</vcTempName>
	<vcUrl>/html/header</vcUrl>
</Template>
</Templates>