* 
{
    padding:0px;
    margin:0px;
}

body
{
	background-color:#6d706d;
	background-image:url("../images/bg.jpg");
	background-repeat:repeat-x;
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-position:0 0;
	color:#C0C0C0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}
ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

a {
	color:#FA9C39;
}

.Header
{
	width:926px;
	height:80px;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	background-color:#1a1a1a;
}

.Header .logo{width:165px; height:60px; margin-left:15px; margin-top:10px; margin-bottom:10px; float:left;}
.Header .fontad{width:259px; height:58px; margin-left:10px; margin-top:10px; margin-bottom:10px; border:#e4d206 solid 1px;float:left; background-color:#7f847f;}
.Header .fontad li{width:123px;height:19px; float:left; padding-left:5px;font-size:12px; line-height:20px;}
.Header .imgad{width:468px; height:60px; margin-top:10px;float:left; overflow:hidden; margin-left:5px;}

.enmu
{
	width:926px;
	height:60px;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	background-color:#1a1a1a;
}

.enmu .big{ width:911px; height:30px; margin-left:15px;}
.enmu .big li{ float:left; margin-right:5px; height:28px; width:80px; text-align:center; line-height:28px; background-color:#717171; 
               font-size:14px; border-left:#e4d206 solid 1px;border-top:#e4d206 solid 1px;
               border-right:#e4d206 solid 1px;border-bottom:#717171 solid 1px; font-weight:bold;}
.enmu .big li.on { height:29px;background-color:#c5e57d;border-bottom:#c5e57d solid 1px; }
.enmu .big li.on a{color:Black;}

.enmu .small{width:924px;height:30px; background-color:#c5e57d;height:30px; line-height:30px;border:#e4d206 solid 1px;}

.enmu .small .search{ float:right;}
.enmu .small .search span{ float:left;height:30px; line-height:30px; color:Black; margin-right:3px;}
.enmu .small  .search input{ float:left; margin-top:5px;margin-right:3px;}

.enmu .small ul{float:left; margin-left:15px;}
.enmu .small ul li{ float:left;height:30px; line-height:30px;width:80px;}
.enmu .small ul li a{color:Black;}

.mainput{width:926px;height:207px;margin-left:auto;margin-right:auto; background-color:#1a1a1a;}

.mainput .imgput{clear:both; width:364px; height:198px; overflow:hidden; float:left; position:relative;border:#e4d206 solid 1px; margin-top:5px;}
.mainput .imgput .emu{ height:30px; position:absolute; top:175px; right:5px;}
.mainput .imgput .emu a { width:18px; height:18px; border:#e4d206 solid 1px; background-color:#717171; float:left;text-align:center; margin-right:2px;}

.mainput .fontput {width:330px; height:188px; padding:5px; overflow:hidden; float:left; border:#e4d206 solid 1px; margin-left:5px;margin-top:5px;}
.mainput .fontput li{ clear:both; height:18px; width:330px;}
.mainput .fontput li .infos{ float:left;display:none;}
.mainput .fontput li a{ float:left;}
.mainput .fontput li img { float:left; display:none;}
.mainput .fontput li span { float:left; display:none;}
.mainput .fontput li .datep{ float:right; display:block;}

.mainput .fontput li.on a{ float:left;}
.mainput .fontput li.on .infos{ float:left;display:block; height:70px; width:330px; border-bottom:#bee567 dashed 1px; margin-bottom:5px;}
.mainput .fontput li.on .infos .info_img{ float:left;}
.mainput .fontput li.on .infos p{ float:left; height:60px; width:260px; margin-left:4px; margin-top:5px;}
.mainput .fontput li.on .ont{ float:left; clear:right; height:20px; width:330px;color:#bee567; text-align:center; font-size:14px; font-weight:bold;}
.mainput .fontput li.on img { float:left; display:block; width:64px; height:64px; }
.mainput .fontput li.on span { float:left; display:block;}
.mainput .fontput li.on .datep{ float:right; display:none;}

.mainput .dowload { width:201px; height:118px; overflow:hidden; float:left; border:#e4d206 solid 1px; padding-left:5px;margin-left:5px;margin-top:5px; }
.mainput .dowload .mtitle{color:#bee567; font-size:14px; line-height:15px; height:15px; font-weight:bold; padding-left:5px; padding-top:5px;}
.mainput .dowload a{ }
.mainput .dowload .stitle{color:#7e7e7e; font-size:12px;font-weight:bold;padding-left:5px;line-height:20px; height:20px; clear:both;}
.mainput .rightad  { width:206px;position:relative; height:73px; overflow:hidden; float:left; border:#e4d206 solid 1px; margin-left:5px;margin-top:5px; background-color:#1a1a1a;}
.mainput .rightad .content{position:absolute;left:-25px; top:-25px;}

.mianmiddle{width:926px;height:247px;margin-left:auto;margin-right:auto; background-color:#1a1a1a;}
.mlline { float:left; margin-left:4px; width:1px; height:1px;}
.mianmiddle .tcgcmsp { float:left; margin-top:5px; width:303px;height:240px;border:#e4d206 solid 1px; }
.title{ height:28px; line-height:28px;background-color:#c5e57d;}
.title h1{ font-size:12px; color:#000000; padding-left:10px;}
.mianmiddle .tcgcmsp ul{ padding:5px;}
.mianmiddle .tcgcmsp li{ line-height:20px; height:20px;}
.mianmiddle .tcgcmsp li .datep{ float:right;}

.hfbannerad {width:926px;height:60px;margin-left:auto;margin-right:auto; background-color:#1a1a1a; padding-top:5px; overflow:hidden;}